<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- css -->
    <th:block th:replace="layout/css.html"></th:block>

    <title th:text="${@environment.getProperty('title')} + ' | About Us Detail'"></title>
</head>

<body>
<div id="page-content-wrapper">
    <!-- header -->
    <div th:replace="layout/header::header"></div>

    <div class="container">
        <div class="page-header breadcrumbs" data-aos="fade-up">
            <div class="d-flex justify-content-between align-items-center" data-aos="fade-up">
                <h2>About Us</h2>
                <ol>
                    <li>Home</li>
                    <li>About Us Detail</li>
                </ol>
            </div>
        </div>

        <div id="loading">
            <img th:src="@{/images/loading.gif}" alt="Loading…"/>
        </div>

        <div class="page-content" data-aos="fade-up">
            <div class="mt-5 ml-2 about-us">
                <div class="who-we-are">
                    <h3 class="mb-3">Who we are</h3>
                    <span th:utext="${#strings.isEmpty(aboutUsDto)} ? 'No content.' : ${aboutUsDto.content}"></span>
                </div>

                <div class="row mt-5">
                    <div class="col-md-6 d-md-flex align-items-md-stretch">
                        <div class="count-box">
                            <i class="far fa-calendar"></i>
                            <span class="count-number" data-toggle="counter-up" th:text="${labMaintenanceYears}"></span>
                            <span class="count-title">&nbsp;Years</span><br>

                            <span class="count-info" th:text="'Since ' + ${#temporals.format(labStartDate,'yyyy-MM-dd')}"></span> <br>
                            <span class="count-content" th:text="${labMaintenanceYearsCountContent}"></span>
                        </div>
                    </div>
                    <div class="col-md-6 d-md-flex align-items-md-stretch">
                        <div class="count-box">
                            <i class="fas fa-users"></i>
                            <span class="count-number" data-toggle="counter-up" th:text="${attendingPhdUserCount + attendingMsUserCount}"></span>
                            <span class="count-title">&nbsp;Members</span><br>

                            <span class="count-info" th:text="'Ph.D Students: ' + ${attendingPhdUserCount}"></span>, <span class="count-info" th:text="'M.S Students: ' + ${attendingMsUserCount}"></span><br>
                            <span class="count-content" th:text="${userCountContent}"></span>
                        </div>
                    </div>
                    <div class="col-md-6 d-md-flex align-items-md-stretch">
                        <div class="count-box">
                            <i class="fas fa-copy"></i>
                            <span class="count-number" data-toggle="counter-up" th:text="${publicationCount}"></span>
                            <span class="count-title">&nbsp;Papers</span><br>

                            <span class="count-content" th:text="${publicationCountContent}"></span>
                        </div>
                    </div>
                    <div class="col-md-6 d-md-flex align-items-md-stretch">
                        <div class="count-box">
                            <i class="fas fa-folder-open"></i>
                            <span class="count-number" data-toggle="counter-up" th:text="${projectCount}"></span>
                            <span class="count-title">&nbsp;Projects</span><br>

                            <span class="count-content" th:text="${projectCountContent}"></span>
                        </div>
                    </div>
                </div>

                <div class="count-box">
                    <i class="fas fa-map-marked-alt"></i>
                    <span class="count-title">Location</span><br>

                    <span class="count-content" th:text="${labAddress}"></span>

                    <iframe class="mt-3" th:attr="src=@{|${@environment.getProperty('google.map.embeded.api.url')}|}" allow="fullscreen" frameborder="0"></iframe>
                </div>

                <div class="count-box">
                    <i class="far fa-address-card"></i>
                    <span class="count-title">Contact</span><br>

                    <i class="fas fa-envelope contact-icon" style="font-size: 1.25rem"></i> <span class="count-content" th:text="${emailRecipient}"></span> <a th:href="'mailto:' + ${emailAddress}" th:text="${emailAddress}"
                                                                                                                                                               class="link"></a> <br>
                    <i class="fas fa-phone-alt contact-icon" style="font-size: 1.25rem"></i> <span class="count-content" th:text="${callee}"> </span><a th:href="'tel:' + ${phoneNumber}" th:text="${phoneNumber}" class="link"></a>
                </div>
            </div>
        </div>

        <nav class="mt-5">
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-link link-black active" id="learn-more-read-tab" data-toggle="tab" href="#learn-more-read" role="tab" aria-controls="learn-more-read" aria-selected="false">Learn More Read</a>
                <a class="nav-item nav-link link-black" id="learn-more-video-tab" data-toggle="tab" href="#learn-more-video" role="tab" aria-controls="learn-more-video" aria-selected="false">Learn More Video</a>
            </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active mt-4 learn-more-read-wrapper" id="learn-more-read" role="tabpanel" aria-labelledby="learn-more-read-tab">
                <div th:if="!${#lists.isEmpty(learnMoreReadDtoList)}">
                    <div>
                        <button id="prev" class="btn-main btn-sm mr-2">Previous</button>
                        <button id="next" class="btn-main btn-sm">Next</button>
                        <span class="float-right"> Page: <span id="page_num"></span> / <span id="page_count"></span> </span>
                    </div>
                    <canvas id="the-canvas" class="learn-more-read-content img-thumbnail"></canvas>
                </div>
            </div>
            <div class="tab-pane fade mt-4 learn-more-video-wrapper" id="learn-more-video" role="tabpanel" aria-labelledby="learn-more-video-tab">
                <video controls th:if="!${#lists.isEmpty(learnMoreVideoDtoList)}" class="learn-more-video-content">
                    <source th:attr="src=@{|${@environment.getProperty('module-app-api.address')}/api/attachedFiles/view-video/${learnMoreVideoDtoList[0].attachedFileList[0].savedFileName}|}" type="video/mp4">
                    Sorry, your browser doesn't support embedded videos.
                </video>
            </div>
        </div>
    </div>

    <div class="row mt-4 mb-4"></div>
</div>

<!-- footer -->
<div th:replace="layout/footer::footer"></div>

<!-- script file -->
<th:block th:replace="layout/script.html"></th:block>

<script th:inline="javascript">
    var learnMoreReadDtoList = [[${learnMoreReadDtoList}]];

    if (!isEmpty(learnMoreReadDtoList)) {
        var url = moduleAppApiAddress + "/api/attachedFiles/view-pdf/" + learnMoreReadDtoList[0].attachedFileList[0].savedFileName;

        // Loaded via <script> tag, create shortcut to access PDF.js exports.
        var pdfjsLib = window['pdfjs-dist/build/pdf'];

        // The workerSrc property shall be specified.
        pdfjsLib.GlobalWorkerOptions.workerSrc = '/pdfjs/build/pdf.worker.js';

        var pdfDoc = null,
            pageNum = 1,
            pageRendering = false,
            pageNumPending = null,
            scale = 2,
            canvas = document.getElementById("the-canvas"),
            ctx = canvas.getContext("2d");

        /**
         * Get page info from document, resize canvas accordingly, and render page.
         * @param num Page number.
         */
        function renderPage(num) {
            pageRendering = true;
            // Using promise to fetch the page
            pdfDoc.getPage(num).then(function (page) {
                var viewport = page.getViewport({scale: scale});
                canvas.height = viewport.height;
                canvas.width = viewport.width;

                // Render PDF page into canvas context
                var renderContext = {
                    canvasContext: ctx,
                    viewport: viewport
                };
                var renderTask = page.render(renderContext);

                // Wait for rendering to finish
                renderTask.promise.then(function () {
                    pageRendering = false;
                    if (pageNumPending !== null) {
                        // New page rendering is pending
                        renderPage(pageNumPending);
                        pageNumPending = null;
                    }
                });
            });

            // Update page counters
            document.getElementById("page_num").textContent = num;
        }

        /**
         * If another page rendering in progress, waits until the rendering is
         * finised. Otherwise, executes rendering immediately.
         */
        function queueRenderPage(num) {
            if (pageRendering) {
                pageNumPending = num;
            } else {
                renderPage(num);
            }
        }

        /**
         * Displays previous page.
         */
        function onPrevPage() {
            if (pageNum <= 1) {
                return;
            }
            pageNum--;
            queueRenderPage(pageNum);
        }

        document.getElementById("prev").addEventListener("click", onPrevPage);

        /**
         * Displays next page.
         */
        function onNextPage() {
            if (pageNum >= pdfDoc.numPages) {
                return;
            }
            pageNum++;
            queueRenderPage(pageNum);
        }

        document.getElementById("next").addEventListener("click", onNextPage);

        /**
         * Asynchronously downloads PDF.
         */
        pdfjsLib.getDocument(url).promise.then(function (pdfDoc_) {
            pdfDoc = pdfDoc_;
            document.getElementById("page_count").textContent = pdfDoc.numPages;

            // Initial/first page rendering
            renderPage(pageNum);
        });
    }
</script>
</body>
</html>