<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- css -->
    <th:block th:replace="layout/css.html"></th:block>

    <title th:text="${@environment.getProperty('title')} + ' | About Us Detail'"></title>
</head>

<body>
<div id="wrapper">
    <div id="page-content-wrapper">
        <!-- header -->
        <div th:replace="layout/header::header"></div>

        <div class="container">
            <div class="page-header breadcrumbs" data-aos="fade-up" data-aos-delay="100">
                <div class="d-flex justify-content-between align-items-center">
                    <h2>About Us</h2>
                    <ol>
                        <li>Home</li>
                        <li>About Us Detail</li>
                    </ol>
                </div>
            </div>

            <div class="mt-5 ml-2 about-us" data-aos="fade-up" data-aos-delay="150">
                <div class="row">
                    <div class="who-we-are col-lg-6 order-1 order-lg-1">
                        <h3 class="mb-4">Who we are</h3>
                        <span th:utext="${#strings.isEmpty(aboutUsDto)} ? 'No content.' : ${aboutUsDto.content}"></span>
                    </div>
                    <div class="lab-status col-lg-6 order-2 order-lg-2">
                        <div class="row">
                            <div class="col-md-6 d-md-flex align-items-md-stretch">
                                <div class="count-box">
                                    <i class="icofont-clock-time"></i>
                                    <span class="count-number" data-toggle="counter-up" th:text="${aboutUsDto.labMaintenanceYears}"></span> <br>
                                    <span class="count-info" th:text="'Since ' + ${#temporals.format(aboutUsDto.labStartDate,'yyyy-MM-dd')}"></span> <br>
                                    <span class="count-content" th:text="${aboutUsDto.labMaintenanceYearsCountContent}"></span>
                                </div>
                            </div>

                            <div class="col-md-6 d-md-flex align-items-md-stretch">
                                <div class="count-box">
                                    <i class="icofont-people"></i>
                                    <span class="count-number" data-toggle="counter-up" th:text="${aboutUsDto.attendingPhdUserCount + aboutUsDto.attendingMsUserCount}  "></span> <br>
                                    <span class="count-info" th:text="'Ph.D Students: ' + ${aboutUsDto.attendingPhdUserCount}"></span>, <span class="count-info" th:text="'M.S Students: ' + ${aboutUsDto.attendingMsUserCount}"></span> <br>
                                    <span class="count-content" th:text="${aboutUsDto.userCountContent}"></span>
                                </div>
                            </div>
                            <div class="col-md-6 d-md-flex align-items-md-stretch">
                                <div class="count-box">
                                    <i class="icofont-papers"></i>
                                    <span class="count-number" data-toggle="counter-up" th:text="${aboutUsDto.publicationCount}"></span> <br>
                                    <span class="count-content" th:text="${aboutUsDto.publicationCountContent}">
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-6 d-md-flex align-items-md-stretch">
                                <div class="count-box">
                                    <i class="icofont-document-folder"></i>
                                    <span class="count-number" data-toggle="counter-up" th:text="${aboutUsDto.projectCount}"></span> <br>
                                    <span class="count-content" th:text="${aboutUsDto.projectCountContent}"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <nav class="mt-5" data-aos="fade-up" data-aos-delay="200">
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link link-black active" id="learn-more-read-tab" data-toggle="tab" href="#learn-more-read" role="tab" aria-controls="learn-more-read" aria-selected="false">Learn More Read</a>
                    <a class="nav-item nav-link link-black" id="learn-more-video-tab" data-toggle="tab" href="#learn-more-video" role="tab" aria-controls="learn-more-video" aria-selected="false">Learn More Video</a>
                </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active mt-4 learn-more-read-wrapper" id="learn-more-read" role="tabpanel" aria-labelledby="learn-more-read-tab">
                    <div th:if="!${#lists.isEmpty(learnMoreReadDtoList)}">
                        <div>
                            <button id="prev" class="btn-main">Previous</button>
                            <button id="next" class="btn-main mx-3">Next</button>
                            <span class="float-right"> Page: <span id="page_num"></span> / <span id="page_count"></span> </span>
                        </div>
                        <canvas id="the-canvas" class="learn-more-read-content img-thumbnail"></canvas>
                    </div>
                </div>
                <div class="tab-pane fade mt-4 learn-more-video-wrapper" id="learn-more-video" role="tabpanel" aria-labelledby="learn-more-video-tab">
                    <video controls th:if="!${#lists.isEmpty(learnMoreVideoDtoList)}" class="learn-more-video-content">
                        <source th:attr="src=@{|${@environment.getProperty('module-app-api.address')}/api/attachedFiles/view-video/${learnMoreVideoDtoList[0].attachedFileList[0].savedFileName}|}" type="video/mp4">
                        Sorry, your browser doesn't support embedded videos.
                    </video>
                </div>
            </div>

            <div class="mt-5 mb-3"></div>
        </div>
    </div>
</div>

<!-- footer -->
<div th:replace="layout/footer::footer"></div>

<!-- script file -->
<th:block th:replace="layout/script.html"></th:block>

<script th:inline="javascript">
    var learnMoreReadDtoList = [[${learnMoreReadDtoList}]];

    if (!isEmpty(learnMoreReadDtoList)) {
        var url = moduleAppApiAddress + "/api/attachedFiles/view-pdf/" + learnMoreReadDtoList[0].attachedFileList[0].savedFileName;

        // Loaded via <script> tag, create shortcut to access PDF.js exports.
        var pdfjsLib = window['pdfjs-dist/build/pdf'];

        // The workerSrc property shall be specified.
        pdfjsLib.GlobalWorkerOptions.workerSrc = '/pdfjs/build/pdf.worker.js';

        var pdfDoc = null,
            pageNum = 1,
            pageRendering = false,
            pageNumPending = null,
            scale = 2,
            canvas = document.getElementById("the-canvas"),
            ctx = canvas.getContext("2d");

        /**
         * Get page info from document, resize canvas accordingly, and render page.
         * @param num Page number.
         */
        function renderPage(num) {
            pageRendering = true;
            // Using promise to fetch the page
            pdfDoc.getPage(num).then(function (page) {
                var viewport = page.getViewport({scale: scale});
                canvas.height = viewport.height;
                canvas.width = viewport.width;

                // Render PDF page into canvas context
                var renderContext = {
                    canvasContext: ctx,
                    viewport: viewport
                };
                var renderTask = page.render(renderContext);

                // Wait for rendering to finish
                renderTask.promise.then(function () {
                    pageRendering = false;
                    if (pageNumPending !== null) {
                        // New page rendering is pending
                        renderPage(pageNumPending);
                        pageNumPending = null;
                    }
                });
            });

            // Update page counters
            document.getElementById("page_num").textContent = num;
        }

        /**
         * If another page rendering in progress, waits until the rendering is
         * finised. Otherwise, executes rendering immediately.
         */
        function queueRenderPage(num) {
            if (pageRendering) {
                pageNumPending = num;
            } else {
                renderPage(num);
            }
        }

        /**
         * Displays previous page.
         */
        function onPrevPage() {
            if (pageNum <= 1) {
                return;
            }
            pageNum--;
            queueRenderPage(pageNum);
        }

        document.getElementById("prev").addEventListener("click", onPrevPage);

        /**
         * Displays next page.
         */
        function onNextPage() {
            if (pageNum >= pdfDoc.numPages) {
                return;
            }
            pageNum++;
            queueRenderPage(pageNum);
        }

        document.getElementById("next").addEventListener("click", onNextPage);

        /**
         * Asynchronously downloads PDF.
         */
        pdfjsLib.getDocument(url).promise.then(function (pdfDoc_) {
            pdfDoc = pdfDoc_;
            document.getElementById("page_count").textContent = pdfDoc.numPages;

            // Initial/first page rendering
            renderPage(pageNum);
        });
    }
</script>
</body>
</html>