<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- css -->
    <th:block th:replace="layout/css.html"></th:block>

    <title th:text="${@environment.getProperty('title')} + ' | Project Read'"></title>
</head>
<body>

<div class="d-flex" id="wrapper">
    <!-- sidebar -->
    <div th:replace="layout/sidebar::sidebar"></div>

    <div id="page-content-wrapper">
        <!-- header -->
        <div th:replace="layout/header::header"></div>

        <div class="container-fluid">
            <form name="form" id="form" th:object="${projectDto}" action="#">
                <div class="page-header breadcrumbs">
                    <div class="d-flex justify-content-between align-items-center">
                        <h2>Project Read</h2>
                        <ol>
                            <li>Home</li>
                            <img src="/images/chevron-right.svg">
                            <li>Project Read/li>
                        </ol>
                    </div>
                </div>

                <div class="mt-5">
                    <table class="table">
                        <colgroup>
                            <col width="17.5%"/>
                            <col width="82.5%"/>
                        </colgroup>
                        <tr>
                            <th colspan="2" class="sub-item-title">Project Information</th>
                        </tr>
                        <tr>
                            <th>Title</th>
                            <td><span id="title" th:text="*{title}"></span></td>
                        </tr>
                        <tr>
                            <th>Research Field</th>
                            <td>
                                <span th:if="!${#strings.isEmpty(researchFieldDto)}" th:text="${researchFieldDto.title}"></span>
                                <span th:if="${#strings.isEmpty(researchFieldDto)}" th:text="'This field is inactive or deleted.'"></span>
                            </td>
                        </tr>
                        <tr>
                            <th>Research Establishment</th>
                            <td><span name="researchEstablishment" id="researchEstablishment" th:text="*{researchEstablishment}"/></td>
                        </tr>
                        <tr>
                            <th>Project Status</th>
                            <td>
                                <div>
                                    <span th:if="*{projectStatus?.name() == 'CURRENT'}" th:text="Current"> </span>
                                    <span th:if="*{projectStatus?.name() == 'PREVIOUS'}" th:text="Previous"> </span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th>Start Date</th>
                            <td><span id="startDate" th:text="*{startDate}"></span></td>
                        </tr>
                        <tr th:if="*{projectStatus?.name() == 'PREVIOUS'}">
                            <th>End Date</th>
                            <td><span id="endDate" th:text="*{endDate}"></span></td>
                        </tr>
                        <tr>
                            <td colspan="2"><span class="form-control form-control-sm content" id="content" th:utext="*{content}"></span></td>
                        </tr>
                        <tr>
                            <th>Uploaded Attached File</th>
                            <td>
                                <div id="attachedFileList" th:each="attachedFile : *{attachedFileList}">
                                <span th:attr="onclick=|location.href='${@environment.getProperty('module-app-api.address')}/api/attachedFiles/download/${attachedFile.savedFileName}'|"
                                      th:text="${attachedFile.fileName} + ',&nbsp;' + 'File size: ' + ${attachedFile.fileSize}"></span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th colspan="2" class="sub-item-title">Additional Information</th>
                        </tr>
                        <tr>
                            <th>Active Status</th>
                            <td>
                                <div>
                                    <span th:if="*{activeStatus?.name() == 'ACTIVE'}" th:text="Active"> </span>
                                    <span th:if="*{activeStatus?.name() == 'INACTIVE'}" th:text="Inactive"> </span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th>Created Date</th>
                            <td><span th:text="*{#temporals.format(createdDate,'yyyy-MM-dd HH:mm')}"/></td>
                        </tr>
                        <tr>
                            <th>Last Modified Date</th>
                            <td><span th:text="*{#temporals.format(lastModifiedDate,'yyyy-MM-dd HH:mm')}"/></td>
                        </tr>
                        <tr>
                            <th>Created By</th>
                            <td><span th:text="*{createdBy}"/></td>
                        </tr>
                        <tr>
                            <th>Last Created By</th>
                            <td><span th:text="*{lastModifiedBy}"/></td>
                        </tr>
                        <tr>
                            <th>Views</th>
                            <td><span th:text="*{views}"/></td>
                        </tr>
                    </table>
                </div>

                <div class="row justify-content-between mt-5 mb-3">
                    <div class="col-auto mx-3">
                        <a href="/project/list" class="btn btn-secondary">Move to List</a>
                    </div>
                    <div th:if="*{access}" class="col-auto mx-3">
                        <div th:if="*{access}">
                            <a th:href="'/project/form?idx='+*{idx}" class="btn btn-info mx-1">Update</a>
                            <button type="button" class="btn btn-danger mx-1" id="delete">Delete</button>
                        </div>
                    </div>
                </div>

                <!-- input type="hidden" -->
                <input type="hidden" name="idx" th:value="*{idx}"/>
            </form>
        </div>
    </div>
</div>

<!-- footer -->
<div th:replace="layout/footer::footer"></div>

<!-- script file -->
<th:block th:replace="layout/script.html"></th:block>

<script th:inline="javascript">
    $("#delete").click(function () {
        Confirm.fire({
            icon: "warning",
            title: "Do you want to delete?",
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    url: moduleAppApiAddress + "/api/projects/" + document.getElementsByName("idx")[0].value,
                    type: "delete",
                    dataType: "text",
                    contentType: "application/json",
                    async: false,
                })
                    .done(function (msg) {
                        localStorage.setItem("result", "/project/delete-success");
                        location.href = "/project/list";
                    })
                    .fail(function (msg) {
                        parseErrorMsg(msg);
                    })
            } else {
                return false;
            }
        })
    });
</script>

</body>
</html>