<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- css -->
    <th:block th:replace="layout/css.html"></th:block>

    <title>Publication List</title>
</head>
<body>
<!-- header -->
<div th:replace="layout/header::header"></div>

<div class="container">
    <div class="page-header">
        <h1>Publication List</h1>
    </div>

    <form name="form" id="form" th:object="${publicationSearchDto}" action="#">
        <div class="pull-right">
            <div>
                <label th:for="showAll"> Show All </label>
                <input type="radio" name="publicationSearchType" id="showAll" th:value="SHOW_ALL"
                       th:checked="*{publicationSearchType?.name() == 'SHOW_ALL' ||  publicationSearchType?.name() == null}">
                <br>
                <label th:for="internationalJournal"> International Journal </label>
                <input type="radio" name="publicationSearchType" id="internationalJournal"
                       th:value="INTERNATIONAL_JOURNAL"
                       th:checked="*{publicationSearchType?.name() == 'INTERNATIONAL_JOURNAL'}"> <br>
                <label th:for="internationalConference"> International Conference </label>
                <input type="radio" name="publicationSearchType" id="internationalConference"
                       th:value="INTERNATIONAL_CONFERENCE"
                       th:checked="*{publicationSearchType?.name() == 'INTERNATIONAL_CONFERENCE'}"> <br>
                <label th:for="domesticJournal"> Domestic Journal </label>
                <input type="radio" name="publicationSearchType" id="domesticJournal" th:value="DOMESTIC_JOURNAL"
                       th:checked="*{publicationSearchType?.name() == 'DOMESTIC_JOURNAL'}"> <br>
                <label th:for="domesticConference"> Domestic Conference </label>
                <input type="radio" name="publicationSearchType" id="domesticConference" th:value="DOMESTIC_CONFERENCE"
                       th:checked="*{publicationSearchType?.name() == 'DOMESTIC_CONFERENCE'}"> <br>
            </div>

            <div class="pull-left" style="width: 100px; margin: 10px 10px;">
                <select name="searchType" th:field="*{searchType}" class="form-control input-sm">
                    <option th:value="TITLE">title</option>
                    <option th:value="AUTHORS">authors</option>
                    <option th:value="PUBLISHED_IN">published in</option>
                </select>
            </div>

            <div class="pull-left" style="width: 200px; margin: 10px 10px; float: left;">
                <input type="text" name="keyword" class="col-md-1 form-control input-sm"
                       th:value="*{keyword}"/>
            </div>

            <div class="pull-left" style="width: 100px; margin: 10px 0; float:left;">
                <button id="search" type="button" class="btn btn-primary btn-block">Search</button>
            </div>
        </div>

        <br/> <br/> <br/>
        <div id="mainHide">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th class="col-md-1">idx</th>
                    <th class="col-md-3">title</th>
                    <th class="col-md-2">authors</th>
                    <th class="col-md-2">conference</th>
                    <th class="col-md-2">published date</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="publicationDto : ${publicationDtoList}">
                    <td th:text="${publicationDto.idx}"></td>
                    <td th:text="${publicationDto.title}"></td>
                    <td th:text="${publicationDto.authors}"></td>
                    <td th:text="${publicationDto.publishedIn}"></td>
                    <td th:text="${#temporals.format(publicationDto.publishedDate,'yyyy-MM-dd')}"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <br>

        <p id="loading">
            <img th:src="@{/images/loading.gif}" alt="Loading…"/>
        </p>
    </form>
</div>

<!-- footer -->
<div th:replace="layout/footer::footer"></div>

<!-- script file -->
<th:block th:replace="layout/script.html"></th:block>

<script th:inline="javascript">
    var list = ([[${publicationDtoList}]]);
    var lastIdx = 0;
    var isLast = false;
    var uri = null;

    // 조회하는 데이터가 10개 보다 적은 경우 loading.gif를 hide
    if (list.length < 10) {
        $("#loading").hide();
    }
    // 처음 발생하는 scroll event에서 데이터를 가져오는 기준이 된다.(마지막 배열 요소의 idx)
    else {
        lastIdx = list[list.length - 1].idx;
    }

    console.log(list.length);

    $(document).ready(function () {
        var win = $(window);

        // Each time the user scrolls
        win.scroll(function () {
            if ($(window).scrollTop() + $(window).height() > $(document).height() - 100) {
                // 더이상 가져오는 데이터가 없는 경우
                if (isLast) {
                    $('#loading').hide();
                    return;
                }

                $('#loading').show();

                // 처음과 마지막 데이터가 중복되는 경우를 제거하기 위해서 lastIdx에서 1을 뺀다.
                uri = {lastIdx: lastIdx - 1};

                // URI 생성
                Object.assign(uri, getUriParams());
                uri = makeGetUri("http://localhost:8081/api/publications/list_scroll", uri);

                $.ajax({
                    url: uri,
                    type: "get",
                    dataType: "text",
                    contentType: "application/json",
                    async: false,
                })
                    .done(function (msg) {
                        // 가져오는 데이터가 없는 경우
                        if ((JSON.parse(msg)).length == 0) {
                            isLast = true;
                            return;
                        }

                        // 다음 발생하는 scroll event에서 데이터를 가져오는 기준이 된다.(마지막 배열 요소의 idx)
                        lastIdx = (JSON.parse(msg))[(JSON.parse(msg)).length - 1].idx;

                        setTimeout(function () {
                            $('#loading').hide();
                        }, 2500);

                        // ajax를 통하여 받은 데이터를 html에 출력한다.
                        $("#mainHide").append(msg);
                    })
                    .fail(function (msg) {
                        console.log("Fail to get data.");
                        $('#loading').hide();
                    })
            }
        });
    });

    $("#search").click(function () {
        document.form.action = "/publication/list_scroll";
        document.form.method = "get";
        document.form.submit();
    });
</script>

</body>
</html>