<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- css -->
    <th:block th:replace="layout/css.html"></th:block>

    <title>Publication Read</title>
</head>
<body>
<!-- header -->
<div th:replace="layout/header::header"></div>

<div class="container">
    <form id="form" th:object="${publicationDto}" action="#">

        <div class="page-header">
            <h1>Publication Read</h1>
        </div>
        <br/>
        <table class="table" style="table-layout:fixed; word-break:break-all;">
            <colgroup>
                <col width="15%"/>
                <col width="85%"/>
            </colgroup>
            <tr>
                <th style="padding:13px 0 0 15px;">Created Date</th>
                <td><input type="text" class="col-md-1 form-control input-sm" readonly="readonly"
                           th:value="*{#temporals.format(createdDate,'yyyy-MM-dd HH:mm')}"/></td>
            </tr>
            <tr>
                <th style="padding:13px 0 0 15px;">Modified Date</th>
                <td><input type="text" class="col-md-1 form-control input-sm" readonly="readonly"
                           th:value="*{#temporals.format(lastModifiedDate,'yyyy-MM-dd HH:mm')}"/></td>
            </tr>
            <tr>
                <th style="padding:13px 0 0 15px">Active Status</th>
                <td>
                    <div class="pull-left">
                        <span class="col-md-1 form-control input-sm" th:if="*{activeStatus?.name() == 'ACTIVE'}"
                              th:text="Active"> </span>
                        <span class="col-md-1 form-control input-sm" th:if="*{activeStatus?.name() == 'INACTIVE'}"
                              th:text="Inactive"> </span>
                    </div>
                </td>
            </tr>
            <tr>
                <th style="padding:13px 0 0 15px;">Title</th>
                <td><span id="title" class="col-md-1 form-control input-sm" th:text="*{title}"></span></td>
            </tr>
            <tr>
                <th style="padding:13px 0 0 15px;">Authors</th>
                <td><span id="authors" class="col-md-1 form-control input-sm" th:text="*{authors}"></span></td>
            </tr>

            <tr>
                <th style="padding:13px 0 0 15px">Publication Type</th>
                <td>
                    <div class="pull-left">
                        <span class="col-md-1 form-control input-sm" th:if="*{publicationType?.name() == 'JOURNAL'}"
                              th:text="Journal"> </span>
                        <span class="col-md-1 form-control input-sm" th:if="*{publicationType?.name() == 'POSTER'}"
                              th:text="Poster"> </span>
                        <span class="col-md-1 form-control input-sm" th:if="*{publicationType?.name() == 'REGULAR'}"
                              th:text="Regular"> </span>
                        <span class="col-md-1 form-control input-sm" th:if="*{publicationType?.name() == 'DEMO'}"
                              th:text="Demo"> </span>
                        <span class="col-md-1 form-control input-sm" th:if="*{publicationType?.name() == 'WORKSHOP'}"
                              th:text="Workshop"> </span>
                        <span class="col-md-1 form-control input-sm"
                              th:if="*{publicationType?.name() == 'WORKINPROCESS'}" th:text="Work in Process"> </span>
                    </div>
                </td>
            </tr>
            <tr>
                <th style="padding:13px 0 0 15px">Publishing Area</th>
                <td>
                    <div class="pull-left">
                        <span class="col-md-1 form-control input-sm" th:if="*{publishingArea?.name() == 'DOMESTIC'}"
                              th:text="Domestic"> </span>
                        <span class="col-md-1 form-control input-sm" th:if="*{publishingArea?.name() == 'INTERNATIONAL'}"
                              th:text="International"> </span>
                    </div>
                </td>
            </tr>
            <tr>
                <th style="padding:13px 0 0 15px;">Published In</th>
                <td><span id="publishedIn" class="col-md-1 form-control input-sm" th:text="*{publishedIn}"></span></td>
            </tr>
            <tr>
                <th style="padding:13px 0 0 15px;">Impact Factor</th>
                <td><span id="impactFactor" class="col-md-1 form-control input-sm" th:text="*{impactFactor}"></span>
                </td>
            </tr>
            <tr>
                <th style="padding:13px 0 0 15px;">Published Date</th>

                <td><input type="text" class="col-md-1 form-control input-sm" readonly="readonly"
                           th:value="*{#temporals.format(publishedDate,'yyyy-MM-dd')}"/></td>
            </tr>
            <tr>
                <th style="padding:13px 0 0 15px;">Pages</th>
                <td><span id="pages" class="col-md-1 form-control input-sm" th:text="*{pages}"></span></td>
            </tr>
            <tr>
                <th style="padding:13px 0 0 15px;">Volume</th>
                <td><span id="volume" class="col-md-1 form-control input-sm" th:text="*{volume}"></span></td>
            </tr>
            <tr>
                <th style="padding:13px 0 0 15px;">Number</th>
                <td><span id="number" class="col-md-1 form-control input-sm" th:text="*{number}"></span></td>
            </tr>
            <tr>
                <th style="padding:13px 0 0 15px;">Doi</th>
                <td><span id="Doi" class="col-md-1 form-control input-sm" th:text="*{Doi}"></span></td>
            </tr>
            <tr>
                <th style="padding:13px 0 0 15px;">URI</th>
                <td><span id="uri" class="col-md-1 form-control input-sm" th:text="*{Doi}"></span></td>
            </tr>
            <tr>
                <th style="padding:13px 0 0 15px;">ISBN/ISSN</th>
                <td><span id="ISBN/ISSN" class="col-md-1 form-control input-sm" th:text="*{isbnIssn}"></span></td>
            </tr>
            <tr>
                <th style="padding:13px 0 0 15px;">Remark</th>
                <td><span id="remark" class="col-md-1 form-control input-sm" th:text="*{remark}"></span></td>
            </tr>

            <tr>
                <th>Uploaded Attached File</th>
                <td>
                    <div id="attachedFileList" th:each="attachedFile : *{attachedFileList}">
                        <span th:attr="onclick=|location.href='http://localhost:8081/api/attachedFiles/download/${attachedFile.savedFileName}'|"
                              th:text="${attachedFile.fileName} + ',&nbsp;' + 'File size: ' + ${attachedFile.fileSize}"></span>
                    </div>
                </td>
            </tr>

            <tr>
                <td></td>
                <td></td>
            </tr>
        </table>

        <div class="pull-left">
            <a href="/publication/list" class="btn btn-default">Move to List</a>
        </div>
        <div class="pull-right" th:if="*{access}">
            <a th:href="'/publication/form?idx='+*{idx}" class="btn btn-info">Update</a>
            <button type="button" class="btn btn-danger" id="delete">Delete</button>
        </div>

        <!-- input type="hidden" -->
        <input type="hidden" name="idx" th:value="*{idx}"/>

    </form>
</div>

<!-- footer -->
<div th:replace="layout/footer::footer"></div>

<!-- script file -->
<th:block th:replace="layout/script.html"></th:block>

<script th:inline="javascript">
    $('#delete').click(function () {
        if (!confirm("Do you want to delete comment?")) {
            return true;
        }

        // 게시글 삭제
        $.ajax({
            url: "http://localhost:8081/api/publications/" + document.getElementsByName('idx')[0].value,
            type: "delete",
            dataType: "text",
            contentType: "application/json",
            async: false,
        })
            .done(function (msg) {
                location.href = "/publication/list";
            })
            .fail(function (msg) {
                console.log("Delete publication is fail.");
            });
    });
</script>
</body>
</html>