<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- css -->
    <th:block th:replace="layout/css.html"></th:block>

    <title th:text="${@environment.getProperty('title')} + ' | Album List'"></title>
</head>
<body>
<div class="d-flex" id="wrapper">
    <!-- sidebar -->
    <div th:replace="layout/sidebar::sidebar"></div>

    <div id="page-content-wrapper">
        <!-- header -->
        <div th:replace="layout/header::header"></div>

        <div class="container-fluid">
            <form name="form" id="form" th:object="${albumDto}" action="#">
                <div class="page-header breadcrumbs">
                    <div class="d-flex justify-content-between align-items-center">
                        <h2>Album Read</h2>
                        <ol>
                            <li>Home</li>
                            <li>Album Read</li>
                        </ol>
                    </div>
                </div>

                <div class="mt-5">
                    <table class="table">
                        <colgroup>
                            <col width="17.5%"/>
                            <col width="47.5%"/>
                            <col width="35%"/>
                        </colgroup>
                        <tr>
                            <th colspan="3" class="sub-item-title">Album Information</th>
                        </tr>
                        <tr>
                            <th>Title</th>
                            <td colspan="2"><span id="title" th:text="*{title}"></span></td>
                        </tr>
                        <tr>
                            <th>Photo Taken Date</th>
                            <td colspan="2"><span type="date" id="photoTakenDate" th:text="*{#temporals.format(photoTakenDate,'yyyy-MM-dd')}"/></td>
                        </tr>
                        <tr>
                            <th>Main Page Priority</th>
                            <td colspan="2"><span id="mainPagePriority" class="main-page-priority" th:text="*{mainPagePriority == -1} ? 'This post not shown on the main page.' : *{mainPagePriority}"/></td>
                        </tr>
                        <tr>
                            <th>Main Hash Tag</th>
                            <td colspan="2"><span id="mainHashTag" th:text="*{mainHashTag}"></span></td>
                        </tr>
                        <tr>
                            <th>Hash Tags</th>
                            <td colspan="2">
                                <span th:each="hashTag : *{#strings.arraySplit(hashTags,'#')}">
                                    <span id="hashTag" class="hash-tag" th:text="'#' + ${hashTag}"></span>
                                </span>
                            </td>
                        </tr>
                        <th>Uploaded Attached File</th>
                        <td>
                            <div id="attachedFileList" th:each="attachedFile : *{attachedFileList}">
                                <span th:attr="onclick=|location.href='${@environment.getProperty('module-app-api.address')}/api/attachedFiles/download/${attachedFile.savedFileName}'|"
                                      th:text="${attachedFile.fileName} + ',&nbsp;' + 'File size: ' + ${attachedFile.fileSize}"></span>
                            </div>
                        </td>
                        <td>
                            <img th:if="*{attachedFileList.size()} == 0" th:attr="src=@{/images/no-preview-available.jpg}" class="float-right general-img-preview img-thumbnail"/>
                            <img th:if="*{attachedFileList.size()} != 0" th:attr="src=@{|${@environment.getProperty('module-app-api.address')}/api/attachedFiles/download/*{attachedFileList[0].savedFileName}|}"
                                 class="float-right general-img-preview img-thumbnail"/>
                        </td>
                        </tr>
                        <tr>
                            <th colspan="3" class="sub-item-title">Additional Information</th>
                        </tr>
                        <tr>
                            <th>Active Status</th>
                            <td colspan="2">
                                <div>
                                    <span th:if="*{activeStatus?.name() == 'ACTIVE'}" th:text="Active"> </span>
                                    <span th:if="*{activeStatus?.name() == 'INACTIVE'}" th:text="Inactive"> </span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th>Created Date</th>
                            <td colspan="2"><span th:text="*{#temporals.format(createdDate,'yyyy-MM-dd HH:mm')}"/></td>
                        </tr>
                        <tr>
                            <th>Last Modified Date</th>
                            <td colspan="2"><span th:text="*{#temporals.format(lastModifiedDate,'yyyy-MM-dd HH:mm')}"/></td>
                        </tr>
                        <tr>
                            <th>Created By</th>
                            <td colspan="2"><span th:text="*{createdBy}"/></td>
                        </tr>
                        <tr>
                            <th>Last Created By</th>
                            <td colspan="2"><span th:text="*{lastModifiedBy}"/></td>
                        </tr>
                        <tr>
                            <th>Views</th>
                            <td colspan="2"><span th:text="*{views}"/></td>
                        </tr>
                        <tr>
                            <td colspan="10"></td>
                        </tr>
                    </table>
                </div>

                <div class="row justify-content-between mt-5 mb-3">
                    <div class="col-auto mx-3">
                        <a href="/album/list" class="btn btn-secondary">Move to List</a>
                    </div>
                    <div th:if="*{access}" class="col-auto mx-3">
                        <a th:href="'/album/form?idx='+*{idx}" class="btn btn-info mx-1">Update</a>
                        <button type="button" class="btn btn-danger mx-1" id="delete">Delete</button>
                    </div>
                </div>

                <!-- input type="hidden" -->
                <input type="hidden" name="idx" th:value="*{idx}"/>
            </form>
        </div>
    </div>
</div>

<!-- footer -->
<div th:replace="layout/footer::footer"></div>

<!-- script file -->
<th:block th:replace="layout/script.html"></th:block>

<script th:inline="javascript">
    sweetalertFire("album");

    $("#delete").click(function () {
        Confirm.fire({
            icon: "warning",
            title: "Do you want to delete?",
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    url: moduleAppApiAddress + "/api/albums/" + document.getElementsByName("idx")[0].value,
                    type: "delete",
                    dataType: "text",
                    contentType: "application/json",
                    async: false,
                })
                    .done(function (msg) {
                        localStorage.setItem("result", "/album/delete-success");
                        location.href = "/album/list";
                    })
                    .fail(function (msg) {
                        parseErrorMsg(msg);
                    })
            } else {
                return false;
            }
        })
    });
</script>

</body>
</html>