<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- css -->
    <th:block th:replace="layout/css.html"></th:block>

    <title th:text="${@environment.getProperty('title')} + ' | Home'"></title>
</head>
<body>
<div id="page-content-wrapper">
    <!-- header -->
    <div th:replace="layout/header::header"></div>

    <main id="home">
        <!-- ======= Introduction Section ======= -->
        <section class="introduction d-flex align-items-center">
            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="introduction-content-wrapper col-lg-7 order-2 order-lg-1 d-flex flex-column justify-content-center" data-aos="fade-right">
                        <h1 th:text="${#strings.isEmpty(introductionDto)} ? 'No title.' : ${introductionDto.title}"></h1>
                        <h5 th:utext="${#strings.isEmpty(introductionDto)} ? 'No content.' : ${#strings.replace(introductionDto.content, T(System).getProperty('line.separator'), '&lt;br /&gt;')}"></h5>
                        <div>
                            <a href="/about-us/" class="btn-main-about-us">About Us</a>
                        </div>
                    </div>

                    <div class="introduction-image-wrapper ol-lg-5 order-1 order-lg-2" data-aos="fade-left" style="margin-top: -15px;">
                        <div class="owl-carousel introduction-image-carousel">
                            <div th:each="introductionImageDto: ${introductionImageDtoList}">
                                <img class="owl-lazy" th:attr="data-src=@{|${@environment.getProperty('module-app-api.address')}/api/attachedFiles/view-image/${introductionImageDto.attachedFileList[0].savedFileName}|}">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Intro -->

        <!-- ======= Event Section ======= -->
        <section class="event">
            <div class="container">
                <div class="section-header" data-aos="fade-up">
                    <h3>Upcoming Event</h3>
                </div>

                <div class="section-content" data-aos="fade-up">
                    <div class="row justify-content-center">
                        <div th:each="eventDto: ${eventDtoList}" class="col-lg-3 col-md-4 col-sm-6 col-12 d-flex">
                            <div class="row justify-content-center mt-lg-0 mt-md-4 mt-sm-4 mt-4">
                                <div class="col-md-4 col-sm-3 col-3 text-right">
                                    <h2><span th:text="${#temporals.format(eventDto.startDate,'dd')}" class="badge badge-main"></span></h2>
                                    <h4 th:text="${#temporals.format(eventDto.startDate, 'MMM', new java.util.Locale('en', 'EN'))}"></h4>
                                </div>

                                <div class="col-md-8 col-sm-9 col-9 event-content">
                                    <a th:href="'/event?idx='+${eventDto.idx}" class="link">
                                        <h5 th:text="${eventDto.title}"></h5>
                                    </a>
                                    <div>
                                        <i class="far fa-calendar-alt"></i>&nbsp;
                                        <span th:text="${#temporals.format(eventDto.startDate,'yy.MM.dd.')}"></span><span th:if="!${#strings.isEmpty(eventDto.endDate)}" th:text="'~' + ${#temporals.format(eventDto.endDate,'yy.MM.dd.')}"></span>
                                    </div>
                                    <div>
                                        <i class="fas fa-map-marked-alt"></i>&nbsp; <span th:text="${eventDto.place}"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Event Section -->

        <!-- ======= Board Section ======= -->
        <section class="board">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="section-header" data-aos="fade-up">
                            <h3>Notice Board</h3>
                        </div>

                        <div class="section-content" data-aos="fade-up">
                            <table class="table table-hover">
                                <colgroup>
                                    <col width="75%"/>
                                    <col width="25%"/>
                                </colgroup>
                                <tbody>
                                <tr th:each="noticeBoardDto : ${noticeBoardDtoList}">
                                    <td>
                                        <img th:if="${noticeBoardDto.mainPagePriority != 11}" th:attr="src=@{|/images/speaker-icon.jpg|}" class="new-icon"/>
                                        <a th:href="'/notice-board?idx='+${noticeBoardDto.idx}" th:text="${noticeBoardDto.title}" class="link"></a>
                                        <img th:if="${noticeBoardDto.newIcon}" th:attr="src=@{|/images/new-icon.png|}" class="new-icon"/>

                                        <!-- Mobile -->
                                        <div class="d-print-none d-sm-inline d-md-inline d-lg-none d-xl-none d-inline">
                                            <div class="d-flex align-center">
                                                <span th:text="${noticeBoardDto.createdBy}" class="mobile-additional-information"> </span> &nbsp;&nbsp;
                                                <span th:text="${#temporals.format(noticeBoardDto.createdDate,'yyyy.MM.dd.')}" class="mobile-additional-information"></span> &nbsp;&nbsp;
                                            </div>
                                        </div>
                                    </td>
                                    <td th:text="${#temporals.format(noticeBoardDto.createdDate,'yyyy.MM.dd.')}" class="d-none d-sm-none d-md-none d-lg-table-cell"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="section-header" data-aos="fade-up">
                            <h3>Seminar</h3>
                        </div>

                        <div class="section-content" data-aos="fade-up">
                            <table class="table table-hover">
                                <colgroup>
                                    <col width="75%"/>
                                    <col width="25%"/>
                                </colgroup>
                                <tbody>
                                <tr th:each="seminarDto : ${seminarDtoList}">
                                    <td>
                                        <a th:href="'/seminar?idx='+${seminarDto.idx}" th:text="${seminarDto.title}" class="link"></a>
                                        <img th:if="${seminarDto.newIcon}" th:attr="src=@{|/images/new-icon.png|}" class="new-icon"/>

                                        <!-- Mobile -->
                                        <div class="d-print-none d-sm-inline d-md-inline d-lg-none d-xl-none d-inline">
                                            <div class="d-flex align-center">
                                                <span th:text="${seminarDto.createdBy}" class="mobile-additional-information"> </span> &nbsp;&nbsp;
                                                <span th:text="${#temporals.format(seminarDto.createdDate,'yyyy.MM.dd.')}" class="mobile-additional-information"></span> &nbsp;&nbsp;
                                            </div>
                                        </div>
                                    </td>
                                    <td th:text="${#temporals.format(seminarDto.createdDate,'yyyy.MM.dd.')}" class="d-none d-sm-none d-md-none d-lg-table-cell"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- End Board Section -->

        <!-- ======= Research Field Section ======= -->
        <section class="research-field">
            <div class="container">
                <div class="section-header" data-aos="fade-up">
                    <h3>Research Field</h3>
                </div>

                <div class="section-content" data-aos="fade-up">
                    <div class="row justify-content-center">
                        <div th:each="researchFieldDto: ${researchFieldDtoList}" class="col-lg-4 col-md-6 col-sm-12">
                            <div class="d-flex research-field-title mt-lg-0 mt-md-4 mt-sm-4 mt-4">
                                <img th:if="!${#lists.isEmpty(researchFieldDto.attachedFileList)}"
                                     th:attr="src=@{|${@environment.getProperty('module-app-api.address')}/api/attachedFiles/view-image/${researchFieldDto.attachedFileList[0].savedFileName}|}"/>
                                <h4 th:text="${researchFieldDto.title}"></h4>
                            </div>
                            <div class="research-field-content">
                                <span class="content" th:utext="${#strings.isEmpty(researchFieldDto.content)} ? 'No content.' : ${#strings.replace(researchFieldDto.content, T(System).getProperty('line.separator'), '&lt;br /&gt;')}"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Research Field Section -->

        <!-- ======= Album Section ======= -->
        <section class="album">
            <div class="container">
                <div class="section-header" data-aos="fade-up">
                    <h3>Album</h3>
                </div>

                <div class="col-lg-12 d-flex justify-content-center" data-aos="fade-up">
                    <a href="/album/list" class="btn-main">View more album</a>
                </div>

                <div class="section-content">
                    <div class="row">
                        <div th:each="albumDto : ${albumDtoList}" class="col-lg-4 col-md-6" data-aos="fade-up">
                            <div class="album-wrap">
                                <a th:href="@{|${@environment.getProperty('module-app-api.address')}/api/attachedFiles/view-image/${albumDto.attachedFileList[0].savedFileName}|}"
                                   data-gall="albumGallery" class="venobox" th:title="${albumDto.title}">
                                    <img th:attr="src=@{|${@environment.getProperty('module-app-api.address')}/api/attachedFiles/view-image/${albumDto.attachedFileList[0].savedFileName}|}"/>

                                    <div class="album-info">
                                        <h3 th:text="${albumDto.title}"></h3>
                                        <span th:each="hashTag : ${#strings.arraySplit(albumDto.hashTags,'#')}" th:text="'#' + ${hashTag}" class="hash-tag"></span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Album Section -->
    </main><!-- End #main -->

    <div class="container-fluid container-main"></div>
    <!-- /#page-content-wrapper -->
</div>

<!-- footer -->
<div th:replace="layout/footer::footer"></div>

<a href="#" class="back-to-top link"><i class="fas fa-chevron-up"></i></a>

<!-- script file -->
<th:block th:replace="layout/script.html"></th:block>

<!-- javascript -->
<script th:inline="javascript">
    sweetalertFire("user");
</script>

</body>
</html>