<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--header-->
<div th:fragment="header">
    <header id="header" class="fixed-top d-flex align-items-center">
        <div class="container d-flex align-items-center">

            <div class="logo mr-auto row align-items-center">
                <a href="/"><img src="/images/main-logo.png" class="main-logo"></a>
            </div>

            <nav class="nav-menu d-none d-lg-block">
                <ul>
                    <li><a href="/#introduction">About Us</a></li>
                    <li><a href="/#contact">Contact</a>
                    <li><a href="/user/list">Member</a></li>
                    <li><a href="/publication/list_scroll">Publication</a></li>
                    <li><a href="/seminar/list">Seminar</a></li>
                    <li><a href="/project/list">Project</a></li>
                    <li class="drop-down"><a href="">More <img src="/images/chevron-down-icon-black.svg/" style="height: 18px;"></a>
                        <ul>
                            <li><a href="/notice-board/list">Notice Board</a></li>
                            <li><a href="/alumni-association/list">Alumni Association</a></li>
                            <li><a href="/album/list">Album</a></li>
                        </ul>
                    </li>

                    <li sec:authorize="!isAuthenticated()" class="login"><a href="/user/login">Login</a></li>
                    <li sec:authorize="isAuthenticated()" class="login"><a href="/user/logout">Logout</a></li>
                </ul>
            </nav><!-- .nav-menu -->
        </div>
    </header><!-- End Header -->
</div>
<!--/header-->
</html>