<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--header-->
<div th:fragment="header">
    <header id="header" class="fixed-top d-flex align-items-center">
        <div class="container d-flex align-items-center">
            <div class="logo mr-auto">
                <a href="/">
                    <img class="logo" th:attr="src=@{|${@environment.getProperty('module-app-api.address')}/api/attachedFiles/view-logo|}"
                         th:onerror="'this.src=\'' + @{/images/no-preview-available.jpg} + '\';'"/>
                </a>
            </div>

            <nav class="nav-menu d-none d-lg-block align-middle">
                <ul>
                    <li><a href="/about-us/">About Us</a></li>
                    <li><a href="/user/list">Member</a></li>
                    <li><a href="/publication/list_scroll">Publication</a></li>
                    <li><a href="/seminar/list">Seminar</a></li>
                    <li><a href="/project/list">Project</a></li>
                    <li class="drop-down"><a href="/notice-board/list">More<i class="fas fa-chevron-down"></i></a>
                        <ul>
                            <li><a href="/notice-board/list">Notice Board</a></li>
                            <li><a href="/event/list">Event</a></li>
                            <li><a href="/alumni-association/list">Alumni Association</a></li>
                            <li><a href="/album/list">Album</a></li>
                            <li sec:authorize="isAuthenticated()"><a th:href="'/guest-book/list'">Guest Book</a></li>
                            <li sec:authorize="isAuthenticated()"><a th:href="'/user/form?idx='+${#authentication.principal.idx}">User Information</a></li>
                        </ul>
                    </li>
                    <li sec:authorize="!isAuthenticated()" class="login-logout"><a href="javascript:login()">Log in</a></li>
                    <li sec:authorize="isAuthenticated()" class="login-logout"><a href="javascript:logout()">Log out</a></li>
                </ul>
            </nav><!-- .nav-menu -->
        </div>
    </header><!-- End Header -->
</div>
<!--/header-->
</html>