<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- css -->
    <th:block th:replace="layout/css.html"></th:block>

    <title th:if="!${userDto.idx}" th:text="${@environment.getProperty('title')} + ' | User Register'"></title>
    <title th:if="${userDto.idx}" th:text="${@environment.getProperty('title')} + ' | User Update'"></title>
</head>
<body>
<div class="d-flex" id="wrapper">
    <!-- sidebar -->
    <div th:replace="layout/sidebar::sidebar"></div>

    <div id="page-content-wrapper">
        <!-- header -->
        <div th:replace="layout/header::header"></div>

        <div class="container-fluid">
            <form name="form" id="form" th:object="${userDto}" action="#">
                <div class="page-header breadcrumbs">
                    <div class="d-flex justify-content-between align-items-center">
                        <h2 th:if="!*{idx}">User Register</h2>
                        <h2 th:if="*{idx}">User Update</h2>
                        <ol>
                            <li>Home</li>
                            <li th:if="!*{idx}">User Register</li>
                            <li th:if="*{idx}">User Update</li>
                        </ol>
                    </div>
                </div>

                <table class="table mobile-table-form">
                    <div class="mt-4 mb-2 text-right">
                        <span class="required-field">*</span>: Required field.<br>
                        <span class="user-page-show-field">*</span>: User page show field.
                    </div>

                    <colgroup>
                        <col width="17.5%"/>
                        <col width="82.5%"/>
                    </colgroup>

                    <tr>
                        <th colspan="2" class="sub-item-title">Required Information</th>
                    </tr>
                    <tr>
                        <th>ID<span class="required-field">*</span></th>
                        <td>
                            <input th:readonly="*{idx}" type="text" name="username" id="username" class="form-control form-control-sm mb-1" th:value="*{username}"/>
                            <span id="usernameCheckResult" class="mt-2"></span>
                        </td>
                    </tr>
                    <tr>
                        <th>Password<span class="required-field">*</span></th>
                        <td><input type="password" name="password" class="form-control form-control-sm" onchange="validatePassword()"/></td>
                    </tr>
                    <tr>
                        <th>Password Check<span class="required-field">*</span></th>
                        <td>
                            <input type="password" name="checkPassword" onchange="validatePassword()" class="form-control form-control-sm mb-1"/>
                            <span id="passwordCheckResult"></span>
                        </td>
                    </tr>
                    <tr>
                        <th>Photo<span class="user-page-show-field">*</span></th>
                        <td>
                            <div class="custom-file">
                                <input type="file" class="custom-file-input form-control-sm" id="file" name="file">
                                <label class="custom-file-label col-form-label-sm" for="file">Choose file.</label>
                            </div>
                            <div class="mt-1">
                                <strong>Uploaded Photo File:</strong>
                                <span th:if="*{attachedFileList.size()} == 0" th:text="No + ' ' + file."></span>
                                <span th:if="*{attachedFileList.size()} != 0"
                                      th:attr="onclick=|location.href='${@environment.getProperty('module-app-api.address')}/api/attachedFiles/download/*{attachedFileList[0].savedFileName}'|"
                                      th:text="*{attachedFileList[0].fileName} + ',&nbsp;' + 'File size: ' + *{attachedFileList[0].fileSize}"></span>
                            </div>
                            <div class="mt-2">
                                <img th:if="*{attachedFileList.size()} == 0" id="imgPreview" class="img-thumbnail user-img-preview float-right" th:attr="src=@{/images/no-preview-available.jpg}"/>
                                <a th:if="*{attachedFileList.size()} != 0" id="imgPreviewLink" th:href="@{|${@environment.getProperty('module-app-api.address')}/api/attachedFiles/view-image/*{attachedFileList[0].savedFileName}|}"
                                   data-gall="userPhoto" class="venobox" th:title="*{englishName}">
                                    <img id="imgPreview" class="img-thumbnail user-img-preview float-right"
                                         th:attr="src=@{|${@environment.getProperty('module-app-api.address')}/api/attachedFiles/view-image/*{attachedFileList[0].savedFileName}|}"/>
                                </a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>Korean Name<span class="required-field">*</span><span class="user-page-show-field">*</span></th>
                        <td><input type="text" name="koreanName" class="form-control form-control-sm" th:value="*{koreanName}"/></td>
                    </tr>
                    <tr>
                        <th>English Name<span class="required-field">*</span><span class="user-page-show-field">*</span></th>
                        <td><input type="text" name="englishName" class="form-control form-control-sm" th:value="*{englishName}"/></td>
                    </tr>
                    <tr>
                        <th>User Type<span class="required-field">*</span><span class="user-page-show-field">*</span></th>
                        <td>
                            <select name="userType" th:field="*{userType}" class="form-control form-control-sm">
                                <option th:value="A_FACULTY">Faculty</option>
                                <option th:value="B_FULL_TIME_PHD">Ph.D. Full Time</option>
                                <option th:value="C_FULL_TIME_MS">M.S. Full Time</option>
                                <option th:value="D_PART_TIME_PHD">Ph.D. Part Time</option>
                                <option th:value="E_PART_TIME_MS">M.S. Part Time</option>
                                <option th:value="F_BS">B.S.</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th>User Status<span class="required-field">*</span><span class="user-page-show-field">*</span></th>
                        <td>
                            <select name="userStatus" th:field="*{userStatus}" class="form-control form-control-sm">
                                <option th:value="ATTENDING">Attending</option>
                                <option th:value="GRADUATED">Graduated</option>
                            </select>
                        </td>
                    </tr>

                    <tr>
                        <th colspan="2" class="sub-item-title">Self Introduction<span class="user-page-show-field">*</span></th>
                    </tr>
                    <td colspan="2">
                        <div name="introduction" id="content" th:utext="*{introduction}"></div>
                    </td>

                    <tr>
                        <th colspan="2" class="sub-item-title">Personal Information</th>
                    </tr>
                    <tr>
                        <th>Admission Date</th>
                        <td><input type="date" name="admissionDate" class="form-control form-control-sm" th:value="*{admissionDate}"/></td>
                    </tr>
                    <tr>
                        <th>Graduated Date<span class="user-page-show-field">*</span></th>
                        <td><input type="date" name="graduatedDate" class="form-control form-control-sm" th:value="*{graduatedDate}"/></td>
                    </tr>
                    <tr>
                        <th>Gender</th>
                        <td>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" class="custom-control-input" name="gender" id="male" th:value="MALE" th:checked="*{gender?.name() == 'MALE' ||  gender?.name() == null}">
                                <label class="custom-control-label" th:for="male"><strong> Male </strong></label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" class="custom-control-input" name="gender" id="female" th:value="FEMALE" th:checked="*{gender?.name() == 'FEMALE'}">
                                <label class="custom-control-label" th:for="female"><strong> Female </strong></label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>Birth Date</th>
                        <td><input type="date" name="birthDate" class="form-control form-control-sm" th:value="*{birthDate}"/></td>
                    </tr>
                    <tr>
                        <th>Workplace<span class="user-page-show-field">*</span></th>
                        <td><input type="text" name="workplace" class="form-control form-control-sm" th:value="*{workplace}"/></td>
                    </tr>

                    <tr>
                        <th colspan="2" class="sub-item-title">Contact Information</th>
                    </tr>
                    <tr>
                        <th>Contact</th>
                        <td>
                            <input type="tel" name="contact" id="contact" class="form-control form-control-sm mb-1" th:value="*{contact}" placeholder="000-0000-0000"/>
                            <span id="contactCheckResult"></span>
                        </td>
                    </tr>
                    <tr>
                        <th>Messenger ID(Skype)<span class="user-page-show-field">*</span></th>
                        <td><input type="text" name="messengerId" class="form-control form-control-sm" th:value="*{messengerId}"/></td>
                    </tr>
                    <tr>
                        <th>Email<span class="user-page-show-field">*</span></th>
                        <td>
                            <input type="text" name="email" id="email" class="form-control form-control-sm mb-1" th:value="*{email}"/>
                            <span id="emailCheckResult"></span>
                        </td>
                    </tr>
                    <tr>
                        <th>Private Email</th>
                        <td>
                            <input type="text" name="privateEmail" id="privateEmail" class="form-control form-control-sm mb-1" th:value="*{privateEmail}"/>
                            <span id="privateEmailCheckResult"></span>
                        </td>
                    </tr>
                    <tr>
                        <th>Github<span class="user-page-show-field">*</span></th>
                        <td><input type="text" name="github" class="form-control form-control-sm" th:value="*{github}"></td>
                    </tr>
                    <tr>
                        <th>Linked In<span class="user-page-show-field">*</span></th>
                        <td><input type="text" name="linkedIn" class="form-control form-control-sm" th:value="*{linkedIn}"/></td>
                    </tr>
                    <tr>
                        <th>External Web Page<span class="user-page-show-field">*</span></th>
                        <td><input type="text" name="externalWebPage" class="form-control form-control-sm" th:value="*{externalWebPage}"/></td>
                    </tr>

                    <tr>
                        <th colspan="2" class="sub-item-title">Additional Information</th>
                    </tr>
                    <tr>
                        <th>Authority Type</th>
                        <td>
                            <select th:if="!*{idx}" name="authorityType" th:field="*{authorityType}" class="form-control form-control-sm">
                                <option th:if="*{#strings.equals(#authentication.principal.authorityType, 'ROOT')}" th:value="MANAGER">Manager</option>
                                <option th:if="!*{#strings.equals(authorityType, 'ROOT')}" th:value="GENERAL">General</option>
                                <option th:if="!*{#strings.equals(authorityType, 'ROOT')}" th:value="NON_USER">Non User</option>
                            </select>
                            <select th:if="*{!#strings.isEmpty(idx) && (#strings.equals(authorityType, 'ROOT') || #strings.equals(authorityType, 'MANAGER'))}" name="authorityType" th:field="*{authorityType}"
                                    class="form-control form-control-sm">
                                <option th:if="*{#strings.equals(authorityType, 'ROOT')}" th:value="ROOT">Root</option>
                                <option th:if="*{#strings.equals(authorityType, 'MANAGER')}" th:value="MANAGER">Manager</option>
                                <option th:if="*{#strings.equals(#authentication.principal.authorityType, 'ROOT') && !#strings.equals(authorityType, 'ROOT')}" th:value="GENERAL">General</option>
                                <option th:if="*{#strings.equals(#authentication.principal.authorityType, 'ROOT') && !#strings.equals(authorityType, 'ROOT')}" th:value="NON_USER">Non User</option>
                            </select>
                            <select th:if="*{!#strings.isEmpty(idx) && !#strings.equals(authorityType, 'ROOT') && !#strings.equals(authorityType, 'MANAGER')}" name="authorityType" th:field="*{authorityType}"
                                    class="form-control form-control-sm">
                                <option th:if="*{#strings.equals(#authentication.principal.authorityType, 'ROOT')}" th:value="MANAGER">Manager</option>
                                <option th:value="GENERAL">General</option>
                                <option th:value="NON_USER">Non User</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th>Active Status</th>
                        <td>
                            <select class="custom-select custom-select-sm" name="activeStatus" th:field="*{activeStatus}">
                                <option th:value="ACTIVE">Active</option>
                                <option th:if="!*{#strings.equals(authorityType, 'ROOT')}" th:value="INACTIVE">Inactive</option>
                            </select>
                        </td>
                    </tr>
                    <tr th:if="*{idx}">
                        <th>Created Date</th>
                        <td><input type="text" class="form-control form-control-sm" readonly th:value="*{#temporals.format(createdDate,'yyyy-MM-dd HH:mm')}"/></td>
                    </tr>
                    <tr th:if="*{idx}">
                        <th>Last Modified Date</th>
                        <td><input type="text" class="form-control form-control-sm" readonly th:value="*{#temporals.format(lastModifiedDate,'yyyy-MM-dd HH:mm')}"/></td>
                    </tr>
                    <tr th:if="*{idx}">
                        <th>Created By</th>
                        <td><input type="text" class="form-control form-control-sm" readonly th:value="*{createdBy}"/></td>
                    </tr>
                    <tr th:if="*{idx}">
                        <th>Last Modified By</th>
                        <td><input type="text" class="form-control form-control-sm" readonly th:value="*{lastModifiedBy}"/></td>
                    </tr>
                    <tr th:if="*{idx}">
                        <th>Views</th>
                        <td><input type="text" class="form-control form-control-sm" readonly th:value="*{views}"/></td>
                    </tr>
                    <tr>
                        <td colspan="10"></td>
                    </tr>
                </table>

                <div class="row justify-content-between mt-4 mb-4">
                    <div class="col-auto">
                        <a href="/user/list" class="btn btn-sm btn-secondary btn-sm col-auto">Move to List</a>
                    </div>
                    <div class="col-auto ml-2">
                        <button th:if="!*{idx}" id="insert" type="button" class="btn btn-sm btn-primary cold-auto">Register</button>
                        <button th:if="*{idx}" id="update" type="button" class="btn btn-sm btn-primary col-auto">Update</button>
                    </div>
                </div>

                <!-- input type="hidden" -->
                <input type="hidden" name="idx" th:value="*{idx}"/>
                <input type="hidden" name="createdBy" th:value="*{#strings.isEmpty(createdBy)} ? ${#authentication.principal.username} : *{createdBy}"/>
                <input type="hidden" name="lastModifiedBy" th:value="${#authentication.principal.username}"/>
            </form>
        </div>
    </div>
</div>

<!-- footer -->
<div th:replace="layout/footer::footer"></div>

<!-- script file -->
<th:block th:replace="layout/script.html"></th:block>

<!-- javascript -->
<script th:src="@{/js/ckeditor-editor-init.js}"></script>
<script th:src="@{/js/file-upload/single-img-file-upload-input.js}"></script>

<script th:inline="javascript">
    var usernameValidation = false;
    var passwordValidation = false;
    var emailValidation = true;
    var privateEmailValidation = true;
    var contactValidation = true;

    /* username 검사 */
    $("#username").on("change", function () {
        usernameValidation = false;

        if (!validateById(document.getElementsByName("username")[0].value)) {
            document.getElementById("usernameCheckResult").innerHTML = "This ID is not valid.";
            document.getElementById("usernameCheckResult").style.color = "red";
            usernameValidation = false;

            return false;
        } else {
            $.ajax({
                url: moduleAppApiAddress + "/api/users/validation/username/" + document.getElementsByName("username")[0].value,
                type: "get",
                dataType: "text",
                contentType: "application/json",
                async: false,
            })
                .done(function (msg) {
                    if (msg == "false") {
                        document.getElementById("usernameCheckResult").innerHTML = "This ID is not duplicated.";
                        document.getElementById("usernameCheckResult").style.color = "blue";
                        usernameValidation = true;
                    } else {
                        document.getElementById("usernameCheckResult").innerHTML = "This ID is already in use.";
                        document.getElementById("usernameCheckResult").style.color = "red";
                        usernameValidation = false;
                    }
                })
                .fail(function (msg) {
                    parseErrorMsg(msg);
                })
        }
    });

    /* passowrd 검사 */
    function validatePassword() {
        var password = document.getElementsByName("password")[0].value;
        var checkPassword = document.getElementsByName("checkPassword")[0].value;

        if (password.length >= 6 && password.length <= 16) {
            if (password != "" && checkPassword != "") {
                if (password == checkPassword) {
                    document.getElementById("passwordCheckResult").innerHTML = "Password matches.";
                    document.getElementById("passwordCheckResult").style.color = "blue";
                    passwordValidation = true;
                } else {
                    document.getElementById("passwordCheckResult").innerHTML = "Passwords do not match.";
                    document.getElementById("passwordCheckResult").style.color = "red";
                    passwordValidation = false;
                }
            } else if (password != "" && checkPassword == "") {
                document.getElementById("passwordCheckResult").innerHTML = "Check password.";
                document.getElementById("passwordCheckResult").style.color = "red";
                passwordValidation = false;
            } else {
                passwordValidation = false;
            }
        } else {
            Alert.fire({
                icon: "error",
                text: "The password must be more than 6 characters and less than 16 characters."
            }).then((result) => {
                password = "";
                checkPassword = "";
                document.getElementById("passwordCheckResult").innerHTML = "";
            });
        }
    }

    /* email 검사 */
    $("#email").on("change", function () {
        var regExp = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        var email = document.getElementsByName("email")[0].value;

        if (regExp.test(email)) {
            document.getElementById("emailCheckResult").innerHTML = "Email format is valid.";
            document.getElementById("emailCheckResult").style.color = "blue";
            emailValidation = true;
        } else if (!validateByWhiteSpace(email)) {
            document.getElementById("emailCheckResult").innerHTML = "";
            emailValidation = true;
        } else {
            document.getElementById("emailCheckResult").innerHTML = "Email format is not valid.";
            document.getElementById("emailCheckResult").style.color = "red";
            emailValidation = false;
        }
    });

    /* private email 검사 */
    $("#privateEmail").on("change", function () {
        var regExp = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        var privateEmail = document.getElementsByName("privateEmail")[0].value;

        if (regExp.test(privateEmail)) {
            document.getElementById("privateEmailCheckResult").innerHTML = "Email format is valid.";
            document.getElementById("privateEmailCheckResult").style.color = "blue";
            privateEmailValidation = true;
        } else if (!validateByWhiteSpace(privateEmail)) {
            document.getElementById("privateEmailCheckResult").innerHTML = "";
            privateEmailValidation = true;
        } else {
            document.getElementById("privateEmailCheckResult").innerHTML = "Email format is not valid.";
            document.getElementById("privateEmailCheckResult").style.color = "red";
            privateEmailValidation = false;
        }
    });

    /* 연락처 검사 */
    $("#contact").on("change", function () {
        var regExp = /(01[016789])-([1-9]{1}[0-9]{2,3})-([0-9]{4})$/;
        var contact = document.getElementsByName("contact")[0].value;

        if (regExp.test(contact)) {
            document.getElementById("contactCheckResult").innerHTML = "Contact format is valid.";
            document.getElementById("contactCheckResult").style.color = "blue";
            contactValidation = true;
        } else if (!validateByWhiteSpace(contact)) {
            document.getElementById("contactCheckResult").innerHTML = "";
            contactValidation = true;
        } else {
            document.getElementById("contactCheckResult").innerHTML = "Contact format is not valid.";
            document.getElementById("contactCheckResult").style.color = "red";
            contactValidation = false;
        }
    });

    function deleteUser(userIdx) {
        $.ajax({
            url: moduleAppApiAddress + "/api/users/" + document.getElementsByName("idx")[0].value,
            type: "delete",
            dataType: "text",
            contentType: "application/json",
            async: false,
        })
            .done(function (msg) {

            })
            .fail(function (msg) {
                parseErrorMsg(msg);
            });
    }
</script>

<script th:if="!${userDto?.idx}">
    $("#insert").click(function () {
        // validation (input tag mame, length or size)
        if (!(validateByExternal("username", !usernameValidation, "ID")
            && validateByExternal("password", !passwordValidation)
            && validateByBlank("koreanName")
            && validateByBlank("englishName")

            && validateByEditor(editor.getData(), 16777215)

            && validateByLength("workplace", 255)

            && validateByExternal("contact", !contactValidation)
            && validateByExternal("email", !emailValidation)
            && validateByExternal("privateEmail", !privateEmailValidation)
            && validateByLength("messengerId", 255)
            && validateByLength("github", 255)
            && validateByLength("linkedIn", 255)
        )) {
            return false;
        }

        // duplicate submit check
        if (duplicateSubmitCheck()) return false;

        // 회원 업로드
        var jsonData = $("#form").serializeObject();
        jsonData.content = editor.getData();
        jsonData.createdBy = jsonData.username;
        jsonData.lastModifiedBy = jsonData.username;
        var userIdx = 0;

        $.ajax({
            url: moduleAppApiAddress + "/api/users",
            type: "post",
            data: JSON.stringify(jsonData),
            dataType: "json",
            contentType: "application/json",
            async: false,
        })
            .done(function (msg) {
                userIdx = msg;
                exit = false;
            })
            .fail(function (msg) {
                parseErrorMsg(msg);
                duplicateSubmitFlag = false;
                exit = true;
            });

        if (exit) return false;

        // 파일 업로드
        var formData = new FormData();

        formData.append("files", document.getElementsByName("file")[0].files[0]);
        formData.append("idx", userIdx);
        formData.append("createdBy", document.getElementsByName("createdBy")[0].value);

        $.ajax({
            url: moduleAppApiAddress + "/api/users/attachedFile",
            type: "post",
            data: formData,
            dataType: "text",
            enctype: "multipart/form-data",
            processData: false,
            contentType: false,
            async: false,
        })
            .done(function (msg) {
                localStorage.setItem("result", "/user/register-success");
                location.href = "/user?idx=" + userIdx;
            })
            .fail(function (msg) {
                parseErrorMsg(msg);
                duplicateSubmitFlag = false;
                deleteUser(userIdx);
            });

    });
</script>
<script th:if="${userDto?.idx}" th:inline="javascript">
    // 초기 validation을 모두 true로 설정한다.
    passwordValidation = true;
    emailValidation = true;
    privateEmailValidation = true;
    contactValidation = true;

    $("#update").click(function () {
        var oriPassword = [[${userDto.password}]];

        // validation (input tag mame, length or size)
        if (!(validateByExternal("password", !passwordValidation && (document.getElementsByName("password")[0].value != oriPassword))
            && validateByBlank("koreanName")
            && validateByBlank("englishName")

            && validateByEditor(editor.getData(), 16777215)

            && validateByLength("workplace", 255)

            && validateByExternal("contact", !contactValidation)
            && validateByExternal("email", !emailValidation)
            && validateByExternal("privateEmail", !privateEmailValidation)
            && validateByLength("messengerId", 255)
            && validateByLength("github", 255)
            && validateByLength("linkedIn", 255)
        )) {
            return false;
        }

        // 회원 수정
        var jsonData = $("#form").serializeObject();
        var userIdx = +document.getElementsByName("idx")[0].value;

        $.ajax({
            url: moduleAppApiAddress + "/api/users/" + userIdx,
            type: "put",
            data: JSON.stringify(jsonData),
            dataType: "json",
            contentType: "application/json",
            async: false,
        })
            .done(function (msg) {
                // 만일 첨부 파일이 수정되지 않은 경우 '파일 업로드' 및 '파일 삭제'를 수행하지 않음
                if (typeof document.getElementsByName("file")[0].files[0] == "undefined") {
                    localStorage.setItem("result", "/user/update-success");
                    location.href = "/user?idx=" + userIdx;
                    exit = true;
                } else {
                    exit = false;
                }
            })
            .fail(function (msg) {
                parseErrorMsg(msg);
                exit = true;
            })

        if (exit) return true;

        // 파일 삭제
        $.ajax({
            url: moduleAppApiAddress + "/api/users/attachedFile/" + userIdx,
            type: "delete",
            contentType: "application/json",
            async: false,
        })
            .done(function (msg) {
                exit = false;
            })
            .fail(function (msg) {
                parseErrorMsg(msg);
                exit = true;
            });

        if (exit) return false;

        // 파일 업로드
        var formData = new FormData();

        formData.append("files", document.getElementsByName("file")[0].files[0]);
        formData.append("idx", userIdx);
        formData.append("createdBy", document.getElementsByName("createdBy")[0].value);

        $.ajax({
            url: moduleAppApiAddress + "/api/users/attachedFile",
            type: "post",
            data: formData,
            dataType: "text",
            enctype: "multipart/form-data",
            processData: false,
            contentType: false,
        })
            .done(function (msg) {
                localStorage.setItem("result", "/user/update-success");
                location.href = "/user?idx=" + userIdx;
            })
            .fail(function (msg) {
                parseErrorMsg(msg);
                deleteUser(userIdx);
            });
    });
</script>

</body>
</html>