<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- css -->
    <th:block th:replace="layout/css.html"></th:block>

    <title th:if="!${userDto.idx}" th:text="${@environment.getProperty('title')} + ' | User Register'"></title>
    <title th:if="${userDto.idx}" th:text="${@environment.getProperty('title')} + ' | User Update'"></title>
</head>
<body>
<div class="d-flex" id="wrapper">
    <!-- sidebar -->
    <div th:replace="layout/sidebar::sidebar"></div>

    <div id="page-content-wrapper">
        <!-- header -->
        <div th:replace="layout/header::header"></div>

        <div class="container-fluid">
            <form name="form" id="form" th:object="${userDto}" action="#">
                <div class="page-header breadcrumbs">
                    <div class="d-flex justify-content-between align-items-center">
                        <h2 th:if="!*{idx}">User Register</h2>
                        <h2 th:if="*{idx}">User Update</h2>
                        <ol>
                            <li>Home</li>
                            <img src="/images/chevron-right.svg">
                            <li th:if="!*{idx}">User Register</li>
                            <li th:if="*{idx}">User Update</li>
                        </ol>
                    </div>
                </div>

                <div class="mt-5">
                    <div class="mb-2 text-right">
                        <span class="required-field">*</span>: Required field.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <br>
                        <span class="user-page-show-field">*</span>: User page show field.
                    </div>

                    <table class="table">
                        <colgroup>
                            <col width="17.5%"/>
                            <col width="42.5%"/>
                            <col width="17.5%"/>
                            <col width="22.5%"/>
                        </colgroup>
                        <tr>
                            <th colspan="4" class="sub-item-title">Required Information</th>
                        </tr>
                        <tr>
                            <th>ID<span class="required-field">*</span></th>
                            <td><input type="text" name="username" id="username" class="form-control form-control-sm" th:value="*{username}"/></td>
                            <td>
                                <button id="validationUsername" type="button" class="btn-main">Duplicate check</button>
                            </td>
                            <td><span id="usernameCheckResult"></span></td>
                        </tr>
                        <tr>
                            <th>Password<span class="required-field">*</span></th>
                            <td colspan="2"><input type="password" name="password" id="password" class="form-control form-control-sm" onchange="validatePassword()"/></td>
                            <td colspan="2"></td>
                        </tr>
                        <tr>
                            <th>Password Check<span class="required-field">*</span></th>
                            <td colspan="2"><input type="password" name="checkPassword" id="checkPassword" onchange="validatePassword()" class="form-control form-control-sm"/></td>
                            <td><span id="passwordCheckResult"></span></td>
                        </tr>
                        <tr>
                            <th>Photo<span class="required-field">*</span><span class="user-page-show-field">*</span></th>
                            <td colspan="2">
                                <div class="custom-file py-md-4">
                                    <input type="file" class="custom-file-input" id="file" name="file">
                                    <label class="custom-file-label" for="file">Choose file.</label>
                                </div>
                                Uploaded Photo File:
                                <span id="imgData" th:if="*{attachedFileList.size()} == 0" th:text="No + ' ' + file."></span>
                                <span id="imgData" th:if="*{attachedFileList.size()} != 0"
                                      th:attr="onclick=|location.href='${@environment.getProperty('module-app-api.address')}/api/attachedFiles/download/*{attachedFileList[0].savedFileName}'|"
                                      th:text="*{attachedFileList[0].fileName} + ',&nbsp;' + 'File size: ' + *{attachedFileList[0].fileSize}"></span>
                            </td>
                            <td>
                                <img id="imgPreview" th:if="*{attachedFileList.size()} == 0" class="img-thumbnail user-img-preview float-right" th:attr="src=@{/images/no-preview-available.jpg}"/>
                                <img id="imgPreview" th:if="*{attachedFileList.size()} != 0" class="img-thumbnail user-img-preview float-right"
                                     th:attr="src=@{|${@environment.getProperty('module-app-api.address')}/api/attachedFiles/download/*{attachedFileList[0].savedFileName}|}"/>
                            </td>
                        </tr>
                        <tr>
                            <th>Korean Name<span class="required-field">*</span><span class="user-page-show-field">*</span></th>
                            <td colspan="2"><input type="text" name="koreanName" id="koreanName" class="form-control form-control-sm" th:value="*{koreanName}"/></td>
                            <td></td>
                        </tr>
                        <tr>
                            <th>English Name<span class="required-field">*</span><span class="user-page-show-field">*</span></th>
                            <td colspan="2"><input type="text" name="englishName" id="englishName" class="form-control form-control-sm" th:value="*{englishName}"/></td>
                            <td></td>
                        </tr>
                        <tr>
                            <th>User Type<span class="required-field">*</span><span class="user-page-show-field">*</span></th>
                            <td colspan="2">
                                <select name="userType" th:field="*{userType}" class="form-control form-control-sm">
                                    <option th:value="FACULTY">Faculty</option>
                                    <option th:value="FULL_TIME_PhD">Ph.D. - Full Time</option>
                                    <option th:value="PART_TIME_PhD">Ph.D. - Part Time</option>
                                    <option th:value="FULL_TIME_MS">M.S. - Full Time</option>
                                    <option th:value="PART_TIME_MS">M.S. - Part Time</option>
                                    <option th:value="BS">B.S.</option>
                                </select>
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <th>User Status<span class="required-field">*</span><span class="user-page-show-field">*</span></th>
                            <td colspan="2">
                                <select name="userStatus" th:field="*{userStatus}" class="form-control form-control-sm">
                                    <option th:value="ATTENDING">Attending</option>
                                    <option th:value="GRADUATED">Graduated</option>
                                </select>
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <th colspan="4" class="sub-item-title">Self Introduction<span class="user-page-show-field">*</span></th>
                        </tr>
                        <!-- summernote -->
                        <td colspan="4"><textarea name="introduction" id="summernote" class="summernote" th:text="*{introduction}"></textarea></td>
                        </tr>
                        <tr>
                            <th colspan="4" class="sub-item-title">Personal Information</th>
                        </tr>
                        <tr>
                            <th>Admission Date</th>
                            <td colspan="2"><input type="date" name="admissionDate" class="form-control form-control-sm admission-graduated-date" th:value="*{admissionDate}"/></td>
                            <td></td>
                        </tr>
                        <tr>
                            <th>Graduated Date<span class="user-page-show-field">*</span></th>
                            <td colspan="2"><input type="date" name="graduatedDate" class="form-control form-control-sm admission-graduated-date" th:value="*{graduatedDate}"/></td>
                            <td></td>
                        </tr>
                        <tr>
                            <th>Gender</th>
                            <td colspan="2">
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" class="custom-control-input" name="gender" id="male" th:value="MALE" th:checked="*{gender?.name() == 'MALE' ||  gender?.name() == null}">
                                    <label class="custom-control-label" th:for="male"><strong> Male </strong></label>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" class="custom-control-input" name="gender" id="female" th:value="FEMALE" th:checked="*{gender?.name() == 'FEMALE'}">
                                    <label class="custom-control-label" th:for="female"><strong> Female </strong></label>
                                </div>
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <th>Birth Date</th>
                            <td colspan="2"><input type="date" name="birthDate" id="birthDate" class="form-control form-control-sm birth-date" th:value="*{birthDate}"/></td>
                            <td></td>
                        </tr>
                        <tr>
                            <th>Workplace<span class="user-page-show-field">*</span></th>
                            <td colspan="2"><input type="text" name="workplace" class="form-control form-control-sm" th:value="*{workplace}"/></td>
                            <td></td>
                        </tr>
                        <tr>
                            <th colspan="4" class="sub-item-title">Contact Information</th>
                        </tr>
                        <tr>
                            <th>Contact</th>
                            <td colspan="2"><input type="tel" name="contact" id="contact" class="form-control form-control-sm" th:value="*{contact}" placeholder="000-0000-0000"/></td>
                            <td><span id="contactCheckResult"></span></td>
                        </tr>
                        <tr>
                            <th>Email<span class="user-page-show-field">*</span></th>
                            <td colspan="2"><input type="text" name="email" id="email" class="form-control form-control-sm" th:value="*{email}"/></td>
                            <td><span id="emailCheckResult"></span></td>
                        </tr>
                        <tr>
                            <th>Private Email</th>
                            <td colspan="2"><input type="text" name="privateEmail" id="privateEmail" class="form-control form-control-sm" th:value="*{privateEmail}"/></td>
                            <td><span id="privateEmailCheckResult"></span></td>
                        </tr>
                        <tr>
                            <th>Github<span class="user-page-show-field">*</span></th>
                            <td colspan="2"><input type="text" name="github" class="form-control form-control-sm" th:value="*{github}"/></td>
                            <td></td>
                        </tr>
                        <tr>
                            <th>Linked In<span class="user-page-show-field">*</span></th>
                            <td colspan="2"><input type="text" name="linkedIn" class="form-control form-control-sm" th:value="*{linkedIn}"/></td>
                            <td></td>
                        </tr>
                        <tr>
                            <th>External Web Page<span class="user-page-show-field">*</span></th>
                            <td colspan="2"><input type="text" name="externalWebPage" class="form-control form-control-sm" th:value="*{externalWebPage}"/></td>
                            <td></td>
                        </tr>
                        <tr>
                            <th>Messenger ID(Skype)<span class="user-page-show-field">*</span></th>
                            <td colspan="2"><input type="text" name="messengerId" id="messengerId" class="form-control form-control-sm" th:value="*{messengerId}"/></td>
                            <td></td>
                        </tr>
                        <tr>
                            <th colspan="4" class="sub-item-title">Additional Information</th>
                        </tr>
                        <tr>
                            <th>Authority Type</th>
                            <td colspan="2">
                                <select th:if="!*{#strings.equals(authorityType, 'ROOT')}" name="authorityType" th:field="*{authorityType}" class="form-control form-control-sm">
                                    <option th:value="MANAGER">Manager</option>
                                    <option th:value="GENERAL">General</option>
                                    <option th:value="NON_USER">Non User</option>
                                </select>
                                <input type="text" th:if="*{#strings.equals(authorityType, 'ROOT')}" class="form-control form-control-sm" readonly="readonly" th:value="root"/></td>
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <th>Active Status</th>
                            <td colspan="2">
                                <select name="activeStatus" th:field="*{activeStatus}" class="form-control form-control-sm">
                                    <option th:value="ACTIVE">Active</option>
                                    <option th:value="INACTIVE">Inactive</option>
                                </select>
                            </td>
                            <td></td>
                        </tr>
                        <tr th:if="*{idx}">
                            <th>Created Date</th>
                            <td><input type="text" class="form-control form-control-sm" readonly="readonly" th:value="*{#temporals.format(createdDate,'yyyy-MM-dd HH:mm')}"/></td>
                        </tr>
                        <tr th:if="*{idx}">
                            <th>Last Modified Date</th>
                            <td><input type="text" class="form-control form-control-sm" readonly="readonly" th:value="*{#temporals.format(lastModifiedDate,'yyyy-MM-dd HH:mm')}"/></td>
                        </tr>
                        <tr th:if="*{idx}">
                            <th>Created By</th>
                            <td><input type="text" class="form-control form-control-sm" readonly="readonly" th:value="*{createdBy}"/></td>
                        </tr>
                        <tr th:if="*{idx}">
                            <th>Last Modified By</th>
                            <td><input type="text" class="form-control form-control-sm" readonly="readonly" th:value="*{lastModifiedBy}"/></td>
                        </tr>
                        <tr th:if="*{idx}">
                            <th>Views</th>
                            <td><input type="text" class="form-control form-control-sm" readonly="readonly" th:value="*{views}"/></td>
                        </tr>
                    </table>
                </div>

                <div class="row justify-content-between mt-5 mb-3">
                    <div class="col-auto mx-3">
                        <a href="/user/list" class="btn btn-secondary col-auto">Move to List</a>
                    </div>
                    <div class="col-auto mx-3">
                        <button th:if="!*{idx}" id="insert" type="button" class="btn btn-primary cold-auto">Register</button>
                        <button th:if="*{idx}" id="update" type="button" class="btn btn-primary col-auto">Update</button>
                    </div>
                </div>

                <!-- input type="hidden" -->
                <input type="hidden" name="idx" th:value="*{idx}"/>
                <input type="hidden" name="createdBy" th:value="*{#strings.isEmpty(createdBy)} ? ${#authentication.principal.username} : *{createdBy}"/>
                <input type="hidden" name="lastModifiedBy" th:value="${#authentication.principal.username}"/>
            </form>
        </div>
    </div>
</div>

<!-- footer -->
<div th:replace="layout/footer::footer"></div>

<!-- script file -->
<th:block th:replace="layout/script.html"></th:block>

<!-- javascript -->
<script th:inline="javascript">
    var totalFileSize = 0;
    var exit = null;
    var usernameVaildation = false;
    var passwordVaildation = false;
    var emailVaildation = false;
    var privateEmailVaildation = false;
    var contactVaildation = false;

    $(document).ready(function () {
        <!-- summernote setting -->
        $('#summernote').summernote({
            height: 500,	// 에디터 높이
            minHeight: null,	// 최소 높이
            maxHeight: null,	// 최대 높이
            // focus: true,	// 에디터 로딩후 포커스를 맞출지 여부
            lang: "ko-KR",// 한글 설정
            placeholder: "The editor's max input size of bytes is 16777215(16 MB)."	//placeholder 설정
        });
        $('#summernote').summernote('fontSize', 14);
    });

    function deleteUser(userIdx) {
        // 회원 삭제
        $.ajax({
            url: moduleAppApiAddress + "/api/users/" + document.getElementsByName("idx")[0].value,
            type: "delete",
            dataType: "text",
            contentType: "application/json",
            async: false,
        })
            .done(function (msg) {

            })
            .fail(function (msg) {
                parseErrorMsg(msg);
            });
    }

    /* username 검사 */
    $("#username").on("change", function () {
        if (!validateById(document.getElementsByName("username")[0].value)) {
            return false;
        } else {
            return true;
        }
    });

    /* username 중복 검사 */
    $("#validationUsername").click(function () {
        $.ajax({
            url: moduleAppApiAddress + "/api/users/validation/username/" + document.getElementsByName("username")[0].value,
            type: "get",
            dataType: "text",
            contentType: "application/json",
            async: false,
        })
            .done(function (msg) {
                if (msg == "false") {
                    document.getElementById("usernameCheckResult").innerHTML = "This user id is not duplicated.";
                    document.getElementById("usernameCheckResult").style.color = "blue";
                    usernameVaildation = true;
                } else {
                    document.getElementById("usernameCheckResult").innerHTML = "This user id is already in use.";
                    document.getElementById("usernameCheckResult").style.color = "red";
                    usernameVaildation = false;
                }
            })
            .fail(function (msg) {
                parseErrorMsg(msg);
            })
    });

    /* passowrd 검사 */
    function validatePassword() {
        var password = document.getElementsByName("password")[0].value;
        var checkPassword = document.getElementsByName("checkPassword")[0].value;

        if (password.length >= 6 && password.length <= 16) {
            if (password != "" && checkPassword != "") {
                if (password == checkPassword) {
                    document.getElementById("passwordCheckResult").innerHTML = "Password matches.";
                    document.getElementById("passwordCheckResult").style.color = "blue";
                    passwordVaildation = true;
                } else {
                    document.getElementById("passwordCheckResult").innerHTML = "Passwords do not match.";
                    document.getElementById("passwordCheckResult").style.color = "red";
                    passwordVaildation = false;
                }
            } else if (password != "" && checkPassword == "") {
                document.getElementById("passwordCheckResult").innerHTML = "Check password.";
                document.getElementById("passwordCheckResult").style.color = "red";
                passwordVaildation = false;
            } else {
                passwordVaildation = false;
            }
        } else {
            Alert.fire({
                icon: "error",
                text: "The password must be more than 6 characters and less than 16 characters."
            }).then((result) => {
                password = "";
                checkPassword = "";
                document.getElementById("passwordCheckResult").innerHTML = "";
            });
        }
    }

    /* email 검사 */
    $("#email").on("change", function () {
        var regExp = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        var email = document.getElementsByName("email")[0].value;

        if (regExp.test(email)) {
            document.getElementById("emailCheckResult").innerHTML = "Email format is valid.";
            document.getElementById("emailCheckResult").style.color = "blue";
            emailVaildation = true;
        } else if (!validateByWhiteSpace(email)) {
            document.getElementById("emailCheckResult").innerHTML = "";
            emailVaildation = true;
        } else {
            document.getElementById("emailCheckResult").innerHTML = "Email format is not valid.";
            document.getElementById("emailCheckResult").style.color = "red";
            emailVaildation = false;
        }
    });

    /* private email 검사 */
    $("#privateEmail").on("change", function () {
        var regExp = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        var privateEmail = document.getElementsByName("privateEmail")[0].value;

        if (regExp.test(privateEmail)) {
            document.getElementById("privateEmailCheckResult").innerHTML = "Email format is valid.";
            document.getElementById("privateEmailCheckResult").style.color = "blue";
            privateEmailVaildation = true;
        } else if (!validateByWhiteSpace(privateEmail)) {
            document.getElementById("privateEmailCheckResult").innerHTML = "";
            privateEmailVaildation = true;
        } else {
            document.getElementById("privateEmailCheckResult").innerHTML = "Email format is not valid.";
            document.getElementById("privateEmailCheckResult").style.color = "red";
            privateEmailVaildation = false;
        }
    });

    /* 연락처 검사 */
    $("#contact").on("change", function () {
        //var regExp = /(01[016789])-([1-9]{1}[0-9]{2,3})-([0-9]{4})$/;
        var regExp = /^\d{3}-\d{3,4}-\d{4}$/;
        var contact = document.getElementsByName("contact")[0].value;
        if (regExp.test(contact)) {
            document.getElementById("contactCheckResult").innerHTML = "Contact format is valid.";
            document.getElementById("contactCheckResult").style.color = "blue";
            contactVaildation = true;
        } else if (!validateByWhiteSpace(contact)) {
            document.getElementById("contactCheckResult").innerHTML = "";
            contactVaildation = true;
        } else {
            document.getElementById("contactCheckResult").innerHTML = "Contact format is not valid.";
            document.getElementById("contactCheckResult").style.color = "red";
            contactVaildation = false;
        }
    });

    $("#file").on("change", function () {
        if (validateImageFile(this.files[0])) {
            document.getElementById("imgData").innerHTML = this.files[0].name + ", File size: " + convertFileSize(this.files[0].size);
            readURL(this);
        } else {
            return false;
        }
    });

    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#imgPreview').attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]);
        }
    }
</script>

<script th:if="!${userDto?.idx}">
    $("#insert").click(function () {
        // validation
        if (!validateByExternal("username", "ID", !usernameVaildation)) {
            return false;
        } else if (!validateByExternal("password", "password", !passwordVaildation)) {
            return false;
        } else if (!validateByBlank("koreanName", "Korean Name")) {
            return false;
        } else if (!validateByBlank("englishName", "English Name")) {
            return false;
        } else if (!validateByExternal("email", "email", !emailVaildation)) {
            return false;
        } /*else if (!validateByExternal("privateEmail", "private email", !privateEmailVaildation)) {
            return false;
        } else if (!validateByExternal("contact", "contact", !contactVaildation)) {
            return false;
        }*/

        // 회원 업로드
        var jsonData = $("#form").serializeObject();
        var userIdx = 0;

        $.ajax({
            url: moduleAppApiAddress + "/api/users",
            type: "post",
            data: JSON.stringify(jsonData),
            dataType: "json",
            contentType: "application/json",
            async: false,
        })
            .done(function (msg) {
                userIdx = msg;
                exit = false;
            })
            .fail(function (msg) {
                parseErrorMsg(msg);
                exit = true;
            });

        if (exit) return false;

        // 파일 업로드
        var formData = new FormData();

        formData.append("files", document.getElementsByName("file")[0].files[0]);
        formData.append("idx", userIdx);
        formData.append("createdBy", document.getElementsByName("createdBy")[0].value);

        $.ajax({
            url: moduleAppApiAddress + "/api/users/attachedFile",
            type: "post",
            data: formData,
            dataType: "text",
            enctype: "multipart/form-data",
            processData: false,
            contentType: false,
            async: false,
        })
            .done(function (msg) {
                localStorage.setItem("result", "/user/register-success");
                location.href = "/user?idx=" + userIdx;
            })
            .fail(function (msg) {
                parseErrorMsg(msg);
                deleteUser(userIdx);
            });

    });
</script>
<script th:if="${userDto?.idx}" th:inline="javascript">
    // 초기 valdiation을 모두 true로 설정한다.
    passwordVaildation = true;
    emailVaildation = true;
    privateEmailVaildation = true;
    contactVaildation = true;

    $("#update").click(function () {
        // validation
        var oriUsername = [[${userDto.username}]];
        var oriPassword = [[${userDto.password}]];

        if (!validateByExternal("username", "ID", (document.getElementsByName("username")[0].value != oriUsername) && !usernameVaildation)) {
            return false;
        } else if (!validateByExternal("password", "password", (document.getElementsByName("password")[0].value != oriPassword) && !passwordVaildation)) {
            return false;
        } else if (!validateByBlank("koreanName", "Korean Name")) {
            return false;
        } else if (!validateByBlank("englishName", "English Name")) {
            return false;
        } else if (!validateByExternal("email", "email", !emailVaildation)) {
            return false;
        } else if (!validateByExternal("privateEmail", "private email", !privateEmailVaildation)) {
            return false;
        } else if (!validateByExternal("contact", "contact", !contactVaildation)) {
            return false;
        }

        // 회원 수정
        var jsonData = $("#form").serializeObject();
        var userIdx = +document.getElementsByName("idx")[0].value;

        $.ajax({
            url: moduleAppApiAddress + "/api/users/" + userIdx,
            type: "put",
            data: JSON.stringify(jsonData),
            dataType: "json",
            contentType: "application/json",
            async: false,
        })
            .done(function (msg) {
                // 만일 첨부 파일이 수정되지 않은 경우 '파일 업로드' 및 '파일 삭제'를 수행하지 않음
                if (typeof document.getElementsByName("file")[0].files[0] == "undefined") {
                    localStorage.setItem("result", "/user/update-success");
                    location.href = "/user?idx=" + userIdx;
                    exit = true;
                } else {
                    exit = false;
                }
            })
            .fail(function (msg) {
                parseErrorMsg(msg);
                exit = true;
            })

        if (exit) return true;

        // 파일 삭제
        $.ajax({
            url: moduleAppApiAddress + "/api/users/attachedFile/" + userIdx,
            type: "delete",
            contentType: "application/json",
            async: false,
        })
            .done(function (msg) {
                exit = false;
            })
            .fail(function (msg) {
                parseErrorMsg(msg);
                exit = true;
            });

        if (exit) return flase;

        // 파일 업로드
        var formData = new FormData();

        formData.append("files", document.getElementsByName("file")[0].files[0]);
        formData.append("idx", userIdx);
        formData.append("createdBy", document.getElementsByName("createdBy")[0].value);

        $.ajax({
            url: moduleAppApiAddress + "/api/users/attachedFile",
            type: "post",
            data: formData,
            dataType: "text",
            enctype: "multipart/form-data",
            processData: false,
            contentType: false,
        })
            .done(function (msg) {
                localStorage.setItem("result", "/user/update-success");
                location.href = "/user?idx=" + userIdx;
            })
            .fail(function (msg) {
                parseErrorMsg(msg);
                deleteUser(userIdx);
            });

    });
</script>

</body>
</html>