<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- css -->
    <th:block th:replace="layout/css.html"></th:block>

    <title>Index</title>
</head>
<body>
<!-- header -->
<div class="container-md">
    <form name="form" id="form" action="#">
        <h1>Index</h1>
        <hr>
        <a sec:authorize="isAnonymous()" th:href="@{/user/login}">Login</a>
        <a sec:authorize="isAnonymous()" th:href="@{/user/form}">Join</a>

        <a sec:authorize="isAuthenticated()" th:href="@{/user/logout}">Logout</a>
        <a sec:authorize="isAuthenticated()" th:href="@{'/user?idx='+${#authentication.principal.idx}}">My Information</a>
        <a href="/notice-board/list"> test </a>

        <br>
        <br>
        User Authority:
        <a sec:authorize="hasAuthority('root')">root</a>
        <a sec:authorize="hasAuthority('manager')">manager</a>
        <a sec:authorize="hasAuthority('general')">gerneral</a>


        <br>
        <br>
<!--        User Authority Check:-->
<!--        <span sec:authentication="principal.authorities"></span>-->
    </form>
</div>
</body>

</html>
