<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

<meta name="_csrf" th:content="${_csrf.token}">
<meta name="_csrf_header" th:content="${_csrf.headerName}">

<link rel="shortcut icon" href="/images/favicon.ico">
<link rel="icon" href="/images/favicon.ico">

<link rel="stylesheet" th:href="@{/css/font.css}"/>
<link rel="stylesheet" th:href="@{/css/variable.css}"/>
<link rel="stylesheet" th:href="@{/css/general.css}"/>
<link rel="stylesheet" th:href="@{/css/login.css}"/>
<link rel="stylesheet" th:href="@{/css/error.css}"/>
<link rel="stylesheet" th:href="@{/css/style.css}"/>
<link rel="stylesheet" th:href="@{/css/image.css}"/>

<link rel="stylesheet" th:href="@{/css/layout-admin.css}"/>
<link rel="stylesheet" th:href="@{/css/page-admin.css}"/>

<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
<link rel="stylesheet" th:href="@{/summernote/summernote-bs4.min.css}"/>
<link rel="stylesheet" th:href="@{/css/icofont/icofont.min.css}"/>