<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--footer-->
<div th:fragment="footer">
    <footer id="footer">
        <div class="container">
            <div class="row d-flex align-items-center">
                <div class="col-lg-12 text-center">
                    <div class="copyright">
                        &copy; Copyright <strong>Simple Sidebar</strong> and redesigned by <strong>scribnote5</strong>. All Rights Reserved
                    </div>
                    <div class="credits">
                        Designed by <a href="https://startbootstrap.com/">Start Bootstrap</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>
<!--/footer-->
</html>