<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--header-->
<div th:fragment="header">
    <div id="header" class="bg-light border-bottom">
        <div class="d-flex flex-wrap align-content-center justify-content-between">
            <div class="mt-2 ml-3">
                <img id="menu-toggle" src="/images/sidebar.svg" class="sidebar-icon img-thumbnail">
            </div>

            <div class="mt-2 mx-3">
                <div id="userInformation" class="user-information">
                    <a th:href="'/user?idx='+${#authentication.principal.idx}"><img src="/images/user-information-icon.svg" class="user-information-icon"></a>
                    <span class="username" th:text="${#authentication.principal.username}"> </span>
                    <img src="/images/logout-icon.svg" class="logout-icon" id="logout">
                </div>
            </div>
        </div>
    </div>
</div>
<!--/header-->
</html>