<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- sidebar -->
<div th:fragment="sidebar">
    <div id="sidebar-wrapper">
        <div class="sidebar-heading bg-light border-right">
            <a href="/main/home">
                <img src="/images/main-logo.png" class="logo">
            </a>
        </div>

        <div class="sidebar-list">
            <span class="dropdown-btn">
                Introduction Page
                <img src="/images/chevron-down-icon.svg" class="chevron-down-icon">
            </span>
            <div class="dropdown-container">
                <a href="/introduction/list">Introduction</a>
                <a href="/introduction-image/list">Introduction Image</a>
            </div>

            <span class="dropdown-btn">
                About Us Page
                <img src="/images/chevron-down-icon.svg" class="chevron-down-icon">
            </span>
            <div class="dropdown-container">
                <a href="/about-us/list">About Us</a>
                <a href="/learn-more-read/list">Learn More Read</a>
                <a href="/learn-more-video/list">Learn More Video</a>
            </div>

            <a href="/user/list">User</a>

            <a href="/publication/list">Publication</a>

            <a href="/category/list">Category</a>

            <a href="/seminar/list">Seminar</a>

            <span class="dropdown-btn">
                Project Page
                <img src="/images/chevron-down-icon.svg" class="chevron-down-icon">
            </span>
            <div class="dropdown-container">
                <a href="/research-field/list">Research Field</a>
                <a href="/project/list">Project</a>
            </div>

            <span class="dropdown-btn">
                More Page
                <img src="/images/chevron-down-icon.svg" class="chevron-down-icon">
            </span>
            <div class="dropdown-container">
                <a href="/notice-board/list">Notice Board</a>
                <a href="/alumni-association/list">Alumni Association</a>
                <a href="/album/list">Album</a>
                <a href="/guest-book/list">Guest Book</a>
            </div>

            <span class="dropdown-btn">
                Admin Page
                <img src="/images/chevron-down-icon.svg" class="chevron-down-icon">
            </span>
            <div class="dropdown-container">
                <a href="/login-history/list">Login History</a>
                <a href="/data-history/list">Data History</a>
                <a href="/alarm/list">Alarm</a>
                <a href="/email/list">Email</a>
                <a href="/maintenance/list">Maintenance</a>
                <a href="/setting/?idx=1">Setting</a>
            </div>

        </div>
    </div>
</div>
<!--/sidebar-->
</html>