<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- css -->
    <th:block th:replace="layout/css.html"></th:block>

    <title>Introduction Form</title>
</head>
<body>
<div class="d-flex" id="wrapper">
    <!-- sidebar -->
    <div th:replace="layout/sidebar::sidebar"></div>

    <div id="page-content-wrapper">
        <!-- header -->
        <div th:replace="layout/header::header"></div>

        <div class="container-fluid">
            <form name="form" id="form" th:object="${introductionDto}" action="#">
                <div class="page-header">
                    <h1 th:if="!*{idx}">Introduction Register</h1>
                    <h1 th:if="*{idx}">Introduction Update</h1>
                </div>

                <div class="mt-5">
                    <table class="table">
                        <colgroup>
                            <col width="15%"/>
                            <col width="85%"/>
                        </colgroup>
                        <tr>
                            <th colspan="2" class="sub-item-title">Introduction Information</th>
                        </tr>
                        <tr>
                            <th>Title</th>
                            <td><input type="text" name="title" id="title" class="form-control" th:value="*{title}"/></td>
                        </tr>
                        <tr>
                            <td colspan="2"><textarea name="content" id="summernote" class="summernote" th:text="*{content}"></textarea></td>
                        </tr>
                        <tr>
                            <th colspan="2" class="sub-item-title">Additional Information</th>
                        </tr>
                        <tr>
                            <th>Active Status</th>
                            <td>
                                <div class="pull-left">
                                    <select class="custom-select active-status" name="activeStatus" th:field="*{activeStatus}">
                                        <option th:value="ACTIVE">Active</option>
                                        <option th:value="INACTIVE">Inactive</option>
                                    </select>
                                </div>
                            </td>
                        </tr>
                        <tr th:if="*{idx}">
                            <th>Created Date</th>
                            <td><input type="text" class="form-control created-modified-date" readonly="readonly" th:value="*{#temporals.format(createdDate,'yyyy-MM-dd HH:mm')}"/></td>
                        </tr>
                        <tr th:if="*{idx}">
                            <th>Modified Date</th>
                            <td><input type="text" class="form-control created-modified-date" readonly="readonly" th:value="*{#temporals.format(lastModifiedDate,'yyyy-MM-dd HH:mm')}"/></td>
                        </tr>
                    </table>
                </div>

                <div class="row justify-content-between mt-5 mb-3">
                    <div class="col-auto mx-3">
                        <a href="/introduction/list" class="btn btn-secondary">Move to List</a>
                    </div>
                    <div class="col-auto mx-3">
                        <button th:if="!*{idx}" id="insert" type="button" class="btn btn-primary">Register</button>
                        <button th:if="*{idx}" id="update" type="button" class="btn btn-info">Update</button>
                    </div>
                </div>

                <!-- input type="hidden" -->
                <input type="hidden" name="idx" th:value="*{idx}"/>
                <input type="hidden" name="createdBy" th:value="*{#strings.isEmpty(createdBy)} ? ${#authentication.principal.username} : *{createdBy}"/>
                <input type="hidden" name="lastModifiedBy" th:value="${#authentication.principal.username}"/>
            </form>
        </div>
    </div>
</div>

<!-- footer -->
<div th:replace="layout/footer::footer"></div>

<!-- script file -->
<th:block th:replace="layout/script.html"></th:block>

<!-- javascript -->
<script>
    $(document).ready(function () {
        <!-- summernote setting -->
        $('#summernote').summernote({
            height: 400,	// 에디터 높이
            minHeight: null,	// 최소 높이
            maxHeight: null,	// 최대 높이
            // focus: true,	// 에디터 로딩후 포커스를 맞출지 여부
            lang: "ko-KR",// 한글 설정
            placeholder: "The editor's max input size of bytes is 16777215(16 MB)."	//placeholder 설정
        });
    });

    function deleteIntroduction(introductionIdx) {
        // 게시글 삭제
        $.ajax({
            url: "http://localhost:8081/api/introductions/" + introductionIdx,
            type: "delete",
            dataType: "text",
            contentType: "application/json",
            async: false,
        })
            .done(function (msg) {

            })
            .fail(function (msg) {
                console.log("Delete notice board is fail.");
            });
    }
</script>

<script th:if="!${introductionDto?.idx}">
    $('#insert').click(function () {
        // (input tag mame, length or size, message)
        if (!(validateByLength("title", 50, "title") && validateBySize("content", 16777215, "content"))) {
            return false;
        }

        var jsonData = $("#form").serializeObject();

        // 게시글 업로드
        $.ajax({
            url: "http://localhost:8081/api/introductions",
            type: "post",
            data: JSON.stringify(jsonData),
            dataType: "text",
            contentType: "application/json",
            async: false,
        })
            .done(function (msg) {
                location.href = "/introduction?idx=" + msg;
            })
            .fail(function (msg) {
                paraseErrorMsg(msg);
                console.log("Update introduction is fail.");
            });
    });
</script>

<script th:if="${introductionDto?.idx}" th:inline="javascript">
    $('#update').click(function () {
        // (input tag mame, length or size, message)
        if (!(validateByLength("title", 50, "title") && validateBySize("content", 16777215, "content"))) {
            return false;
        }

        var jsonData = $("#form").serializeObject();
        var introductionIdx = document.getElementsByName("idx")[0].value;

        // 게시글 수정
        $.ajax({
            url: "http://localhost:8081/api/introductions/" + introductionIdx,
            type: "put",
            data: JSON.stringify(jsonData),
            dataType: "text",
            contentType: "application/json",
            async: false,
        })
            .done(function (msg) {
                location.href = "/introduction?idx=" + introductionIdx;
            })
            .fail(function (msg) {
                paraseErrorMsg(msg);
                console.log("Update introduction is fail.");
                exit = true;
            });

    });
</script>

</body>
</html>