<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- css -->
    <th:block th:replace="layout/css.html"></th:block>

    <title th:if="!${publicationDto.idx}" th:text="${@environment.getProperty('title')} + ' | Publication Register'"></title>
    <title th:if="${publicationDto.idx}" th:text="${@environment.getProperty('title')} + ' | Publication Update'"></title>
</head>
<body>
<div class="d-flex" id="wrapper">
    <!-- sidebar -->
    <div th:replace="layout/sidebar::sidebar"></div>

    <div id="page-content-wrapper">
        <!-- header -->
        <div th:replace="layout/header::header"></div>

        <div class="container-fluid">
            <form name="form" id="form" th:object="${publicationDto}" action="#">
                <div class="page-header breadcrumbs">
                    <div class="d-flex justify-content-between align-items-center">
                        <h2 th:if="!*{idx}">Publication Register</h2>
                        <h2 th:if="*{idx}">Publication Update</h2>
                        <ol>
                            <li>Home</li>
                            <img src="/images/chevron-right.svg">
                            <li th:if="!*{idx}">Publication Register</li>
                            <li th:if="*{idx}">Publication Update</li>
                        </ol>
                    </div>
                </div>

                <div class="mt-5">
                    <table class="table">
                        <colgroup>
                            <col width="17.5%"/>
                            <col width="82.5%"/>
                        </colgroup>
                        <tr>
                            <th colspan="2" class="sub-item-title">Publication Information</th>
                        </tr>
                        <tr>
                            <th>Title</th>
                            <td><input type="text" name="title" class="form-control form-control-sm" th:value="*{title}"/></td>
                        </tr>
                        <tr>
                            <th>Authors</th>
                            <td><input type="text" name="authors" class="form-control form-control-sm" th:value="*{authors}"/></td>
                        </tr>
                        <tr>
                            <th>Publishing Area</th>
                            <td>
                                <select class="custom-select custom-select-sm" name="publishingArea" id="publishingArea" th:field="*{publishingArea}">
                                    <option th:value="DOMESTIC">Domestic</option>
                                    <option th:value="INTERNATIONAL">International</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th>Publication Type</th>
                            <td>
                                <select th:disabled="*{#strings.equals(publishingArea, 'INTERNATIONAL')}" th:style="!*{#strings.equals(publishingArea, 'INTERNATIONAL')} ? 'display:inline' : 'display:none'"
                                        class="custom-select custom-select-sm" name="publicationType" id="domesticPublicationType" th:field="*{publicationType}">
                                    <option th:value="JOURNAL">Journal</option>
                                    <option th:value="JOURNAL_KCI">Journal - KCI</option>
                                    <option th:value="CONFERENCE_POSTER">Conference- Poster</option>
                                    <option th:value="CONFERENCE_REGULAR">Conference- Regular</option>
                                    <option th:value="CONFERENCE_DEMO">Conference- Demo</option>
                                    <option th:value="CONFERENCE_WORKSHOP">Conference- Workshop</option>
                                </select>

                                <select th:disabled="!*{#strings.equals(publishingArea, 'INTERNATIONAL')}" th:style="*{#strings.equals(publishingArea, 'INTERNATIONAL')} ? 'display:inline' : 'display:none'"
                                        class="custom-select custom-select-sm" name="publicationType" id="internationalPublicationType" th:field="*{publicationType}">
                                    <option th:value="JOURNAL">Journal</option>
                                    <option th:value="JOURNAL_SCOPUS">Journal - SCOPUS</option>
                                    <option th:value="JOURNAL_SCI">Journal - SCI</option>
                                    <option th:value="CONFERENCE_POSTER">Conference- Poster</option>
                                    <option th:value="CONFERENCE_REGULAR">Conference- Regular</option>
                                    <option th:value="CONFERENCE_DEMO">Conference- Demo</option>
                                    <option th:value="CONFERENCE_WORKSHOP">Conference- Workshop</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th>Published In</th>
                            <td><input type="text" class="form-control form-control-sm" name="publishedIn" th:value="*{publishedIn}"/></td>
                        </tr>
                        <tr>
                            <th>Impact Factor(SCI or SCOPUS)</th>
                            <td><input type="text" name="impactFactor" class="form-control form-control-sm" th:placeholder="*{#strings.isEmpty(impactFactor)} ? 'ex) IF: 0.861' : ''" th:value="*{impactFactor}"/></td>
                        </tr>
                        <tr>
                            <th>Published Date</th>
                            <td><input type="date" name="publishedDate" class="form-control form-control-sm" th:value="*{publishedDate}"/></td>
                        </tr>
                        <tr>
                            <th>Pages</th>
                            <td><input type="text" name="pages" class="form-control form-control-sm" th:value="*{pages}"/></td>
                        </tr>
                        <tr>
                            <th>Volume</th>
                            <td><input type="text" name="volume" class="form-control form-control-sm" th:value="*{volume}"/></td>
                        </tr>
                        <tr>
                            <th>Number</th>
                            <td><input type="text" name="number" class="form-control form-control-sm" th:value="*{number}"/></td>
                        </tr>
                        <tr>
                            <th>DOI</th>
                            <td><input type="text" name="doi" class="form-control form-control-sm" th:value="*{doi}"/></td>
                        </tr>
                        <tr>
                            <th>URI</th>
                            <td><input type="text" name="uri" class="form-control form-control-sm" th:value="*{uri}"/></td>
                        </tr>
                        <tr>
                            <th>ISBN/ISSN</th>
                            <td><input type="text" name="isbnIssn" class="form-control form-control-sm" th:value="*{isbnIssn}"/></td>
                        </tr>
                        <tr>
                            <th>Remark</th>
                            <td><input type="text" name="remark" class="form-control form-control-sm" th:value="*{remark}"/></td>
                        </tr>
                        <tr>
                            <th>Attached File</th>
                            <td>
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="file" name="file">
                                    <label class="custom-file-label" for="file">Choose file.</label>
                                </div>
                                <div id="fileDrop" class="fileDrop">
                                    <strong>Drop files here.</strong>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th>Total file size</th>
                            <td>
                                <div><span id="totalFileSize"> 0 MB</span>, Up to 20 MB</div>
                            </td>
                        <tr>
                            <th>Upload Attached File</th>
                            <td>
                                <div id="attachedFileList"></div>
                            </td>
                        </tr>
                        <tr>
                            <th>Uploaded Attached File</th>
                            <td>
                                <div id="uploadedAttachedFileList" th:each="attachedFile : *{attachedFileList}">
                                    <div th:id="imgData + ${attachedFileStat.index}">
                                        <span th:text="${attachedFile.fileName} + ',&nbsp;' + 'File Size: ' + ${attachedFile.fileSize} + '&nbsp;'"></span>
                                        <img th:attr="src=@{|/images/cancel-icon.png|}, onclick=|deleteFile('${attachedFileStat.index}','${attachedFile.idx}','${attachedFile.savedFileName}')|"
                                             class="cancel-icon"/>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th colspan="2" class="sub-item-title">Additional Information</th>
                        </tr>
                        <tr>
                            <th>Active Status</th>
                            <td>
                                <div class="pull-left">
                                    <select class="custom-select custom-select-sm" name="activeStatus" th:field="*{activeStatus}">
                                        <option th:value="ACTIVE">Active</option>
                                        <option th:value="INACTIVE">Inactive</option>
                                    </select>
                                </div>
                            </td>
                        </tr>
                        <tr th:if="*{idx}">
                            <th>Created Date</th>
                            <td><input type="text" class="form-control form-control-sm" readonly="readonly" th:value="*{#temporals.format(createdDate,'yyyy-MM-dd HH:mm')}"/></td>
                        </tr>
                        <tr th:if="*{idx}">
                            <th>Last Modified Date</th>
                            <td><input type="text" class="form-control form-control-sm" readonly="readonly" th:value="*{#temporals.format(lastModifiedDate,'yyyy-MM-dd HH:mm')}"/></td>
                        </tr>
                        <tr th:if="*{idx}">
                            <th>Created By</th>
                            <td><input type="text" class="form-control form-control-sm" readonly="readonly" th:value="*{createdBy}"/></td>
                        </tr>
                        <tr th:if="*{idx}">
                            <th>Last Modified By</th>
                            <td><input type="text" class="form-control form-control-sm" readonly="readonly" th:value="*{lastModifiedBy}"/></td>
                        </tr>
                        <tr th:if="*{idx}">
                            <th>Views</th>
                            <td><input type="text" class="form-control form-control-sm" readonly="readonly" th:value="*{views}"/></td>
                        </tr>
                    </table>
                </div>

                <div class="row justify-content-between mt-5 mb-3">
                    <div class="col-auto mx-3">
                        <a href="/publication/list" class="btn btn-secondary">Move to List</a>
                    </div>
                    <div class="col-auto mx-3">
                        <button th:if="!*{idx}" id="insert" type="button" class="btn-main">Register</button>
                        <button th:if="*{idx}" id="update" type="button" class="btn btn-info">Update</button>
                    </div>
                </div>

                <!-- input type="hidden" -->
                <input type="hidden" name="idx" th:value="*{idx}"/>
                <input type="hidden" name="createdBy" th:value="*{#strings.isEmpty(createdBy)} ? ${#authentication.principal.username} : *{createdBy}"/>
                <input type="hidden" name="lastModifiedBy" th:value="${#authentication.principal.username}"/>
            </form>
        </div>
    </div>
</div>
<!-- footer -->
<div th:replace="layout/footer::footer"></div>

<!-- script file -->
<th:block th:replace="layout/script.html"></th:block>

<!-- javascript -->
<script>
    var totalFileSize = 0;
    var insertFileArray = [];
    var deleteFileArray = [];
    var imgDataId = 0;
    var exit = null;

    $(document).ready(function () {
        <!-- File Drop -->
        $("#fileDrop").on("dragenter dragover", function (event) {
            event.preventDefault(); // 기본 효과를 막음
        });
    });

    /* input tag event */
    $("#file").change(function () {
        var files = document.getElementsByName("file")[0].files;

        for (var i = 0; i < files.length; i++) {
            if (validateFile(files[i])) {
                insertFileArray.push(files[i]);
                document.getElementById("totalFileSize").innerHTML = convertFileSize(totalFileSize);

                $("#attachedFileList").append('<div id="imgData' + imgDataId + '">'
                    + '<span>'
                    + files[i].name + ",&nbsp; File Size: " + convertFileSize(files[i].size)
                    + '<img src="/images/cancel-icon.png" class="cancel-icon" onClick="cancelFile(' + imgDataId + ')" />'
                    + '</span>'
                    + '</div>');

                imgDataId++;
            } else {
                return false;
            }
        }
    });

    /* Drag & drop event */
    $("#fileDrop").on("drop", function (event) {
        event.preventDefault(); // 기본 효과를 막음
        // 드래그된 파일의 정보
        // event : jQuery의 이벤트
        // originalEvent : javascript의 이벤트
        var files = event.originalEvent.dataTransfer.files;

        for (var i = 0; i < files.length; i++) {
            if (validateFile(files[i])) {
                insertFileArray.push(files[i]);
                document.getElementById("totalFileSize").innerHTML = convertFileSize(totalFileSize);

                $("#attachedFileList").append('<div id="imgData' + imgDataId + '">'
                    + '<span>'
                    + files[i].name + ",&nbsp; File Size: " + convertFileSize(files[i].size)
                    + '<img src="/images/cancel-icon.png" class="cancel-icon" onClick="cancelFile(' + imgDataId + ')" />'
                    + '</span>'
                    + '</div>');

                imgDataId++;
            } else {
                return false;
            }
        }
    });

    // 새로 업로드한 파일을 취소하는 경우
    function cancelFile(fileId) {
        $("#imgData" + fileId).remove();

        totalFileSize -= insertFileArray[fileId].size;
        insertFileArray[fileId] = null;

        document.getElementById("totalFileSize").innerHTML = convertFileSize(totalFileSize);
    }

    // 기존 업로드한 파일을 삭제하는 경우
    function deleteFile(fileId, idx, savedFileName) {
        $("#imgData" + fileId).remove();

        deleteFileArray.push(idx);
    }

    function deletePublication(publicationIdx) {
        $.ajax({
            url: moduleAppApiAddress + "/api/publications/" + publicationIdx,
            type: "delete",
            dataType: "text",
            contentType: "application/json",
            async: false,
        })
            .done(function (msg) {

            })
            .fail(function (msg) {
                parseErrorMsg(msg);
            });
    }

    $("#publishingArea").change(function () {
        var selectOption = document.getElementById("publishingArea");
        var domesticPublicationType = document.getElementById("domesticPublicationType");
        var internationalPublicationType = document.getElementById("internationalPublicationType");

        if (selectOption.options[selectOption.selectedIndex].value == "DOMESTIC") {
            domesticPublicationType.style.display = "inline";
            domesticPublicationType.disabled = false;
            internationalPublicationType.style.display = "none";
            internationalPublicationType.disabled = true;
        } else {
            domesticPublicationType.style.display = "none";
            domesticPublicationType.disabled = true;
            internationalPublicationType.style.display = "inline";
            internationalPublicationType.disabled = false;
        }
    });
</script>
<script th:if="!${publicationDto?.idx}">
    $("#insert").click(function () {
        // (input tag mame, length or size, message)
        if (!(validateByLength("title", 255, "title")) || !(validateByLength("authors", 255, "authors"))) {
            return false;
        }

        var jsonData = $("#form").serializeObject();
        var publicationIdx;

        $.ajax({
            url: moduleAppApiAddress + "/api/publications",
            type: "post",
            data: JSON.stringify(jsonData),
            dataType: "text",
            contentType: "application/json",
            async: false,
        })
            .done(function (msg) {
                publicationIdx = msg;
                exit = false;
            })
            .fail(function (msg) {
                parseErrorMsg(msg);
                exit = true;
            });

        if (exit) return false;

        // 파일 업로드
        var formData = new FormData();

        for (var i = 0; i < insertFileArray.length; i++) {
            formData.append("files", insertFileArray[i]);
        }

        formData.append("idx", publicationIdx);
        formData.append("createdBy", document.getElementsByName("createdBy")[0].value);

        $.ajax({
            url: moduleAppApiAddress + "/api/publications/attachedFile",
            type: "post",
            data: formData,
            dataType: "text",
            enctype: "multipart/form-data",
            processData: false,
            contentType: false,
            async: false,
        })
            .done(function (msg) {
                localStorage.setItem("result", "/publication/register-success");
                location.href = "/publication/list";
            })
            .fail(function (msg) {
                parseErrorMsg(msg);
                deletePublication(publicationIdx);
            });

    });
</script>
<script th:if="${publicationDto?.idx}" th:inline="javascript">
    $("#update").click(function () {
        // (input tag mame, length or size, message)
        if (!(validateByLength("title", 255, "title")) || !(validateByLength("authors", 255, "authors"))) {
            return false;
        }

        var jsonData = $("#form").serializeObject();
        var publcationIdx = document.getElementsByName("idx")[0].value;

        $.ajax({
            url: moduleAppApiAddress + "/api/publications/" + publcationIdx,
            type: "put",
            data: JSON.stringify(jsonData),
            dataType: "text",
            contentType: "application/json",
            async: false,
        })
            .done(function (msg) {
                exit = false;
            })
            .fail(function (msg) {
                parseErrorMsg(msg);
                exit = true;
            });

        if (exit) return false;

        // 만일 파일이 수정되지 않은 경우 '파일 업로드' 및 '파일 삭제'를 수행하지 않음
        if (insertFileArray.length == 0 && deleteFileArray.length == 0) {
            localStorage.setItem("result", "/publication/update-success");
            location.href = "/publication?idx=" + publcationIdx;

            return true;
        }

        // 파일 삭제
        if (deleteFileArray.length > 0) {
            $.ajax({
                url: moduleAppApiAddress + "/api/publications/attachedFile",
                type: "delete",
                data: JSON.stringify(deleteFileArray),
                contentType: "application/json",
                async: false,
            })
                .done(function (msg) {
                    exit = false;
                })
                .fail(function (msg) {
                    parseErrorMsg(msg);
                    exit = true;
                });
        }

        if (exit) return false;

        if (insertFileArray.length <= 0) {
            localStorage.setItem("result", "/publication/update-success");
            location.href = "/publication?idx=" + publcationIdx;
        }

        // 파일 업로드
        var formData = new FormData();

        for (var i = 0; i < insertFileArray.length; i++) {
            formData.append("files", insertFileArray[i]);
        }

        formData.append("idx", publcationIdx);
        formData.append("createdBy", document.getElementsByName("createdBy")[0].value);

        $.ajax({
            url: moduleAppApiAddress + "/api/publications/attachedFile",
            type: "post",
            data: formData,
            dataType: "text",
            enctype: "multipart/form-data",
            processData: false,
            contentType: false,
            async: false,
        })
            .done(function (msg) {
                localStorage.setItem("result", "/publication/update-success");
                location.href = "/publication?idx=" + publcationIdx;
            })
            .fail(function (msg) {
                parseErrorMsg(msg);
                deletePublication(publcationIdx);
            })
    });
</script>

</body>
</html>