<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- css -->
    <th:block th:replace="layout/css.html"></th:block>

    <title>Publication List</title>
</head>
<body>
<!-- header -->
<div th:replace="layout/header::header"></div>

<div class="container-md">
    <form name="form" id="form" th:object="${publicationSearchDto}" action="#">
        <div class="page-header">
            <h1>Publication List</h1>
        </div>
        <div class="row justify-content-md-end">
            <div class="col-md1 my-md-1 mx-md-1">
                <select name="publicationSearchType" th:field="*{publicationSearchType}" class="form-control input-sm">
                    <option th:each="publicationSearchType : ${T(kr.ac.univ.publication.dto.enums.PublicationSearchType).values()}"
                            th:value="${publicationSearchType}"
                            th:text="${publicationSearchType.getSearchPublicationType()}"></option>
                </select>
            </div>
            <div class="col-md1 my-md-1 mx-md-1">
                <input type="text" name="keyword" class="form-control" th:value="${searchDto?.keyword}"/>
            </div>
            <div class="col-md1 my-md-1 mx-md-1">
                <button id="search" type="button" class="btn btn-primary">Search</button>
            </div>
        </div>

        <br/> <br/>
        <div id="main">
            <table class="table table-hover">
                <colgroup>
                    <col width="5%"/>
                    <col width="40%"/>
                    <col width="25%"/>
                    <col width="15%"/>
                    <col width="15%"/>
                </colgroup>
                <thead>
                <tr>
                    <th>No.</th>
                    <th>Title</th>
                    <th>Authors</th>
                    <th>Published In</th>
                    <th>Published Date</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="publicationDto : ${publicationDtoList}">
                    <td th:text="${publicationDto.idx}"></td>
                    <td>
                        <a th:href="'/publication?idx='+${publicationDto.idx}" th:text="${publicationDto.title}"></a>
                        &nbsp;<img th:if="${publicationDto.newIcon}" th:attr="src=@{|/images/new_icon.png|}"
                                   class="new_icon"/>
                    </td>
                    <td th:text="${publicationDto.authors}"></td>
                    <td th:text="${publicationDto.publishedIn}"></td>
                    <td th:text="${#temporals.format(publicationDto.publishedDate,'yyyy-MM-dd')}"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <br>

        <div class="row justify-content-end">
            <a href="/publication/form" class="btn btn-primary col-md-1">Register</a>
        </div>

        <!-- Pagination -->
        <div class="row justify-content-md-center" aria-label="Page navigation">
            <ul class="pagination"
                th:with="startNumber=${T(Math).floor(publicationDtoList.number/10)}*10+1, endNumber=(${publicationDtoList.totalPages} > ${startNumber}+9) ? ${startNumber}+9 : (${publicationDtoList.totalPages} == 0 ? 1 : ${publicationDtoList.totalPages})">
                <li class="page-item">
                    <a class="page-link" aria-label="Previous"
                       th:href="@{/publication/list(page=1,publicationSearchType=*{publicationSearchType},searchType=*{searchType},keyword=*{keyword})}">&laquo;</a>
                </li>
                <li class="page-item" th:style="${publicationDtoList.first} ? 'display:none'">
                    <a class="page-link"
                       th:href="@{/publication/list(page=${publicationDtoList.number},publicationSearchType=*{publicationSearchType},searchType=*{searchType},keyword=*{keyword})}">&lsaquo;</a>
                </li>

                <li class="page-item" th:each="page :${#numbers.sequence(startNumber, endNumber)}"
                    th:class="(${page} == ${publicationDtoList.number}+1) ? 'page-item active'">
                    <a class="page-link"
                       th:href="@{/publication/list(page=${page},publicationSearchType=*{publicationSearchType},searchType=*{searchType},keyword=*{keyword})}"
                       th:text="${page}"><span class="sr-only"></span></a>
                </li>

                <li class="page-item" th:style="${publicationDtoList.last} ? 'display:none'">
                    <a class="page-link"
                       th:href="@{/publication/list(page=${publicationDtoList.number}+2,publicationSearchType=*{publicationSearchType},searchType=*{searchType},keyword=*{keyword})}">&rsaquo;</a>
                </li>
                <li class="page-item">
                    <a class="page-link" aria-label="Next"
                       th:href="@{/publication/list(page=${publicationDtoList.totalPages},publicationSearchType=*{publicationSearchType},searchType=*{searchType},keyword=*{keyword})}">&raquo;</a>
                </li>
            </ul>
        </div>
        <!-- /Pagination -->
    </form>
</div>

<!-- footer -->
<div th:replace="layout/footer::footer"></div>

<!-- script file -->
<th:block th:replace="layout/script.html"></th:block>

<script>
    $('#search').click(function () {
        document.form.action = "/publication/list";
        document.form.method = "get";
        document.form.submit();
    });
</script>

</body>
</html>