<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- css -->
    <th:block th:replace="layout/css.html"></th:block>

    <title th:text="${@environment.getProperty('title')} + ' | Publication Read'"></title>
</head>
<body>
<div class="d-flex" id="wrapper">
    <!-- sidebar -->
    <div th:replace="layout/sidebar::sidebar"></div>

    <div id="page-content-wrapper">
        <!-- header -->
        <div th:replace="layout/header::header"></div>

        <div class="container-fluid">
            <form id="form" th:object="${publicationDto}" action="#">
                <div class="page-header breadcrumbs">
                    <div class="d-flex justify-content-between align-items-center">
                        <h2>Publication Read</h2>
                        <ol>
                            <li>Home</li>
                            <li>Publication Read</li>
                        </ol>
                    </div>
                </div>

                <div class="mt-5">
                    <table class="table">
                        <colgroup>
                            <col width="17.5%"/>
                            <col width="82.5%"/>
                        </colgroup>
                        <tr>
                            <th colspan="4" class="sub-item-title">Publication Information</th>
                        </tr>
                        <tr>
                            <th>Title</th>
                            <td><span id="title" th:text="*{title}"></span></td>
                        </tr>
                        <tr>
                            <th>Authors</th>
                            <td><span id="authors" th:text="*{authors}"></span></td>
                        </tr>
                        <tr>
                            <th>Publishing Area</th>
                            <td>
                                <span th:if="*{publishingArea?.name() == 'DOMESTIC'}" th:text="Domestic"> </span>
                                <span th:if="*{publishingArea?.name() == 'INTERNATIONAL'}" th:text="International"> </span>
                            </td>
                        </tr>
                        <tr>
                            <th>Publication Type</th>
                            <td>
                                <span th:if="*{publicationType?.name() == 'JOURNAL'}" th:text="Journal"> </span>
                                <span th:if="*{publicationType?.name() == 'JOURNAL_KCI'}" th:text="'Journal - KCI'"> </span>
                                <span th:if="*{publicationType?.name() == 'JOURNAL_SCOPUS'}" th:text="'Journal - SCOPUS'"> </span>
                                <span th:if="*{publicationType?.name() == 'JOURNAL_SCI'}" th:text="'Journal - SCI'"> </span>
                                <span th:if="*{publicationType?.name() == 'POSTER'}" th:text="'Conference- Poster'"> </span>
                                <span th:if="*{publicationType?.name() == 'REGULAR'}" th:text="'Conference- Regular'"> </span>
                                <span th:if="*{publicationType?.name() == 'DEMO'}" th:text="'Conference- Demo'"> </span>
                                <span th:if="*{publicationType?.name() == 'WORKSHOP'}" th:text="'Conference- Workshop'"> </span>
                            </td>
                        </tr>
                        <tr>
                            <th>Published In</th>
                            <td><span id="publishedIn" th:text="*{publishedIn}"></span></td>
                        </tr>
                        <tr>
                            <th>Impact Factor(SCI or SCOPUS)</th>
                            <td><span id="impactFactor" th:text="*{impactFactor}"></span>
                            </td>
                        </tr>
                        <tr>
                            <th>Published Date</th>
                            <td><span id="publishedDate" th:text="*{#temporals.format(publishedDate,'yyyy-MM-dd')}"/></td>
                        </tr>
                        <tr>
                            <th>Pages</th>
                            <td><span id="pages" th:text="*{pages}"></span></td>
                        </tr>
                        <tr>
                            <th>Volume</th>
                            <td><span id="volume" th:text="*{volume}"></span></td>
                        </tr>
                        <tr>
                            <th>Number</th>
                            <td><span id="number" th:text="*{number}"></span></td>
                        </tr>
                        <tr>
                            <th>Doi</th>
                            <td><span id="Doi" th:text="*{Doi}"></span></td>
                        </tr>
                        <tr>
                            <th>URI</th>
                            <td><span id="uri" th:text="*{Doi}"></span></td>
                        </tr>
                        <tr>
                            <th>ISBN/ISSN</th>
                            <td><span id="ISBN/ISSN" th:text="*{isbnIssn}"></span></td>
                        </tr>
                        <tr>
                            <th>Remark</th>
                            <td><span id="remark" th:text="*{remark}"></span></td>
                        </tr>

                        <tr>
                            <th>Uploaded Attached File</th>
                            <td>
                                <div id="attachedFileList" th:each="attachedFile : *{attachedFileList}">
                                <span th:attr="onclick=|location.href='${@environment.getProperty('module-app-api.address')}/api/attachedFiles/download/${attachedFile.savedFileName}'|"
                                      th:text="${attachedFile.fileName} + ',&nbsp;' + 'File size: ' + ${attachedFile.fileSize}"></span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th colspan="2" class="sub-item-title">Additional Information</th>
                        </tr>
                        <tr>
                            <th>Active Status</th>
                            <td>
                                <div>
                                    <span th:if="*{activeStatus?.name() == 'ACTIVE'}" th:text="Active"> </span>
                                    <span th:if="*{activeStatus?.name() == 'INACTIVE'}" th:text="Inactive"> </span>
                                </div>
                            </td>
                            </td>
                        </tr>
                        <tr>
                            <th>Created Date</th>
                            <td><span th:text="*{#temporals.format(createdDate,'yyyy-MM-dd HH:mm')}"/></td>
                        </tr>
                        <tr>
                            <th>Last Modified Date</th>
                            <td><span th:text="*{#temporals.format(lastModifiedDate,'yyyy-MM-dd HH:mm')}"/></td>
                        </tr>
                        <tr>
                            <th>Created By</th>
                            <td><span th:text="*{createdBy}"/></td>
                        </tr>
                        <tr>
                            <th>Last Created By</th>
                            <td><span th:text="*{lastModifiedBy}"/></td>
                        </tr>
                        <tr>
                            <th>Views</th>
                            <td><span th:text="*{views}"/></td>
                        </tr>
                        <tr>
                            <td colspan="10"></td>
                        </tr>
                    </table>
                </div>

                <div class="row justify-content-between mt-5 mb-3">
                    <div class="col-auto mx-3">
                        <a href="/publication/list" class="btn btn-secondary">Move to List</a>
                    </div>
                    <div th:if="*{access}" class="col-auto mx-3">
                        <a th:href="'/publication/form?idx='+*{idx}" class="btn btn-info mx-1">Update</a>
                        <button type="button" class="btn btn-danger mx-1" id="delete">Delete</button>
                    </div>
                </div>

                <!-- input type="hidden" -->
                <input type="hidden" name="idx" th:value="*{idx}"/>
            </form>
        </div>
    </div>
</div>

<!-- footer -->
<div th:replace="layout/footer::footer"></div>

<!-- script file -->
<th:block th:replace="layout/script.html"></th:block>

<script th:inline="javascript">
    sweetalertFire("publication");

    $("#delete").click(function () {
        Confirm.fire({
            icon: "warning",
            title: "Do you want to delete?",
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    url: moduleAppApiAddress + "/api/publications/" + document.getElementsByName('idx')[0].value,
                    type: "delete",
                    dataType: "text",
                    contentType: "application/json",
                    async: false,
                })
                    .done(function (msg) {
                        localStorage.setItem("result", "/publication/delete-success");
                        location.href = "/publication/list";
                    })
                    .fail(function (msg) {
                        parseErrorMsg(msg);
                    });
            } else {
                return false;
            }
        })
    });
</script>
</body>
</html>