<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- css -->
    <th:block th:replace="layout/css.html"></th:block>

    <title>Error Page</title>
</head>
<body>
<div id="page-content-wrapper">
    <!-- header -->
    <div th:replace="layout/header::header"></div>

    <div class="container error">
        <div class="page-header breadcrumbs">
            <div class="d-flex justify-content-between align-items-center">
                <h2>Error Page</h2>
                <ol>
                    <li>Error</li>
                    <li>500</li>
                </ol>
            </div>
        </div>

        <div class="page-content mt-4">
            <div class="row justify-content-center">
                <h1>Error 500 </h1>
            </div>
            <div class="row justify-content-center">
                <h4>Internal server error occurred.&nbsp;</h4>
            </div>
            <div class="row justify-content-center mt-3">
                <img src="/images/error.png" width="200px" height="200px"/>
            </div>
            <div class="row justify-content-center mt-3">
                <button class="btn-main btn-sm" onclick="history.back();" title="back" alt="back">Return to the previous page.</button>
            </div>
        </div>
    </div>
</div>

</body>
</html>
