<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- css -->
    <th:block th:replace="layout/css.html"></th:block>

    <title th:if="!${emailDto.idx}" th:text="${@environment.getProperty('title')} + ' | Email Register'"></title>
    <title th:if="${emailDto.idx}" th:text="${@environment.getProperty('title')} + ' | Email Update'"></title>
</head>
<body>
<div class="d-flex" id="wrapper">
    <!-- sidebar -->
    <div th:replace="layout/sidebar::sidebar"></div>

    <div id="page-content-wrapper">
        <!-- header -->
        <div th:replace="layout/header::header"></div>

        <div class="container-fluid">
            <form name="form" id="form" th:object="${emailDto}" action="#">
                <div class="page-header breadcrumbs">
                    <div class="d-flex justify-content-between align-items-center">
                        <h2 th:if="!*{idx}">Email Register</h2>
                        <h2 th:if="*{idx}">Email Update</h2>
                        <ol>
                            <li>Home</li>
                            <img src="/images/chevron-right.svg">
                            <li th:if="!*{idx}">Email Register</li>
                            <li th:if="*{idx}">Email Update</li>
                        </ol>
                    </div>
                </div>

                <div class="mt-5">
                    <table class="table">
                        <colgroup>
                            <col width="17.5%"/>
                            <col width="47.5%"/>
                            <col width="35%"/>
                        </colgroup>
                        <tr>
                            <th colspan="3" class="sub-item-title">Email Information</th>
                        </tr>
                        <tr>
                            <th>Email Address</th>
                            <td><input type="text" name="emailAddress" id="emailAddress" class="form-control" th:value="*{emailAddress}"/></td>
                            <td><span id="emailCheckResult"></span></td>
                        </tr>
                        <tr>
                            <th>Receiver Type</th>
                            <td colspan="2">
                                <div class="pull-left">
                                    <select class="custom-select" name="receiverType" th:field="*{receiverType}">
                                        <option th:value="ADMIN">Admin</option>
                                        <option th:value="DEVELOPER">Developer</option>
                                    </select>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th>Note</th>
                            <td colspan="2"><input type="text" name="note" id="note" class="form-control" th:value="*{note}"/></td>
                        </tr>
                        <tr>
                            <th colspan="3" class="sub-item-title">Additional Information</th>
                        </tr>
                        <tr>
                            <th>Active Status</th>
                            <td colspan="2">
                                <div class="pull-left">
                                    <select class="custom-select" name="activeStatus" th:field="*{activeStatus}">
                                        <option th:value="ACTIVE">Active</option>
                                        <option th:value="INACTIVE">Inactive</option>
                                    </select>
                                </div>
                            </td>
                        </tr>
                        <tr th:if="*{idx}">
                            <th>Created Date</th>
                            <td colspan="2"><input type="text" class="form-control" readonly="readonly" th:value="*{#temporals.format(createdDate,'yyyy-MM-dd HH:mm')}"/></td>
                        </tr>
                        <tr th:if="*{idx}">
                            <th>Modified Date</th>
                            <td colspan="2"><input type="text" class="form-control" readonly="readonly" th:value="*{#temporals.format(lastModifiedDate,'yyyy-MM-dd HH:mm')}"/></td>
                        </tr>
                    </table>
                </div>

                <div class="row justify-content-between mt-5 mb-3">
                    <div class="col-auto mx-3">
                        <a href="/email/list" class="btn btn-secondary">Move to List</a>
                    </div>
                    <div class="col-auto mx-3">
                        <button th:if="!*{idx}" id="insert" type="button" class="btn-main">Register</button>
                        <button th:if="*{idx}" id="update" type="button" class="btn btn-info">Update</button>
                    </div>
                </div>

                <!-- input type="hidden" -->
                <input type="hidden" name="idx" th:value="*{idx}"/>
                <input type="hidden" name="createdBy" th:value="*{#strings.isEmpty(createdBy)} ? ${#authentication.principal.username} : *{createdBy}"/>
                <input type="hidden" name="lastModifiedBy" th:value="${#authentication.principal.username}"/>
            </form>
        </div>
    </div>
</div>

<!-- footer -->
<div th:replace="layout/footer::footer"></div>

<!-- script file -->
<th:block th:replace="layout/script.html"></th:block>

<!-- javascript -->
<script>
    var emailVaildation = false;

    /* email 검사 */
    $("#emailAddress").on("change", function () {
        var regExp = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        var email = document.getElementsByName("emailAddress")[0].value;

        if (regExp.test(email)) {
            document.getElementById("emailCheckResult").innerHTML = "Email format is valid.";
            document.getElementById("emailCheckResult").style.color = "blue";
            emailVaildation = true;
        } else {
            document.getElementById("emailCheckResult").innerHTML = "Email format is not valid.";
            document.getElementById("emailCheckResult").style.color = "red";
            document.getElementsByName("email")[0].value = "";
            emailVaildation = false;
        }
    });

    function deleteEmail(emailIdx) {
        $.ajax({
            url: moduleAppApiAddress + "/api/emails/" + emailIdx,
            type: "delete",
            dataType: "text",
            contentType: "application/json",
            async: false,
        })
            .done(function (msg) {

            })
            .fail(function (msg) {
                parseErrorMsg(msg);
            });
    }
</script>

<script th:if="!${emailDto?.idx}">
    $('#insert').click(function () {
        if (!emailVaildation) {
            Alert.fire({
                icon: "error",
                text: "Please check email."
            }).then((result) => {
                document.getElementById("email").focus();
            });

            return false;
        }

        // (input tag mame, length or size, message)
        if (!validateBySize("note", 255, "note")) {
            return false;
        }

        var jsonData = $("#form").serializeObject();

        $.ajax({
            url: moduleAppApiAddress + "/api/emails",
            type: "post",
            data: JSON.stringify(jsonData),
            dataType: "text",
            contentType: "application/json",
            async: false,
        })
            .done(function (msg) {
                localStorage.setItem("result", "/email/register-success");
                location.href = "/email?idx=" + msg;
            })
            .fail(function (msg) {
                parseErrorMsg(msg);
            });
    });
</script>

<script th:if="${emailDto?.idx}" th:inline="javascript">
    emailVaildation = true;

    $('#update').click(function () {
        if (!emailVaildation) {
            Alert.fire({
                icon: "error",
                text: "Please check email."
            }).then((result) => {
                document.getElementById("email").focus();
            })
            return false;
        }

        // (input tag mame, length or size, message)
        if (!validateBySize("note", 255, "note")) {
            return false;
        }

        var jsonData = $("#form").serializeObject();
        var emailIdx = document.getElementsByName("idx")[0].value;

        $.ajax({
            url: moduleAppApiAddress + "/api/emails/" + emailIdx,
            type: "put",
            data: JSON.stringify(jsonData),
            dataType: "text",
            contentType: "application/json",
            async: false,
        })
            .done(function (msg) {
                localStorage.setItem("result", "/email/update-success");
                location.href = "/email?idx=" + emailIdx;
            })
            .fail(function (msg) {
                parseErrorMsg(msg);
                exit = true;
            });

    });
</script>

</body>
</html>