<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- css -->
    <th:block th:replace="layout/css.html"></th:block>

    <title th:if="!${introductionImageDto.idx}" th:text="${@environment.getProperty('title')} + ' | Introduction Image Register'"></title>
    <title th:if="${introductionImageDto.idx}" th:text="${@environment.getProperty('title')} + ' | Introduction Image Update'"></title>
</head>
<body>
<div class="d-flex" id="wrapper">
    <!-- sidebar -->
    <div th:replace="layout/sidebar::sidebar"></div>

    <div id="page-content-wrapper">
        <!-- header -->
        <div th:replace="layout/header::header"></div>

        <div class="container-fluid">
            <form name="form" id="form" th:object="${introductionImageDto}" action="#">
                <div class="page-header breadcrumbs">
                    <div class="d-flex justify-content-between align-items-center">
                        <h2 th:if="!*{idx}">Introduction Image Register</h2>
                        <h2 th:if="*{idx}">Introduction Image Update</h2>
                        <ol>
                            <li>Home</li>
                            <li th:if="!*{idx}">Introduction Image Register</li>
                            <li th:if="*{idx}">Introduction Image Update</li>
                        </ol>
                    </div>
                </div>

                <div id="loading">
                    <img th:src="@{/images/loading.gif}" alt="Loading…"/>
                </div>

                <div class="page-content">
                    <table class="table mobile-table-form mt-4">
                        <colgroup>
                            <col width="17.5%"/>
                            <col width="82.5%"/>
                        </colgroup>

                        <tr>
                            <th colspan="2" class="sub-item-title">Introduction Image Information</th>
                        </tr>
                        <tr>
                            <th>Title<span class="required-field">*</span></th>
                            <td><input type="text" name="title" class="form-control form-control-sm" th:value="*{title}"/></td>
                        </tr>
                        <tr>
                            <th>Main Page Priority</th>
                            <td>
                                <div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" id="mainPageNonCheck" name="mainPage" class="custom-control-input" th:checked="*{mainPagePriority == -1 ||  mainPagePriority == null}">
                                        <label class="custom-control-label" for="mainPageNonCheck">Don't show main page.</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" id="mainPageCheck" name="mainPage" class="custom-control-input" th:checked="*{mainPagePriority >= 0}">
                                        <label class="custom-control-label" for="mainPageCheck">Show main page and set priority.</label>
                                    </div>
                                </div>
                                <select class="custom-select custom-select-sm mt-2" name="mainPagePriority" th:field="*{mainPagePriority}" th:style="*{mainPagePriority >= 0} ? 'display: inline;' : 'display: none'">
                                    <option th:value="-1" th:text="'Don\'t show main page.'" th:style="'display: none;'" selected></option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th>Attached File(img file)<span class="required-field">*</span></th>
                            <td>
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="file" name="file">
                                    <label class="custom-file-label" for="file">Choose file.</label>
                                </div>
                                <div class="row ml-0 mr-0 mt-2">
                                    <div id="fileDrop" class="fileDrop col-xl-6 col-lg-6 order-1 order-lg-1">
                                        <strong>Drop files here.</strong>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 order-2 order-lg-2 mt-lg-0 mt-2 pr-0">
                                        <img th:if="*{attachedFileList.size()} == 0" id="imgPreview" class="float-right general-img-preview img-thumbnail" th:attr="src=@{/images/no-preview-available.jpg}"/>
                                        <a th:if="*{attachedFileList.size()} != 0" th:href="@{|${@environment.getProperty('module-app-api.address')}/api/attachedFiles/view-image/*{attachedFileList[0].savedFileName}|}"
                                           data-gall="userPhoto" class="venobox" th:title="*{title}">
                                            <img id="imgPreview" class="float-right general-img-preview img-thumbnail"
                                                 th:attr="src=@{|${@environment.getProperty('module-app-api.address')}/api/attachedFiles/view-image/*{attachedFileList[0].savedFileName}|}"/>
                                        </a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th>Total file size</th>
                            <td>
                                <div><span id="totalFileSize">0MB</span>, Up to 50MB</div>
                            </td>
                        <tr>
                            <th>Upload Attached File</th>
                            <td>
                                <div id="attachedFileList"></div>
                            </td>
                        </tr>
                        <tr>
                            <th>Uploaded Attached File</th>
                            <td>
                                <div id="uploadedAttachedFileList" th:each="attachedFile : *{attachedFileList}">
                                    <div th:id="imgData + ${attachedFileStat.index}">
                                        <span th:text="${attachedFile.fileName} + ',&nbsp;' + 'File Size: ' + ${attachedFile.fileSize}"></span>
                                        <!-- &nbsp; skip -->
                                        <i th:attr="onclick=|deleteFile('${attachedFileStat.index}','${attachedFile.idx}','${attachedFile.savedFileName}')|" class="far fa-times-circle"></i>
                                    </div>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <th colspan="2" class="sub-item-title">Additional Information</th>
                        </tr>
                        <tr>
                            <th>Active Status</th>
                            <td>
                                <select class="custom-select custom-select-sm" name="activeStatus" th:field="*{activeStatus}">
                                    <option th:value="ACTIVE">Active</option>
                                    <option th:value="INACTIVE">Inactive</option>
                                </select>
                            </td>
                        </tr>
                        <tr th:if="*{idx}">
                            <th>Created Date</th>
                            <td><input type="text" class="form-control form-control-sm" readonly th:value="*{#temporals.format(createdDate,'yyyy.MM.dd. HH:mm')}"/></td>
                        </tr>
                        <tr th:if="*{idx}">
                            <th>Last Modified Date</th>
                            <td><input type="text" class="form-control form-control-sm" readonly th:value="*{#temporals.format(lastModifiedDate,'yyyy.MM.dd. HH:mm')}"/></td>
                        </tr>
                        <tr th:if="*{idx}">
                            <th>Created By</th>
                            <td><input type="text" class="form-control form-control-sm" readonly th:value="*{createdBy}"/></td>
                        </tr>
                        <tr th:if="*{idx}">
                            <th>Last Modified By</th>
                            <td><input type="text" class="form-control form-control-sm" readonly th:value="*{lastModifiedBy}"/></td>
                        </tr>
                        <tr th:if="*{idx}">
                            <th>Views</th>
                            <td><input type="text" class="form-control form-control-sm" readonly th:value="*{views}"/></td>
                        </tr>
                        <tr>
                            <td colspan="10"></td>
                        </tr>
                    </table>

                    <div class="row justify-content-between mt-4 mb-4">
                        <div class="col-auto">
                            <a href="/introduction-image/list" class="btn btn-sm btn-secondary">Move to List</a>
                        </div>
                        <div class="col-auto ml-2">
                            <button th:if="!*{idx}" id="insert" type="button" class="btn-main btn-sm">Register</button>
                            <button th:if="*{idx}" id="update" type="button" class="btn btn-sm btn-info">Update</button>
                        </div>
                    </div>

                    <!-- input type="hidden" -->
                    <input type="hidden" name="idx" th:value="*{idx}"/>
                    <input type="hidden" name="createdBy" th:value="*{#strings.isEmpty(createdBy)} ? ${#authentication.principal.username} : *{createdBy}"/>
                    <input type="hidden" name="lastModifiedBy" th:value="${#authentication.principal.username}"/>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- footer -->
<div th:replace="layout/footer::footer"></div>

<!-- script file -->
<th:block th:replace="layout/script.html"></th:block>

<!-- javascript -->
<script th:src="@{/js/file-upload/single-img-file-upload.js}"></script>

<script th:inline="javascript">
    // 파일 Number validation
    var insertFileArrayLength = 0;
    var deleteFileArrayLength = 0;
    var uploadedAttachedFileLength = [[${introductionImageDto.attachedFileList}]].length;

    <!-- Main Page Priority -->
    var mainPagePrioritySelect = document.getElementsByName("mainPagePriority")[0];
    var introductionImageDtoList = [[${introductionImageDtoList}]];
    var introductionImageDto = [[${introductionImageDto}]];

    $(document).ready(function () {
        for (var i = 0; i < 25; i++) {
            var option = document.createElement("option");
            option.text = i + 1;
            option.value = i + 1;
            mainPagePrioritySelect.options.add(option, i + 1);
        }

        for (var i = 0; i < introductionImageDtoList.length; i++) {
            var mainPagePriority = introductionImageDtoList[i].mainPagePriority;

            // 현재 introductionImage의 mainPagePriority인 경우(select)
            if (mainPagePriority == introductionImageDto.mainPagePriority) {
                mainPagePrioritySelect.options.item(mainPagePriority).selected = true;
            }
            // 다른 introductionImage의 mainPagePriority인 경우(disable)
            else {
                mainPagePrioritySelect.options.item(mainPagePriority).text += " has been set by '" + introductionImageDtoList[i].title + "'.(disabled)";
                mainPagePrioritySelect.options.item(mainPagePriority).className = "disable";
                mainPagePrioritySelect.options.item(mainPagePriority).disabled = true;
            }
        }
    });

    // Main Page Priority 변경
    $("#mainPageNonCheck").on("change", function () {
        document.getElementsByName("mainPagePriority")[0].style.display = "none";
        document.getElementsByName("mainPagePriority")[0].value = -1;
    });

    $("#mainPageCheck").on("change", function () {
        var introductionImageDto = [[${introductionImageDto}]];
        document.getElementsByName("mainPagePriority")[0].style.display = "inline";

        // register || update 일 때의 mainPagePriority
        if (!(introductionImageDto.mainPagePriority == null || introductionImageDto.mainPagePriority == -1)) {
            document.getElementsByName("mainPagePriority")[0].options.item(introductionImageDto.mainPagePriority - 1).selected = true;
        }
    });

    function deleteIntroductionImage(introductionImageIdx) {
        $.ajax({
            url: moduleAppApiAddress + "/api/introduction-image/" + introductionImageIdx,
            type: "delete",
            dataType: "text",
            contentType: "application/json",
            async: false,
        })
            .done(function (msg) {

            })
            .fail(function (msg) {
                parseErrorMsg(msg);
                duplicateSubmitFlag = false;
            });
    }
</script>

<script th:if="!${introductionImageDto?.idx}">
    $("#insert").click(function () {
        // validation (input tag mame, length or size)
        if (!(validateByLengthAndBlank("title", 255) && validateByFileExist())) {
            return false;
        }

        // duplicate submit check
        if (duplicateSubmitCheck()) return false;

        var jsonData = $("#form").serializeObject();
        var introductionImageIdx;

        $.ajax({
            url: moduleAppApiAddress + "/api/introduction-images",
            type: "post",
            data: JSON.stringify(jsonData),
            dataType: "text",
            contentType: "application/json",
            async: false,
        })
            .done(function (msg) {
                introductionImageIdx = msg;
                exit = false;
            })
            .fail(function (msg) {
                parseErrorMsg(msg);
                duplicateSubmitFlag = false;
                exit = true;
            });

        if (exit) return false;

        // 파일 업로드
        var formData = new FormData();

        for (var i = 0; i < insertFileArray.length; i++) {
            formData.append("files", insertFileArray[i]);
        }

        formData.append("idx", introductionImageIdx);
        formData.append("createdBy", document.getElementsByName("createdBy")[0].value);

        $.ajax({
            url: moduleAppApiAddress + "/api/introduction-images/attachedFile",
            type: "post",
            data: formData,
            dataType: "text",
            enctype: 'multipart/form-data',
            processData: false,
            contentType: false,
            async: false,
        })
            .done(function (msg) {
                localStorage.setItem("result", "/introduction-image/register-success");
                location.href = "/introduction-image?idx=" + introductionImageIdx;
            })
            .fail(function (msg) {
                parseErrorMsg(msg);
                duplicateSubmitFlag = false;
                deleteIntroductionImage(introductionImageIdx);
            });

    });
</script>

<script th:if="${introductionImageDto?.idx}" th:inline="javascript">
    $("#update").click(function () {
        // validation (input tag mame, length or size)
        if (!(validateByLengthAndBlank("title", 255) && validateByFileExist())) {
            return false;
        }

        // duplicate submit check
        if (duplicateSubmitCheck()) return false;

        var jsonData = $("#form").serializeObject();
        var introductionImageIdx = document.getElementsByName("idx")[0].value;

        $.ajax({
            url: moduleAppApiAddress + "/api/introduction-images/" + introductionImageIdx,
            type: "put",
            data: JSON.stringify(jsonData),
            dataType: "text",
            contentType: "application/json",
            async: false,
        })
            .done(function (msg) {
                exit = false;
            })
            .fail(function (msg) {
                parseErrorMsg(msg);
                duplicateSubmitFlag = false;
                exit = true;
            });

        if (exit) return false;

        // 만일 파일이 수정되지 않은 경우 '파일 업로드' 및 '파일 삭제'를 수행하지 않음
        if (insertFileArray.length == 0 && deleteFileArray.length == 0) {
            localStorage.setItem("result", "/introduction-image/update-success");
            location.href = "/introduction-image?idx=" + introductionImageIdx;

            return true;
        }

        // 파일 삭제
        if (deleteFileArray.length > 0) {
            $.ajax({
                url: moduleAppApiAddress + "/api/introduction-images/attachedFile",
                type: "delete",
                data: JSON.stringify(deleteFileArray),
                contentType: "application/json",
                async: false,
            })
                .done(function (msg) {
                    exit = false;
                })
                .fail(function (msg) {
                    parseErrorMsg(msg);
                    duplicateSubmitFlag = false;
                    exit = true;
                });
        }

        if (exit) return false;

        if (insertFileArray.length <= 0) {
            localStorage.setItem("result", "/introduction-image/update-success");
            location.href = "/introduction-image?idx=" + introductionImageIdx;

            return true;
        }

        // 파일 업로드
        var formData = new FormData();

        for (var i = 0; i < insertFileArray.length; i++) {
            formData.append("files", insertFileArray[i]);
        }

        formData.append("idx", introductionImageIdx);
        formData.append("createdBy", document.getElementsByName("createdBy")[0].value);

        $.ajax({
            url: moduleAppApiAddress + "/api/introduction-images/attachedFile",
            type: "post",
            data: formData,
            dataType: "text",
            enctype: 'multipart/form-data',
            processData: false,
            contentType: false,
            async: false,
        })
            .done(function (msg) {
                localStorage.setItem("result", "/introduction-image/update-success");
                location.href = "/introduction-image?idx=" + introductionImageIdx;
            })
            .fail(function (msg) {
                parseErrorMsg(msg);
                duplicateSubmitFlag = false;
            })
    });
</script>

</body>
</html>