<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- css -->
    <th:block th:replace="layout/css.html"></th:block>

    <title th:text="${@environment.getProperty('title')} + ' | Introduction Image Read'"></title>
</head>
<body>
<div class="d-flex" id="wrapper">
    <!-- sidebar -->
    <div th:replace="layout/sidebar::sidebar"></div>

    <div id="page-content-wrapper">
        <!-- header -->
        <div th:replace="layout/header::header"></div>

        <div class="container-fluid">
            <form name="form" id="form" th:object="${introductionImageDto}" action="#">
                <div class="page-header breadcrumbs">
                    <div class="d-flex justify-content-between align-items-center">
                        <h2>Introduction Image Read</h2>
                        <ol>
                            <li>Home</li>
                            <li>Introduction Image Read</li>
                        </ol>
                    </div>
                </div>

                <div id="loading">
                    <img th:src="@{/images/loading.gif}" alt="Loading…"/>
                </div>

                <div class="page-content">
                    <table class="table mobile-table-read mt-4">
                        <colgroup>
                            <col width="17.5%"/>
                            <col width="82.5%"/>
                        </colgroup>

                        <tr>
                            <th colspan="2" class="sub-item-title">Introduction Image Information</th>
                        </tr>
                        <!-- Desktop -->
                        <tr class="d-none d-sm-none d-md-none d-lg-table-row">
                            <th>Title</th>
                            <td th:text="*{title}"></td>
                        </tr>
                        <tr class="d-none d-sm-none d-md-none d-lg-table-row">
                            <th>Main Page Priority</th>
                            <td th:text="*{mainPagePriority == -1} ? 'This post not shown on the main page.' : *{mainPagePriority}"></td>
                        </tr>

                        <!-- Mobile -->
                        <tr class="d-print-none d-sm-table-row d-md-table-row d-lg-none d-xl-none d-table-row">
                            <td colspan="2">
                                <h4 th:text="*{title}" class="mobile-title"></h4>
                            </td>
                        </tr>
                        <tr class="d-print-none d-sm-table-row d-md-table-row d-lg-none d-xl-none d-table-row">
                            <td colspan="2">
                                <strong class="mobile-default">Main Page Priority: </strong><span th:text="*{mainPagePriority == -1} ? 'This post not shown on the main page.' : *{mainPagePriority}" class="mobile-default"></span>
                            </td>
                        </tr>

                        <!-- Common -->
                        <tr>
                            <th class="d-none d-sm-none d-md-none d-lg-table-cell">Uploaded Attached File</th>
                            <td colspan="2">
                                <strong class="d-print-none d-sm-inline d-md-inline d-lg-none d-xl-none d-inline mobile-default">Uploaded Attached File</strong>
                                <div id="attachedFileList" th:each="attachedFile : *{attachedFileList}">
                                    <span th:attr="onclick=|location.href=encodeURI('${@environment.getProperty('module-app-api.address')}/api/attachedFiles/download/${attachedFile.savedFileName}')|"
                                          th:text="${attachedFile.fileName} + ',&nbsp;' + 'File size: ' + ${attachedFile.fileSize}"></span>
                                </div>
                                <div class="mt-2">
                                    <img th:if="*{attachedFileList.size()} == 0" id="imgPreview" class="float-right general-img-preview img-thumbnail" th:attr="src=@{/images/no-preview-available.jpg}"/>
                                    <a th:if="*{attachedFileList.size()} != 0" th:href="@{|${@environment.getProperty('module-app-api.address')}/api/attachedFiles/view-image/*{attachedFileList[0].savedFileName}|}"
                                       data-gall="introductionImage" class="venobox" th:title="*{title}">
                                        <img id="imgPreview" class="float-right general-img-preview img-thumbnail"
                                             th:attr="src=@{|${@environment.getProperty('module-app-api.address')}/api/attachedFiles/view-image/*{attachedFileList[0].savedFileName}|}"/>
                                    </a>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <th colspan="2" class="sub-item-title">Additional Information</th>
                        </tr>
                        <!-- Desktop -->
                        <tr class="d-none d-sm-none d-md-none d-lg-table-row">
                            <th>Active Status</th>
                            <td>
                                <span th:if="*{activeStatus?.name() == 'ACTIVE'}" th:text="Active"> </span>
                                <span th:if="*{activeStatus?.name() == 'INACTIVE'}" th:text="Inactive"> </span>
                            </td>
                        </tr>
                        <tr class="d-none d-sm-none d-md-none d-lg-table-row">
                            <th>Created Date</th>
                            <td th:text="*{#temporals.format(createdDate,'yyyy.MM.dd. HH:mm')}"></td>
                        </tr>
                        <tr class="d-none d-sm-none d-md-none d-lg-table-row">
                            <th>Last Modified Date</th>
                            <td th:text="*{#temporals.format(lastModifiedDate,'yyyy.MM.dd. HH:mm')}"></td>
                        </tr>
                        <tr class="d-none d-sm-none d-md-none d-lg-table-row">
                            <th>Created By</th>
                            <td th:text="*{createdBy}"></td>
                        </tr>
                        <tr class="d-none d-sm-none d-md-none d-lg-table-row">
                            <th>Last Modified By</th>
                            <td th:text="*{lastModifiedBy}"></td>
                        </tr>
                        <tr class="d-none d-sm-none d-md-none d-lg-table-row">
                            <th>Views</th>
                            <td th:text="*{views}"></td>
                        </tr>

                        <!-- Mobile -->
                        <tr class="d-print-none d-sm-table-row d-md-table-row d-lg-none d-xl-none d-table-row">
                            <td colspan="2">
                                <strong class="mobile-default">Active Status: </strong>
                                <span th:if="*{activeStatus?.name() == 'ACTIVE'}" th:text="Active" class="mobile-default"> </span>
                                <span th:if="*{activeStatus?.name() == 'INACTIVE'}" th:text="Inactive" class="mobile-default"> </span><br>

                                <strong class="mobile-default">Created Date: </strong><span th:text="*{#temporals.format(createdDate,'yyyy.MM.dd. HH:mm')}" class="mobile-default"></span><br>

                                <strong class="mobile-default">Last Modified Date: </strong><span th:text="*{#temporals.format(lastModifiedDate,'yyyy.MM.dd. HH:mm')}" class="mobile-default"></span><br>

                                <strong class="mobile-default">Created By: </strong><span th:text="*{createdBy}" class="mobile-default"></span><br>

                                <strong class="mobile-default">Last Modified By: </strong><span th:text="*{lastModifiedBy}" class="mobile-default"></span><br>

                                <strong class="mobile-default">Views: </strong> <span th:text="*{views}" class="mobile-default"></span>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="10"></td>
                        </tr>
                    </table>

                    <div class="row justify-content-between mt-4 mb-4">
                        <div class="col-auto">
                            <a href="/introduction-image/list" class="btn btn-sm btn-secondary">Move to List</a>
                        </div>
                        <div th:if="*{access}" class="col-auto ml-2">
                            <a th:href="'/introduction-image/form?idx='+*{idx}" class="btn btn-sm btn-info mx-1">Update</a>
                            <button type="button" class="btn btn-sm btn-danger mx-1" id="delete">Delete</button>
                        </div>
                    </div>

                    <!-- input type="hidden" -->
                    <input type="hidden" name="idx" th:value="*{idx}"/>
                </div>
            </form>
        </div>
    </div>
</div>


<!-- footer -->
<div th:replace="layout/footer::footer"></div>

<!-- script file -->
<th:block th:replace="layout/script.html"></th:block>

<script th:inline="javascript">
    sweetalertFire("introduction-image");

    $("#delete").click(function () {
        Confirm.fire({
            icon: "warning",
            title: "Do you want to delete?",
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    url: moduleAppApiAddress + "/api/introduction-images/" + document.getElementsByName("idx")[0].value,
                    type: "delete",
                    dataType: "text",
                    contentType: "application/json",
                    async: false,
                })
                    .done(function (msg) {
                        localStorage.setItem("result", "/introduction-image/delete-success");
                        location.href = "/introduction-image/list";
                    })
                    .fail(function (msg) {
                        parseErrorMsg(msg);
                    })
            } else {
                return false;
            }
        })
    });
</script>

</body>
</html>