<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- css -->
    <th:block th:replace="layout/css.html"></th:block>

    <title th:text="${@environment.getProperty('title')} + ' | Member List'"></title>
</head>
<body>
<div id="page-content-wrapper">
    <!-- header -->
    <div th:replace="layout/header::header"></div>

    <div class="container">
        <form name="form" id="form" th:object="${searchDto}" action="#">
            <div class="page-header breadcrumbs">
                <div class="d-flex justify-content-between align-items-center" data-aos="fade-up">
                    <h2>Member List</h2>
                    <ol>
                        <li>Home</li>
                        <li>Member List</li>
                    </ol>
                </div>
            </div>

            <div id="loading">
                <img th:src="@{/images/loading.gif}" alt="Loading…"/>
            </div>

            <div class="page-search" data-aos="fade-up">
                <div class="row justify-content-end mt-4">
                    <div class="pt-2 pr-3">
                        <select class="custom-select custom-select-sm" name="searchType" th:field="*{searchType}">
                            <option th:value="ENGLISH_NAME">English Name</option>
                            <option th:value="KOREAN_NAME">Korean Name</option>
                            <option th:value="Email">Email</option>
                        </select>
                    </div>
                    <div class="pt-2 pr-2">
                        <input type="search" class="custom-search-input" name="keyword" placeholder="Search" th:value="${searchDto?.keyword}">
                    </div>
                    <div class="pt-2">
                        <i id="search" class="fas fa-search search-icon"></i>
                    </div>
                </div>
            </div>

            <div class="page-content" data-aos="fade-up">
                <div class="row mt-4">
                    <div th:each="userDto : ${userDtoList}" class="col-lg-3 col-md-4 col-sm-6 col-12 d-flex mt-4">
                        <div class="member img-thumbnail">
                            <div class="member-img">
                                <a th:href="'/user?idx='+${userDto.idx}">
                                    <img th:if="${userDto.attachedFileList.size()} == 0" th:attr="src=@{/images/avatar.png}" class="member-photo"/>
                                    <img th:if="${userDto.attachedFileList.size()} != 0" th:attr="src=@{|${@environment.getProperty('module-app-api.address')}/api/attachedFiles/view-image/${userDto.attachedFileList[0].savedFileName}|}"
                                         class="member-photo"/>
                                </a>
                                <div class="social">
                                    <a th:if="!${#strings.isEmpty(userDto.email)}" th:href="'mailto:' + ${userDto.email}"><i class="far fa-envelope"></i></a>
                                    <a th:if="!${#strings.isEmpty(userDto.github)}" th:href="${userDto.github}"><i class="fab fa-github"></i></a>
                                    <a th:if="!${#strings.isEmpty(userDto.linkedIn)}" th:href="${userDto.linkedIn}"><i class="fab fa-linkedin"></i></a>
                                    <a th:if="!${#strings.isEmpty(userDto.externalWebPage)}" th:href="${userDto.externalWebPage}"><i class="fas fa-external-link-alt"></i></a>
                                    <a th:if="!${#strings.isEmpty(userDto.messengerId)}" th:href="'skype:' + ${userDto.messengerId} + '?userinfo'"><i class="fab fa-skype"></i></a>
                                </div>
                            </div>
                            <div class="member-info">
                                <a th:href="'/user?idx='+${userDto.idx}"><h5 th:text="${userDto.englishName}"></h5></a>

                                <div th:if="${userDto.userStatus?.name() == 'ATTENDING'}">
                                    <h6 class="text-right" th:if="${userDto.userType?.name() == 'A_FACULTY'}" th:text="Faculty"></h6>
                                    <h6 class="text-right" th:if="${userDto.userType?.name() == 'B_FULL_TIME_PHD'}" th:text="'Ph.D. Full Time'"></h6>
                                    <h6 class="text-right" th:if="${userDto.userType?.name() == 'C_FULL_TIME_MS'}" th:text="'M.S. Full Time'"></h6>
                                    <h6 class="text-right" th:if="${userDto.userType?.name() == 'D_PART_TIME_PHD'}" th:text="'Ph.D. Part Time'"></h6>
                                    <h6 class="text-right" th:if="${userDto.userType?.name() == 'E_PART_TIME_MS'}" th:text="'M.S. Part Time'"></h6>
                                    <h6 class="text-right" th:if="${userDto.userType?.name() == 'F_BS'}" th:text="'B.S.'"></h6>
                                </div>
                                <div th:if="${userDto.userStatus?.name() == 'GRADUATED'}">
                                    <h6 class="text-right" th:if="${userDto.userType?.name() == 'A_FACULTY'}" th:text="Faculty"></h6>
                                    <h6 class="text-right" th:if="${userDto.userType?.name() == 'B_FULL_TIME_PHD'}" th:text="'Alumni' + '(Ph.D. Full Time, ' + ${#temporals.format(userDto.graduatedDate,'yy-MM')} + ')'"></h6>
                                    <h6 class="text-right" th:if="${userDto.userType?.name() == 'C_FULL_TIME_MS'}" th:text="'Alumni' + '(M.S. Full Time, ' + ${#temporals.format(userDto.graduatedDate,'yy-MM')} + ')'"></h6>
                                    <h6 class="text-right" th:if="${userDto.userType?.name() == 'D_PART_TIME_PHD'}" th:text="'Alumni' + '(Ph.D. Part Time, ' + ${#temporals.format(userDto.graduatedDate,'yy-MM')} + ')'"></h6>
                                    <h6 class="text-right" th:if="${userDto.userType?.name() == 'E_PART_TIME_MS'}" th:text="'Alumni' + '(M.S. Part Time, ' + ${#temporals.format(userDto.graduatedDate,'yy-MM')} + ')'"></h6>
                                    <h6 class="text-right" th:if="${userDto.userType?.name() == 'F_BS'}" th:text="'B.S.'"></h6>
                                    <h6 class="text-right" th:text="${userDto.workplace}"></h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div th:if="${userDtoList.totalElements == 0}">
                        <div class="no-posts">
                            No members founded.
                        </div>
                    </div>
                </div>

                <div class="row mt-4 mb-4"></div>

                <!-- Pagination -->
                <div class="row justify-content-center mb-4" aria-label="Page navigation">
                    <ul class="pagination"
                        th:with="startNumber=${T(Math).floor(userDtoList.number/10)}*10+1, endNumber=(${userDtoList.totalPages} > ${startNumber}+9) ? ${startNumber}+9 : (${userDtoList.totalPages} == 0 ? 1 : ${userDtoList.totalPages})">
                        <li class="page-item">
                            <a class="page-link" aria-label="Previous" th:href="@{/user/list(page=1,searchType=*{searchType},keyword=*{keyword})}">&laquo;</a>
                        </li>
                        <li class="page-item" th:style="${userDtoList.first} ? 'display:none'">
                            <a class="page-link" th:href="@{/user/list(page=${userDtoList.number},searchType=*{searchType},keyword=*{keyword})}">&lsaquo;</a>
                        </li>
                        <li th:each="page :${#numbers.sequence(startNumber, endNumber)}" th:class="(${page} == ${userDtoList.number}+1) ? 'page-item active'">
                            <a class="page-link" th:href="@{/user/list(page=${page},searchType=*{searchType},keyword=*{keyword})}" th:text="${page}"><span class="sr-only"></span></a>
                        </li>
                        <li class="page-item" th:style="${userDtoList.last} ? 'display:none'">
                            <a class="page-link" th:href="@{/user/list(page=${userDtoList.number}+2,searchType=*{searchType},keyword=*{keyword})}">&rsaquo;</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" aria-label="Next" th:href="@{/user/list(page=${userDtoList.totalPages},searchType=*{searchType},keyword=*{keyword})}">&raquo;</a>
                        </li>
                    </ul>
                </div>
                <!-- /Pagination -->
            </div>
        </form>
    </div>
</div>

<!-- footer -->
<div th:replace="layout/footer::footer"></div>

<!-- script file -->
<th:block th:replace="layout/script.html"></th:block>

<script>
    $("#search").click(function () {
        document.form.action = '/user/list';
        document.form.method = 'get';
        document.form.submit();
    });
</script>

</body>
</html>