<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- css -->
    <th:block th:replace="layout/css.html"></th:block>

    <title>Member Detail</title>
</head>
<body>
<div class="d-flex" id="wrapper">
    <!-- header -->
    <div th:replace="layout/header::header"></div>

    <div class="container">
        <form name="form" id="form" th:object="${userDto}" action="#">
            <div class="page-header page-title breadcrumbs" data-aos="fade-up" data-aos-delay="100">
                <div class="d-flex justify-content-between align-items-center">
                    <h2>Member Detail</h2>
                    <ol>
                        <li>Home</li>
                        <img src="/images/chevron-right.svg">
                        <li>Member Detail</li>
                    </ol>
                </div>
            </div>

            <div class="mt-5" data-aos="fade-up" data-aos-delay="150">
                <table class="table">
                    <colgroup>
                        <col width="15%"/>
                        <col width="50%"/>
                        <col width="35%"/>
                    </colgroup>
                    <tr>
                        <th>Korean Name</th>
                        <td><span id="koreanName" class="form-control" th:text="*{koreanName}"></span></td>
                        <td rowspan="5">
                            <div class="member-img float-right img-thumbnail">
                                <img th:if="*{attachedFileList.size()} == 0" th:attr="src=@{/images/no-preview-available.jpg}" class="member-photo"/>
                                <img th:if="*{attachedFileList.size()} != 0" th:attr="src=@{|http://localhost:8081/api/attachedFiles/download/*{attachedFileList[0].savedFileName}|}" class="member-photo"/>

                                <div class="social">
                                    <a th:if="${not #strings.isEmpty(userDto.email)}" th:href="'mailto:' + ${userDto.email}"><img src="/images/mail-grey.svg"></a>
                                    <a th:if="${not #strings.isEmpty(userDto.github)}" th:href="${userDto.github}"><img src="/images/github-grey.svg"></a>
                                    <a th:if="${not #strings.isEmpty(userDto.linkedIn)}" th:href="${userDto.linkedIn}"><img src="/images/linkedin-grey.svg"></a>
                                    <a th:if="${not #strings.isEmpty(userDto.externalWebPage)}" th:href="${userDto.externalWebPage}"><img src="/images/external-link-grey.svg"></a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    </tr>
                    <tr>
                        <th>English Name</th>
                        <td><span id="EnglishName" class="form-control" th:text="*{englishName}"></span></td>
                    </tr>
                    <tr>
                        <th>Member Type</th>
                        <td>
                            <span class="form-control" th:if="*{userType?.name() == 'FACULTY'}" th:text="Faculty"> </span>
                            <span class="form-control" th:if="*{userType?.name() == 'FULL_TIME_PhD'}" th:text="'Ph.D. ' + ' - ' + 'Full Time'"> </span>
                            <span class="form-control" th:if="*{userType?.name() == 'PART_TIME_PhD'}" th:text="'Ph.D. ' + ' - ' + 'Part Time'"> </span>
                            <span class=" form-control" th:if="*{userType?.name() == 'FULL_TIME_MS'}" th:text="'M.S.' + ' - ' + 'Full Time'"> </span>
                            <span class=" form-control" th:if="*{userType?.name() == 'PART_TIME_MS'}" th:text="'M.S.' + '-' + 'Part Time'"> </span>
                            <span class=" form-control" th:if="*{userType?.name() == 'BS'}" th:text="B.S."> </span>
                        </td>
                    </tr>
                    <tr>
                        <th>Member Status</th>
                        <td>
                            <span class=" form-control" th:if="*{userStatus?.name() == 'ATTENDING'}" th:text="Attending"> </span>
                            <span class=" form-control" th:if="*{userStatus?.name() == 'GRADUATED'}" th:text="Graduated"> </span>
                        </td>
                    </tr>
                    <tr th:if="*{userStatus?.name() == 'GRADUATED'}">
                        <th>Graduated Date</th>
                        <td><span class=" form-control" th:text="*{graduatedDate}"> </span></td>
                    </tr>
                    <tr>
                        <th>Workplace</th>
                        <td><span class=" form-control" th:text="*{workplace}"> </span></td>
                    </tr>
                    <tr>
                        <td colspan="4"><span id="introduction" class=" form-control content" th:utext="*{introduction}"></span></td>
                    </tr>

                </table>
            </div>

            <div class="row justify-content-between">
                <div class="col-auto mx-3">
                    <a href="/user/list" class="btn btn-secondary">Move to List</a>
                </div>

                <div th:if="*{access}" class="col-auto mx-3">
                    <a th:href="'/user/form?idx='+*{idx}" class="btn btn-info mx-1">Update</a>
                    <button type="button" class="btn btn-danger mx-1" id="delete">Delete</button>
                </div>
            </div>

            <!-- input type="hidden" -->
            <input type="hidden" name="idx" th:value="*{idx}"/>
        </form>
    </div>
</div>

<!-- footer -->
<div th:replace="layout/footer::footer"></div>

<!-- script file -->
<th:block th:replace="layout/script.html"></th:block>

</body>
</html>