<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- css -->
    <th:block th:replace="layout/css.html"></th:block>

    <title th:text="${@environment.getProperty('title')} + ' | Member Detail'"></title>
</head>
<body>
<div id="page-content-wrapper">
    <!-- header -->
    <div th:replace="layout/header::header"></div>

    <div class="container">
        <form name="form" id="form" th:object="${userDto}" action="#">
            <div class="page-header breadcrumbs">
                <div class="d-flex justify-content-between align-items-center" data-aos="fade-up">
                    <h2>Member Detail</h2>
                    <ol>
                        <li>Home</li>
                        <li>Member Detail</li>
                    </ol>
                </div>
            </div>

            <div class="page-content" data-aos="fade-up">
                <table class="table mobile-table-read mt-4">
                    <colgroup>
                        <col width="22.5%"/>
                        <col width="17.5%"/>
                        <col width="65%"/>
                    </colgroup>

                    <!-- Desktop -->
                    <tr class="d-none d-sm-none d-md-none d-lg-table-row">
                        <td rowspan="6">
                            <div class="member img-thumbnail float-left">
                                <div class="member-img">
                                    <img th:if="*{attachedFileList.size()} == 0"  class="read-member-photo" th:attr="src=@{/images/no-preview-available.jpg}"/>
                                    <a th:if="*{attachedFileList.size()} != 0" th:href="@{|${@environment.getProperty('module-app-api.address')}/api/attachedFiles/view-image/*{attachedFileList[0].savedFileName}|}"
                                       data-gall="memberPhotoDesktop" class="venobox" th:title="*{username}">
                                        <img class="read-member-photo"
                                             th:attr="src=@{|${@environment.getProperty('module-app-api.address')}/api/attachedFiles/view-image/*{attachedFileList[0].savedFileName}|}"/>
                                    </a>
                                </div>
                            </div>
                        </td>
                        <th>Korean Name</th>
                        <td th:text="*{koreanName}"></td>
                    </tr>
                    <tr class="d-none d-sm-none d-md-none d-lg-table-row">
                        <th>English Name</th>
                        <td th:text="*{englishName}"></td>
                    </tr>
                    <tr class="d-none d-sm-none d-md-none d-lg-table-row">
                        <th>Member Type</th>
                        <td>
                            <span th:if="*{userType?.name() == 'A_FACULTY'}" th:text="Faculty"> </span>
                            <span th:if="*{userType?.name() == 'B_FULL_TIME_PHD'}" th:text="'Ph.D. Full Time'"> </span>
                            <span th:if="*{userType?.name() == 'C_FULL_TIME_MS'}" th:text="'M.S. Full Time'"> </span>
                            <span th:if="*{userType?.name() == 'D_PART_TIME_PHD'}" th:text="'Ph.D. Part Time'"> </span>
                            <span th:if="*{userType?.name() == 'E_PART_TIME_MS'}" th:text="'M.S. Part Time'"> </span>
                            <span th:if="*{userType?.name() == 'F_BS'}" th:text="B.S."> </span>
                        </td>
                    </tr>
                    <tr class="d-none d-sm-none d-md-none d-lg-table-row">
                        <th>Member Status</th>
                        <td>
                            <span th:if="*{userStatus?.name() == 'ATTENDING'}" th:text="Attending"> </span>
                            <span th:if="*{userStatus?.name() == 'GRADUATED'}" th:text="'Alumni, graduated at ' + *{graduatedDate}"> </span>
                        </td>
                    </tr>
                    <tr class="d-none d-sm-none d-md-none d-lg-table-row">
                        <th>Workplace</th>
                        <td th:text="*{workplace}"></td>
                    </tr>

                    <!-- Mobile -->
                    <tr class="d-print-none d-sm-table-row d-md-table-row d-lg-none d-xl-none d-table-row">
                        <td colspan="2">
                            <div class="d-flex justify-content-center">
                                <img th:if="*{attachedFileList.size()} == 0" class="read-member-photo" th:attr="src=@{/images/no-preview-available.jpg}"/>
                                <a th:if="*{attachedFileList.size()} != 0" th:href="@{|${@environment.getProperty('module-app-api.address')}/api/attachedFiles/view-image/*{attachedFileList[0].savedFileName}|}"
                                   data-gall="memberPhotoMobile" class="venobox" th:title="*{username}">
                                    <img class="read-member-photo"
                                         th:attr="src=@{|${@environment.getProperty('module-app-api.address')}/api/attachedFiles/view-image/*{attachedFileList[0].savedFileName}|}"/>
                                </a>
                            </div>
                        </td>
                    </tr>
                    <tr class="d-print-none d-sm-table-row d-md-table-row d-lg-none d-xl-none d-table-row">
                        <td colspan="2">
                            <strong class="mobile-default">Korean Name: </strong><span th:text="*{koreanName}" class="mobile-default"></span><br>

                            <strong class="mobile-default">English Name: </strong><span th:text="*{englishName}" class="mobile-default"></span><br>

                            <strong class="mobile-default">Member Type: </strong>
                            <span th:if="*{userType?.name() == 'A_FACULTY'}" th:text="Faculty"> </span>
                            <span th:if="*{userType?.name() == 'B_FULL_TIME_PHD'}" th:text="'Ph.D. Full Time'"> </span>
                            <span th:if="*{userType?.name() == 'C_FULL_TIME_MS'}" th:text="'M.S. Full Time'"> </span>
                            <span th:if="*{userType?.name() == 'D_PART_TIME_PHD'}" th:text="'Ph.D. Part Time'"> </span>
                            <span th:if="*{userType?.name() == 'E_PART_TIME_MS'}" th:text="'M.S. Part Time'"> </span>
                            <span th:if="*{userType?.name() == 'F_BS'}" th:text="B.S."> </span>
                            <br>

                            <strong class="mobile-default">Member Status: </strong>
                            <span th:if="*{userStatus?.name() == 'ATTENDING'}" th:text="Attending"> </span>
                            <span th:if="*{userStatus?.name() == 'GRADUATED'}" th:text="'Alumni, graduated at ' + *{graduatedDate}"> </span>
                            <br>

                            <strong class="mobile-default">Workplace: </strong><span th:text="*{workplace}" class="mobile-default"></span><br>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="10"></td>
                    </tr>
                </table>

                <!-- Common -->
                <nav class="mt-5">
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link link-black active" id="general-tab" data-toggle="tab" href="#general" role="tab" aria-controls="general" aria-selected="false">Self Introduction</a>
                        <a class="nav-item nav-link link-black" id="contact-information-tab" data-toggle="tab" href="#contact-information" role="tab" aria-controls="contact-information" aria-selected="false">Contact Information</a>
                    </div>
                </nav>
                <div class="tab-content member-contact" id="nav-tabContent">
                    <div class="tab-pane fade show active mt-4 small-content" id="general" role="tabpanel" aria-labelledby="general-tab">
                        <span id="introduction" class="" th:utext="*{introduction}"></span></td>
                    </div>
                    <div class="tab-pane fade mt-4 small-content" id="contact-information" role="tabpanel" aria-labelledby="contact-information-tab">
                        <strong class="contact-info">Email:</strong> <a th:if="!*{#strings.isEmpty(email)}" th:href="'mailto:' + *{email}" th:text="*{email}" class="link contact-info"></a><br>
                        <strong class="contact-info">Github:</strong> <a th:if="!*{#strings.isEmpty(github)}" th:href="*{github}" th:text="*{github}" class="link contact-info"></a><br>
                        <strong class="contact-info">Linked In:</strong> <a th:if="!*{#strings.isEmpty(linkedIn)}" th:href="*{linkedIn}" th:text="*{linkedIn}" class="link contact-info"></a><br>
                        <strong class="contact-info">External Web Page:</strong> <a th:if="!*{#strings.isEmpty(externalWebPage)}" th:href="*{externalWebPage}" th:text="*{externalWebPage}" class="link contact-info"></a><br>
                        <strong class="contact-info">Messenger ID(Skype):</strong> <a th:if="!*{#strings.isEmpty(messengerId)}" th:href="'skype:' + *{messengerId} + '?userinfo'" th:text="*{messengerId}" class="link contact-info"></a>
                    </div>
                </div>

                <div class="row justify-content-between mt-4 mb-4">
                    <div class="col-auto">
                        <a href="/user/list" class="btn btn-sm btn-secondary">Move to List</a>
                    </div>
                </div>

                <input type="hidden" name="idx" th:value="*{idx}"/>
            </div>
        </form>
    </div>
</div>

<!-- footer -->
<div th:replace="layout/footer::footer"></div>

<!-- script file -->
<th:block th:replace="layout/script.html"></th:block>

</body>
</html>