<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- css -->
    <th:block th:replace="layout/css.html"></th:block>

    <title th:text="${@environment.getProperty('title')} + ' | Album List'"></title>
</head>
<body>

<div id="page-content-wrapper">
    <!-- header -->
    <div th:replace="layout/header::header"></div>

    <div class="container album">
        <div class="page-header page-title breadcrumbs" data-aos="fade-up" data-aos-delay="100">
            <div class="d-flex justify-content-between align-items-center">
                <h1>Album List</h1>
                <ol>
                    <li>Home</li>
                    <img src="/images/chevron-right.svg">
                    <li>Album List</li>
                </ol>
            </div>
        </div>

        <div class="mt-5">
            <div class="row mt-4 ml-2" data-aos="fade-up" data-aos-delay="200">
                <div th:each="albumDto : ${albumDtoList}" class="col-12 album-item">
                    <div th:if="${albumDto.mainHashTagPrint}" class="mt-3">
                        <h2 th:text="${albumDto.mainHashTag}"></h2>
                    </div>

                    <div class="album-wrap" style="width: 600px">
                        <img th:attr="src=@{|${@environment.getProperty('module-app-api.address')}/api/attachedFiles/download/${albumDto.attachedFileList[0].savedFileName}|}" style="width: 600px; height: auto"/>

                        <div class="album-info">
                            <h5 th:text="${#strings.length(albumDto.title)} < 20 ? ${albumDto.title} : ${#strings.substring(albumDto.title, 0, 20)} + '...'"></h5>
                            <span th:each="hashTag : ${#strings.arraySplit(albumDto.hashTags,'#')}" th:text="'#' + ${hashTag}"></span>
                            
                            <div class="album-links">
                                <a th:href="@{|${@environment.getProperty('module-app-api.address')}/api/attachedFiles/download/${albumDto.attachedFileList[0].savedFileName}|}" data-gall="portfolioGallery" class="venobox"
                                   th:title="${albumDto.title}">
                                    <img src="/images/plus.svg"/>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row justify-content-end mt-5 mb-3"></div>
    </div>
</div>

<!-- footer -->
<div th:replace="layout/footer::footer"></div>

<!-- script file -->
<th:block th:replace="layout/script.html"></th:block>

<script>
    $('#search').click(function () {
        document.form.action = "/album/list";
        document.form.method = "get";
        document.form.submit();
    });
</script>

</body>
</html>