<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- css -->
    <th:block th:replace="layout/css.html"></th:block>

    <title th:if="!${categoryDto.idx}" th:text="${@environment.getProperty('title')} + ' | Category Register'"></title>
    <title th:if="${categoryDto.idx}" th:text="${@environment.getProperty('title')} + ' | Category Update'"></title>
</head>
<body>
<div class="d-flex" id="wrapper">
    <!-- sidebar -->
    <div th:replace="layout/sidebar::sidebar"></div>

    <div id="page-content-wrapper">
        <!-- header -->
        <div th:replace="layout/header::header"></div>

        <div class="container-fluid">
            <form name="form" id="form" th:object="${categoryDto}" action="#">
                <div class="page-header breadcrumbs">
                    <div class="d-flex justify-content-between align-items-center">
                        <h2 th:if="!*{idx}">Category Register</h2>
                        <h2 th:if="*{idx}">Category Update</h2>
                        <ol>
                            <li>Home</li>
                            <img src="/images/chevron-right.svg">
                            <li th:if="!*{idx}">Category Register</li>
                            <li th:if="*{idx}">Category Update</li>
                        </ol>
                    </div>
                </div>

                <div class="mt-5">
                    <table class="table">
                        <colgroup>
                            <col width="17.5%"/>
                            <col width="82.5%"/>
                        </colgroup>
                        <tr>
                            <th colspan="2" class="sub-item-title">Category Information</th>
                        </tr>
                        <tr>
                            <th>Title</th>
                            <td><input type="text" name="title" id="title" class="form-control" th:value="*{title}"/></td>
                        </tr>
                        <tr>
                            <th colspan="2" class="sub-item-title">Additional Information</th>
                        </tr>
                        <tr>
                            <th>Active Status</th>
                            <td>
                                <div class="pull-left">
                                    <select class="custom-select" name="activeStatus" th:field="*{activeStatus}">
                                        <option th:value="ACTIVE">Active</option>
                                        <option th:value="INACTIVE">Inactive</option>
                                    </select>
                                </div>
                            </td>
                        </tr>
                        <tr th:if="*{idx}">
                            <th>Created Date</th>
                            <td><input type="text" class="form-control" readonly="readonly" th:value="*{#temporals.format(createdDate,'yyyy-MM-dd HH:mm')}"/></td>
                        </tr>
                        <tr th:if="*{idx}">
                            <th>Modified Date</th>
                            <td><input type="text" class="form-control" readonly="readonly" th:value="*{#temporals.format(lastModifiedDate,'yyyy-MM-dd HH:mm')}"/></td>
                        </tr>
                    </table>
                </div>
                <div class="row justify-content-between mt-5 mb-3">
                    <div class="col-auto mx-3">
                        <a href="/category/list" class="btn btn-secondary">Move to List</a>
                    </div>
                    <div class="col-auto mx-3">
                        <button th:if="!*{idx}" id="insert" type="button" class="btn-main">Register</button>
                        <button th:if="*{idx}" id="update" type="button" class="btn btn-info">Update</button>
                    </div>
                </div>

                <!-- input type="hidden" -->
                <input type="hidden" name="idx" th:value="*{idx}"/>
                <input type="hidden" name="createdBy" th:value="*{#strings.isEmpty(createdBy)} ? ${#authentication.principal.username} : *{createdBy}"/>
                <input type="hidden" name="lastModifiedBy" th:value="${#authentication.principal.username}"/>
            </form>
        </div>
    </div>
</div>


<!-- footer -->
<div th:replace="layout/footer::footer"></div>

<!-- script file -->
<th:block th:replace="layout/script.html"></th:block>

<!-- javascript -->
<script>
    function deleteCategory(categoryIdx) {
        $.ajax({
            url: moduleAppApiAddress + "/api/categories/" + categoryIdx,
            type: "delete",
            dataType: "text",
            contentType: "application/json",
            async: false,
        })
            .done(function (msg) {

            })
            .fail(function (msg) {
               parseErrorMsg(msg);
            });
    }
</script>

<script th:if="!${categoryDto?.idx}">
    $('#insert').click(function () {
        // (input tag mame, length or size, message)
        if (!(validateByLength("title", 255, "title"))) {
            return false;
        }

        var jsonData = $("#form").serializeObject();

        $.ajax({
            url: moduleAppApiAddress + "/api/categories",
            type: "post",
            data: JSON.stringify(jsonData),
            dataType: "text",
            contentType: "application/json",
            async: false,
        })
            .done(function (msg) {
                localStorage.setItem("result", "/category/register-success");
                location.href = "/category?idx=" + msg;
            })
            .fail(function (msg) {
                parseErrorMsg(msg);
            });
    });
</script>

<script th:if="${categoryDto?.idx}" th:inline="javascript">
    $('#update').click(function () {
        // (input tag mame, length or size, message)
        if (!(validateByLength("title", 255, "title"))) {
            return false;
        }

        var jsonData = $("#form").serializeObject();
        var categoryIdx = document.getElementsByName("idx")[0].value;

        $.ajax({
            url: moduleAppApiAddress + "/api/categories/" + categoryIdx,
            type: "put",
            data: JSON.stringify(jsonData),
            dataType: "text",
            contentType: "application/json",
            async: false,
        })
            .done(function (msg) {
                localStorage.setItem("result", "/category/update-success");
                location.href = "/category?idx=" + categoryIdx;
            })
            .fail(function (msg) {
                parseErrorMsg(msg);
                exit = true;
            });

    });
</script>

</body>
</html>