<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- css -->
    <th:block th:replace="layout/css.html"></th:block>

    <title th:text="${@environment.getProperty('title')} + ' | Project List'"></title>
</head>
<body>
<div id="page-content-wrapper">
    <!-- header -->
    <div th:replace="layout/header::header"></div>

    <div class="container project">
        <div class="page-header breadcrumbs" data-aos="fade-up">
            <div class="d-flex justify-content-between align-items-center" data-aos="fade-up">
                <h2>Project List</h2>
                <ol>
                    <li>Home</li>
                    <li>Project List</li>
                </ol>
            </div>
        </div>

        <div id="loading" class="row justify-content-center">
            <img th:src="@{/images/loading.gif}" alt="Loading…"/>
        </div>

        <div class="page-content" data-aos="fade-up">
            <div class="mt-4">
                <h4>Current Project</h4>
                <ul th:each="projectDto : ${currentProjectDtoList}">
                    <li>
                        <a th:href="'/project?idx='+${projectDto.idx}" th:text="${projectDto.title}" class="link"></a>
                        <span th:text="'(' + ${#temporals.format(projectDto.startDate,'yyyy-MM')}  + ' ~ ' + ', '"></span>
                        <span class="text-muted" th:text="${projectDto.researchEstablishment} + ')'"></span>

                        <img th:if="${projectDto.newIcon}" th:attr="src=@{|/images/new-icon.png|}" class="new-icon"/>
                    </li>
                </ul>
            </div>

            <div class="mt-5">
                <h4>Previous Project</h4>
                <ul th:each="projectDto : ${previousProjectDtoList}">
                    <li>
                        <a th:href="'/project?idx='+${projectDto.idx}" th:text="${projectDto.title}" class="link"></a>
                        <span th:text="'(' + ${#temporals.format(projectDto.startDate,'yyyy-MM')}  + ' ~ ' + ${#temporals.format(projectDto.endDate,'yyyy-MM')} + ', '"></span>
                        <span class="text-muted" th:text="${projectDto.researchEstablishment} + ')'"></span>

                        <img th:if="${projectDto.newIcon}" th:attr="src=@{|/images/new-icon.png|}" class="new-icon"/>
                    </li>
                </ul>
            </div>
        </div>

        <div class="row mt-4 mb-4">
    </div>
</div>

<!-- footer -->
<div th:replace="layout/footer::footer"></div>

<!-- script file -->
<th:block th:replace="layout/script.html"></th:block>

</body>
</html>