<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

<meta name="_csrf" th:content="${_csrf.token}">
<meta name="_csrf_header" th:content="${_csrf.headerName}">

<link rel="stylesheet" th:href="@{/css/base.css}"/>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
<link rel="stylesheet" th:href="@{/summernote/summernote-bs4.min.css}"/>
<link rel="stylesheet" th:href="@{/css/button.css}"/>
<link rel="stylesheet" th:href="@{/css/display.css}"/>
<link rel="stylesheet" th:href="@{/css/error.css}"/>
<link rel="stylesheet" th:href="@{/css/font.css}"/>
<link rel="stylesheet" th:href="@{/css/file.css}"/>
<link rel="stylesheet" th:href="@{/css/image.css}"/>
<link rel="stylesheet" th:href="@{/css/layout.css}"/>
<link rel="stylesheet" th:href="@{/css/util.css}"/>