<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/jquery.serialize-object.min.js}"></script>
<script th:src="@{/js/fileUtil.js}"></script>
<script th:src="@{/js/util.js}"></script>
<script th:src="@{/js/validation.js}"></script>

<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/summernote/summernote-bs4.min.js}"></script>

<script th:inline="javascript">
    var token = $("meta[name='_csrf']").attr("content");
    var header = $("meta[name='_csrf_header']").attr("content");
    $(function () {
        $(document).ajaxSend(function (e, xhr, options) {
            xhr.setRequestHeader(header, token);
        });
    });
</script>
