<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- css -->
    <th:block th:replace="layout/css.html"></th:block>

    <title th:text="${@environment.getProperty('title')} + ' | Learn More Video List'"></title>
</head>
<body>
<div class="d-flex" id="wrapper">
    <!-- sidebar -->
    <div th:replace="layout/sidebar::sidebar"></div>

    <div id="page-content-wrapper">
        <!-- header -->
        <div th:replace="layout/header::header"></div>

        <div class="container-fluid">
            <form name="form" id="form" th:object="${searchDto}" action="#">
                <div class="page-header breadcrumbs">
                    <div class="d-flex justify-content-between align-items-center">
                        <h2>Learn More Video List</h2>
                        <ol>
                            <li>Home</li>
                            <li>Learn More Video List</li>
                        </ol>
                    </div>
                </div>

                <div id="loading">
                    <img th:src="@{/images/loading.gif}" alt="Loading…"/>
                </div>

                <div class="page-search">
                    <div class="row justify-content-end mt-4">
                        <div class="pt-2 pr-3">
                            <select class="custom-select custom-select-sm" name="searchType" th:field="*{searchType}">
                                <option th:value="TITLE">Title</option>
                                <option th:value="ID">ID</option>
                            </select>
                        </div>
                        <div class="pt-2 pr-2">
                            <input type="search" class="custom-search-input" name="keyword" placeholder="Search" th:value="${searchDto?.keyword}">
                        </div>
                        <div class="pt-2">
                            <i id="search" class="fas fa-search search-icon"></i>
                        </div>
                    </div>
                </div>

                <div class="page-content">
                    <table class="table table-hover mobile-table-list mt-4">
                        <thead>
                        <tr class="d-none d-sm-none d-md-none d-lg-table-row">
                            <th style="width: 7.5%" class="text-center">No.</th>
                            <th style="width: 45%" class="text-center">Title</th>
                            <th style="width: 15%">Created By</th>
                            <th style="width: 17.5%" class="text-center">Created Date</th>
                            <th style="width: 7.5%" class="text-center">Status</th>
                            <th style="width: 7.5%" class="text-center">Views</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="learnMoreVideoDto : ${learnMoreVideoDtoList}">
                            <td th:text="${learnMoreVideoDto.idx}" class="text-center d-none d-sm-none d-md-none d-lg-table-cell"></td>
                            <td>
                                <!-- Mobile No. -->
                                <span th:text="${learnMoreVideoDto.idx} + '.'" class="d-print-none d-sm-inline d-md-inline d-lg-none d-xl-none d-inline"></span>

                                <!-- Common -->
                                <a th:href="'/learn-more-video?idx='+${learnMoreVideoDto.idx}" class="link" th:text="${learnMoreVideoDto.title}"></a>
                                <img th:if="${learnMoreVideoDto.newIcon}" th:attr="src=@{|/images/new-icon.png|}" class="new-icon"/>

                                <!-- Mobile -->
                                <div class="d-print-none d-sm-inline d-md-inline d-lg-none d-xl-none d-inline">
                                    <div class="d-flex align-center">
                                        <span th:text="${learnMoreVideoDto.createdBy}" class="mobile-additional-information"> </span> &nbsp;&nbsp;
                                        <span th:text="${#temporals.format(learnMoreVideoDto.createdDate,'yyyy-MM-dd HH:mm')}" class="mobile-additional-information"></span> &nbsp;&nbsp;
                                        <span th:text="'Views: ' + ${learnMoreVideoDto.views}" class="mobile-additional-information"></span>
                                    </div>
                                    <div class="d-flex align-center">
                                        <span th:if="${learnMoreVideoDto.activeStatus?.name() == 'ACTIVE'}" th:text="Active" class="mobile-additional-information"></span>
                                        <span th:if="${learnMoreVideoDto.activeStatus?.name() == 'INACTIVE'}" th:text="Inactive" class="mobile-additional-information"></span>
                                    </div>
                                </div>
                            </td>

                            <!-- Desktop -->
                            <td th:text="${learnMoreVideoDto.createdBy}" class="d-none d-sm-none d-md-none d-lg-table-cell"></td>
                            <td th:text="${#temporals.format(learnMoreVideoDto.createdDate,'yyyy-MM-dd HH:mm')}" class="text-center d-none d-sm-none d-md-none d-lg-table-cell"></td>
                            <td th:if="${learnMoreVideoDto.activeStatus?.name() == 'ACTIVE'}" th:text="Active" class="text-center d-none d-sm-none d-md-none d-lg-table-cell"></td>
                            <td th:if="${learnMoreVideoDto.activeStatus?.name() == 'INACTIVE'}" th:text="Inactive" class="text-center d-none d-sm-none d-md-none d-lg-table-cell"></td>
                            <td th:text="${learnMoreVideoDto.views}" class="text-center d-none d-sm-none d-md-none d-lg-table-cell"></td>
                        </tr>
                        <tr th:if="${learnMoreVideoDtoList.totalElements == 0}">
                            <td colspan="10" class="no-posts">
                                No posts founded.
                            </td>
                        </tr>
                        <tr>
                            <td colspan="10"></td>
                        </tr>
                        </tbody>
                    </table>

                    <div class="row justify-content-end mt-4 mb-4">
                        <div class="col-auto">
                            <a href="/learn-more-video/form" class="btn-main btn-sm">Register</a>
                        </div>
                    </div>

                    <!-- Pagination -->
                    <div class="row justify-content-center mb-4" aria-label="Page navigation">
                        <ul class="pagination "
                            th:with="startNumber=${T(Math).floor(learnMoreVideoDtoList.number/10)}*10+1, endNumber=(${learnMoreVideoDtoList.totalPages} > ${startNumber}+9) ? ${startNumber}+9 : (${learnMoreVideoDtoList.totalPages} == 0 ? 1 : ${learnMoreVideoDtoList.totalPages})">
                            <li class="page-item">
                                <a class="page-link" aria-label="Previous" th:href="@{/learn-more-video/list(page=1,searchType=*{searchType},keyword=*{keyword})}">&laquo;</a>
                            </li>
                            <li class="page-item" th:style="${learnMoreVideoDtoList.first} ? 'display:none'">
                                <a class="page-link" th:href="@{/learn-more-video/list(page=${learnMoreVideoDtoList.number},searchType=*{searchType},keyword=*{keyword})}">&lsaquo;</a>
                            </li>
                            <li th:each="page :${#numbers.sequence(startNumber, endNumber)}"
                                th:class="(${page} == ${learnMoreVideoDtoList.number}+1) ? 'page-item active'">
                                <a class="page-link" th:href="@{/learn-more-video/list(page=${page},searchType=*{searchType},keyword=*{keyword})}" th:text="${page}"><span class="sr-only"></span></a>
                            </li>
                            <li class="page-item" th:style="${learnMoreVideoDtoList.last} ? 'display:none'">
                                <a class="page-link"
                                   th:href="@{/learn-more-video/list(page=${learnMoreVideoDtoList.number}+2,searchType=*{searchType},keyword=*{keyword})}">&rsaquo;</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" aria-label="Next" th:href="@{/learn-more-video/list(page=${learnMoreVideoDtoList.totalPages},searchType=*{searchType},keyword=*{keyword})}">&raquo;</a>
                            </li>
                        </ul>
                    </div>
                    <!-- /Pagination -->
                </div>
            </form>
        </div>
    </div>
</div>

<!-- footer -->
<div th:replace="layout/footer::footer"></div>

<!-- script file -->
<th:block th:replace="layout/script.html"></th:block>

<script th:inline="javascript">
    sweetalertFire("learn-more-video");

    $("#search").click(function () {
        document.form.action = "/learn-more-video/list";
        document.form.method = "get";
        document.form.submit();
    });
</script>

</body>
</html>