html {
    position: relative;
    min-height: 100%;
}

* {
    font-family: 'Spoqa Han Sans', san-serif;
    font-weight: var(--regular-font-weight);
    font-size: var(--regular-font-size);
}

body .container-fluid {
    padding: 1.5rem;
}

label {
    font-weight: var(--light-font-weight);
}

table th {
    font-weight: var(--strong-font-weight);
}