#content.content {
    min-height: 300px;
    height: auto;
}

#comment.comment {
    height: 150px;
    resize: none;
}

.new_icon {
    height: 15px;
    width: 15px;
}

.createdBy {
    font-weight: 600;
}

.createdDate {
    color: grey;
}

[id^="updateContent"].comment {
    height: 150px;
    resize: none;
}

[id^="publicationTitle"].title {
    font-size: 1.4em;
    color: rgb(154, 27, 31);
    font-weight: 450;
}

[id^="publicationAuthors"].authors {
    font-size: 1em;
    color: rgb(34, 154, 81);
    font-weight: 450;
}

#publicationAbstract.input_height_300 {
    height: 300px;
    resize: none;
}

.hashTag {
    background-color: rgb(215, 215, 215);
    color: rgb(75, 75, 75);
    border-radius: 5px;
    display: inline-block;
    padding: 5px 5px 5px 5px;
    margin: 5px 5px 5px 5px;
}

.disable {
    background-color: rgb(215, 215, 215);
    color: rgb(75, 75, 75);
}