.sub-item-title {
    font-weight: var(--strong-font-weight);
    font-size: var(--larger-font-size);
    text-align: center;
}

.content {
    overflow: auto;
    min-height: 25rem;
    height: auto;
}

#comment.comment {
    height: 10rem;
    resize: none;
}

.createdBy {
    font-weight: var(--strong-font-weight);
}

.createdDate {
    color: var(--main-grey);
}

[id^="updateContent"].comment {
    height: 10rem;
    resize: none;
}

[id^="publicationTitle"].title {
    font-size: 1.5em;
    color: rgb(154, 27, 31);
    font-weight: 450;
}

[id^="publicationAuthors"].authors {
    font-size: 1em;
    color: rgb(34, 154, 81);
    font-weight: 450;
}

#publicationAbstract.input_height_300 {
    height: 10rem;
    resize: none;
}

.active-status {
    width: 7rem !important;
}

.created-modified-date {
    width: 11.5rem !important;
}

.created-modified-by {
    width: 17rem !important;
}

.aud-message {
    height: 5rem !important;
}


.main-page-priority {
    width: 20rem !important;
}

.presentation-date {
    width: 17rem !important;
}

.published-date {
    width: 11.5rem !important;
}

.admission-graduated-date {
    width: 11.5rem !important;
}

.published-date {
    width: 11.5rem !important;
}

.pages-volume-number {
    width: 5rem !important;
}

.authority-type {
    width: 8.5rem !important;
}

.birth-date {
    width: 11.5rem !important;
}

.hash-tag {
    background-color: var(--lightest-grey);
    color: var(--dark-grey);
    border-radius: .5rem;
    display: inline-block;
    padding: .5rem;
    margin-right: .5rem;
}

.disable {
    background-color: var(--lighter-grey);
    color: var(--dark-grey);
}

.required-field {
    margin-left: .25rem;
    color: red;
    font-weight: 700;
}