.error {
    color: rgb(226,76,75);
    font-size: 3em;
    font-weight: var(--strong-font-weight);
}

.error-msg {
    font-size: var(--larger-font-size);
    font-weight: var(--regualr-font-weight);
}

.login-error-msg {
    color: rgb(154,27,31);
    font-weight: var(--regualr-font-weight);
}