.error {
    margin-top: 6.5rem;
}

.error-code {
    color: rgb(226, 76, 75);
    font-size: 3rem;
    font-weight: var(--strong-font-weight);
}

.error-msg {
    color: var(--dark-grey);
    font-size: 1.25rem;
    font-weight: var(--strong-font-weight);
}

.back-to-page {
    font-size: var(--larger-font-size);
}

.login-error-msg {
    font-size: var(--large-font-size);
    color: var(--light-red);
}