.error .page-content h1 {
    font-size: 3.5rem;
    font-weight: var(--strong-font-weight);
}

.error .page-content h4 {
    color: var(--light-grey);
    font-weight: var(--regular-font-weight);
    animation: type .5s alternate infinite;
}

@keyframes type {
    from {
        box-shadow: inset -3px 0px 0px #888;
    }
    to {
        box-shadow: inset -3px 0px 0px transparent;
    }
}
