/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
* {
    font-family: 'Spoqa Han Sans Neo', san-serif;
    font-weight: var(--regular-font-weight);
    font-size: var(--regular-font-size);
    color: var(--main-black);
}

body .container-fluid {
    padding-top: .75rem;
}

label {
    font-weight: var(--strong-font-weight);
    word-break: break-all;
    white-space: normal;
}

table th {
    font-weight: var(--strong-font-weight);
}

table td {
    word-break: break-all;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 0;
}

.no-posts {
    text-align: center;
    vertical-align: middle !important;
    height: 7.5rem !important;
    color: var(--dark-grey);
    font-size: var(--larger-font-size);
}

.div-no-posts {
    border-top: 1px solid #dee2e6;
    border-bottom: 1px solid #dee2e6;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 7.5rem !important;
    text-align: center;
    color: var(--dark-grey);
    font-size: var(--larger-font-size);
}


.btn-main {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    background: var(--main-red);
    color: var(--white);
}

.btn-main:hover {
    text-decoration: none;
    background: var(--lighter-red);
    color: var(--white);
}

.btn-main i {
    color: var(--white);
}

.badge-main {
    color: #fff;
    background-color: var(--main-red);
}

.link {
    color: var(--main-red);
    text-decoration: none;
}

.link:hover {
    color: var(--lighter-red);
    text-decoration: none;
}

.link-black {
    color: var(--darker-grey);
    text-decoration: none;
}

.link-black:hover {
    color: var(--main-black);
    text-decoration: none;
}

.filed-introduction {
    text-align: right;
}

.disable {
    background-color: var(--lightest-grey);
}

/*
 * CKeditor
 */
.ck-editor__editable {
    min-height: 500px;
}

.image-style-align-left {
    float: left;
}

.image-style-align-center {
    margin-left: auto;
    margin-right: auto
}

.image-style-align-right {
    float: right;
}

.text-tiny {
    font-size: .7em;
}

.text-small {
    font-size: .85em;
}

.text-big {
    font-size: 1.4em;
}

.text-huge {
    font-size: 1.8em;
}

/*
 * Change bootstrap
 */
.table td, .table th {
    padding: .65rem !important;
    min-width: 100px;
}

.page-link {
    color: var(--main-red) !important;
}

.page-link:hover {
    color: var(--lighter-red) !important;
}

.page-link:focus {
    box-shadow: 0 0 0 .2rem rgba(158, 37, 41, .25) !important;
}

.page-item.active .page-link {
    color: var(--white) !important;
    background-color: var(--main-red) !important;
    border-color: var(--main-red) !important;
}

.page-item.active .page-link:hover {
    color: var(--white) !important;
    background-color: var(--lighter-red) !important;
}

@media (max-width: 767px) {
    .pagination .page-link {
        padding: .35rem .5rem !important;
        font-size: var(--small-font-size) !important;
    }
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: var(--main-red) !important;
}

.btn-warning {
    color: var(--white) !important;
}

.custom-file-input {
    height: calc(1.5em + .5rem + 2px) !important;
    font-size: .875rem !important;
}

.custom-file-label {
    height: calc(1.5em + .5rem + 2px) !important;
    padding-top: calc(.25rem + 1px) !important;
    padding-bottom: calc(.25rem + 1px) !important;
    font-size: 0.875rem !important;
}

.custom-file-label::after {
    height: calc(1.5em + .5rem + 0px) !important;
    padding-top: calc(.25rem + 1px) !important;
    padding-bottom: calc(.25rem + 1px) !important;
    font-size: 0.875rem !important;
}

/*
 * Change VenoBox
 */
.vbox-title {
    font-size: 22px !important;
}

.vbox-num {
    font-size: 16px !important;
    color: white;
}

/*
 * File
 */
#fileDrop {
    line-height: 12.5rem;
    border: .1rem dashed gray;
    text-align: center;
    color: grey;
    border-radius: 1rem;
}

/*
 * Board
 */
.sub-item-title {
    font-weight: var(--strong-font-weight);
    font-size: var(--larger-font-size);
    text-align: center;
}

.additional-information {
    color: var(--darkest-grey);
}

.small-content {
    overflow: auto;
    min-height: 200px;
    height: auto;
    resize: none;
}

.small-content img {
    max-width: 100%;
    height: auto;
}

.content {
    width: 100%;
    min-height: 400px;
}

.content img {
    max-width: 100%;
    height: auto;
}

#comment.comment {
    height: 10rem;
    resize: none;
}

[id^="commentContent"].comment img {
    max-width: 100%;
    height: auto;
}

[id^="updateCommentContent"].comment {
    height: 10rem;
    resize: none;
}

.required-field {
    margin-left: .2rem;
    color: red;
    font-weight: var(--strong-font-weight);
}

.user-page-show-field {
    margin-left: .2rem;
    color: blue;
    font-weight: var(--strong-font-weight);
}

.page-search {
    padding-right: 15px;
    padding-left: 15px;
}

.custom-search-input {
    border: none;
    border-bottom: 2px solid #757575;
    outline: none;
    padding-bottom: 5px;
    max-width: 150px;
}

.search-icon {
    font-size: 18px;
    margin-right: 3px;
    line-height: 1.5 !important;
}

.search-icon:hover {
    cursor: pointer;
}

input[type="search"]::-webkit-search-cancel-button {
    position: relative;
    right: -4px;

    -webkit-appearance: none;
    height: 12px;
    width: 12px;
    border-radius: 25px;
    background: url(https://pro.fontawesome.com/releases/v5.10.0/svgs/solid/times-circle.svg) no-repeat 50% 50%;
    background-size: contain;
    opacity: 0;
    pointer-events: none;
}

input[type="search"]:focus::-webkit-search-cancel-button {
    opacity: .5;
    pointer-events: all;
}

#loading {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}

.comment-additional-information {
    color: var(--dark-grey);
}


/*
 * Mobile Board
 */
.mobile-table-list .mobile-additional-information {
    font-size: var(--small-font-size);
    color: var(--dark-grey);
    line-height: 1.5rem;
}

/* mobile table tr td new line */
.mobile-table-read tr td {
    white-space: normal;
}

.mobile-table-read .mobile-title {
    font-weight: var(--strong-font-weight);
    line-height: 2.25rem;
}

.mobile-table-read .mobile-additional-information {
    color: var(--dark-grey);
}

.mobile-table-read .mobile-default {
    font-size: var(--large-font-size);
    color: var(--darkest-grey);
    line-height: 2rem;
}

.mobile-table-form tr td {
    white-space: normal;
}

/*
 * Breadcrumbs
 */
.breadcrumbs {
    padding: 1rem;
    min-height: 40px;
    background-color: var(--dark-main-grey);
}

.breadcrumbs h2 {
    font-weight: var(--strong-font-weight);
    color: var(--dark-white);
}

.breadcrumbs ol {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    list-style: none;
    padding-top: 25px;
    margin: 0;
    font-size: 1rem;
}

@media (max-width: 992px) {
    .breadcrumbs ol {
        margin-top: 10px;
    }
}

.breadcrumbs ol li {
    color: var(--darker-white);
}

.breadcrumbs ol li + li {
    padding-left: 10px;
}

.breadcrumbs ol li + li::before {
    display: inline-block;
    padding-right: 10px;
    color: var(--darkest-white);
    content: "/";
}

@media (max-width: 768px) {
    .breadcrumbs .d-flex {
        display: block !important;
    }

    .breadcrumbs ol {
        padding: 0;
    }

    .breadcrumbs ol li {
        display: inline-block;
    }
}

/*
 * Sweetalert2
 */
.swal2-container {
    z-index: 10000 !important;
}