/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
html * {
    font-family: 'Spoqa Han Sans', san-serif;
    font-weight: var(--regular-font-weight);
    font-size: 13px;
    color: var(--main-black);
}

body .container-fluid {
    padding: 1.5rem;
}

#wrapper {
    overflow-x: hidden;
    overflow-y: hidden;
}

label {
    font-weight: var(--strong-font-weight);
}

table th {
    font-weight: var(--strong-font-weight);
}

table td {
    word-break: break-all;
}

.no-posts {
    text-align: center;
    vertical-align: middle !important;
    height: 7.5rem !important;
    color: var(--dark-grey);
    font-size: var(--larger-font-size);
}

.btn-main {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    background: var(--main-red);
    color: var(--white);
}

.btn-main:hover {
    text-decoration: none;
    background: var(--lighter-red);
    color: var(--white);
}

.link {
    color: var(--main-red);
    text-decoration: none;
}

.link:hover {
    color: var(--lighter-red);
    text-decoration: none;
}

.link-black {
    color: var(--darker-grey);
    text-decoration: none;
}

.link-black:hover {
    color: var(--main-black);
    text-decoration: none;
}

.more {
    color: var(--main-grey);
    display: inline-block;
    font-size: var(--small-font-size);
}

.more:hover {
    color: var(--lighter-grey);
    text-decoration: none;
}

.filed-introduction {
    text-align: right;
    text-justify: inter-word;
}

/*
 * Breadcrumbs
 */
.breadcrumbs h2 {
    font-weight: var(--strong-font-weight);
}

.breadcrumbs ol {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 1rem;
}

@media (max-width: 992px) {
    .breadcrumbs ol {
        margin-top: 10px;
    }
}

.breadcrumbs ol li + li {
    padding-left: 10px;
}

.breadcrumbs ol li + li::before {
    display: inline-block;
    padding-right: 10px;
    color: var(--lighter-black);
    content: "/";
}

@media (max-width: 768px) {
    .breadcrumbs .d-flex {
        display: block !important;
    }

    .breadcrumbs ol {
        display: block;
    }

    .breadcrumbs ol li {
        display: inline-block;
    }
}

.breadcrumbs img {
    width: 1rem;
    height: 1rem;
    margin: .25rem;
}

/*
 * sweetalert2
 */

.page-header {
    position: relative;
}

.position-absolute {
    position: absolute;
}

/*
 * footer
 */
#footer {
    height: 4rem;
    position: relative;
    left: 0;
    bottom: 0;

    width: 100%;

    background: var(--dark-white);
    box-shadow: 2px 2px 1rem rgba(0, 0, 0, 0.2);
    /*padding: 12.5px 0;*/
    color: #222222;

    display: flex;
    align-items: center;
    justify-content: center;
}

#footer .credits {
    font-size: 13px;
    padding-top: 5px;
    color: var(--light-black);
}

#footer a {
    color: var(--main-red);
    text-decoration: none;
}

#footer a:hover {
    color: var(--lighter-red);
    text-decoration: none;
}

#footer .footer-links a {
    color: #222222;
    padding-left: 1rem;
}

#footer .footer-links a:first-child {
    padding-left: 0;
}

#footer .footer-links a:hover {
    color: var(--main-red);
}