/*
 * Icon
 */
.sidebar-icon {
    height: 2.5rem;
    width: 2.5rem;
}

.menu-icon {
    height: 40px;
    width: 40px;
}

.statics-icon {
    margin-right: .5rem;
    font-size: 1.25rem;
    height: 1.25rem;
    line-height: 1.5 !important;
}

.new-icon {
    margin: 0 2.5px 1.5px 2.5px;
    height: 14px;
    width: 14px;
}

.chevron-down-icon {
    height: 1.5rem;
    width: 1.5rem;
    float: right;
}

.user-information-icon {
    border-right: .075rem solid var(--light-grey);
    padding-right: .2rem;
    float: left;
    height: 1.5rem;
    width: auto;
}

.user-information-black-icon {
    margin-left: .25rem !important;
    height: 18px;
}

.logout-icon {
    border-left: .075rem solid var(--light-grey);
    padding-left: .2rem;
    float: right;
    height: 1.5rem;
    width: auto;
    cursor: pointer;
}

/*
 * Image
 */
.general-img-preview {
    width: auto;
    height: 12.5rem !important;
}

.user-img-preview {
    width: 200px;
    height: auto;
}

.logo-preview {
    width: 175px;
    height: auto;
}

.img-thumbnail:hover {
    box-shadow: 0 0 2px 1px var(--main-red);
}