/*
 * Disable AOS delay on mobile
 */
@media screen and (max-width: 768px) {
    [data-aos-delay] {
        transition-delay: 0 !important;
    }
}

/*
 * Header
 */
#header {
    z-index: 997;
    transition: all 0.5s;
    padding: .5rem 0;
    background-color: var(--white);
}

#header.header-scrolled {
    box-shadow: .1rem .1rem 1rem rgba(0, 0, 0, 0.2);
    padding: .5rem 0;
    background-color: var(--white);
}

#header .logo img {
    max-height: 40px;
}

@media (max-width: 768px) {
    #header {
        background: #fff;
    }

    #header .logo h1 {
        font-size: 28px;
    }
}

/*
 * Navigation Menu
 */
/* Desktop Navigation */
.nav-menu, .nav-menu * {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-menu > ul > li {
    position: relative;
    white-space: nowrap;
    float: left;
}

.nav-menu a {
    display: block;
    position: relative;
    color: var(--main-black);
    font-weight: var(--strong-font-weight);
    padding: 8px 0 12px 25px;
    transition: 0.3s;
    font-size: 1rem;
}

.nav-menu a:hover, .nav-menu .active > a, .nav-menu li:hover > a {
    color: var(--main-red);
    text-decoration: none;
}

.nav-menu .login a {
    background: var(--main-red);
    color: var(--white);
    border-radius: 1rem;
    margin: 0 0 0 30px;
    padding: 7.5px 1.5rem;
    font-weight: var(--regular-font-weight);
}

.nav-menu .login a:hover {
    background: var(--lighter-red);
    color: var(--white);
}

.nav-menu .drop-down ul {
    display: block;
    position: absolute;
    left: 25px;
    top: calc(100% + 30px);
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    padding: .75rem 0;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: ease all 0.3s;
    border-radius: 5px;
}

.nav-menu .drop-down:hover > ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
}

.nav-menu .drop-down li {
    min-width: 180px;
    position: relative;
}

.nav-menu .drop-down ul a {
    padding: .75rem 1.5rem;
    font-size: 14px;
    text-transform: none;
    color: var(--main-black);
}

.nav-menu .drop-down ul a:hover, .nav-menu .drop-down ul .active > a, .nav-menu .drop-down ul li:hover > a {
    color: var(--main-red);
}

.nav-menu .drop-down .drop-down ul {
    top: 0;
    left: calc(100% - 30px);
}

.nav-menu .drop-down .drop-down:hover > ul {
    opacity: 1;
    top: 0;
    left: 100%;
}

.nav-menu .drop-down .drop-down > a {
    padding-right: 35px;
}

@media (max-width: 1366px) {
    .nav-menu .drop-down .drop-down ul {
        left: -90%;
    }

    .nav-menu .drop-down .drop-down:hover > ul {
        left: -100%;
    }

    .nav-menu .drop-down .drop-down > a:after {
        content: "\ea9d";
    }
}

/* Mobile Navigation */
.mobile-nav-toggle {
    position: fixed;
    top: .75rem;
    right: 1rem;
    z-index: 9998;
    border: 0;
    background: none;
    font-size: 24px;
    transition: all 0.4s;
    outline: none !important;
    line-height: 1;
    cursor: pointer;
    text-align: right;
}

.mobile-nav {
    position: fixed;
    top: .75rem;
    right: 1rem;
    bottom: 1rem;
    left: 1rem;
    z-index: 9999;
    overflow-y: auto;
    background: #fff;
    transition: ease-in-out 0.2s;
    opacity: 0;
    visibility: hidden;
    border-radius: .75rem;
    padding: .75rem 0;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.mobile-nav::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.mobile-nav {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.mobile-nav * {
    margin: 0;
    padding: 0;
    list-style: none;
}

.mobile-nav a {
    display: block;
    position: relative;
    color: var(--main-black);
    font-weight: var(--strong-font-weight) !important;
    padding: .75rem 1.5rem;
    outline: none;
}

.mobile-nav a:hover, .mobile-nav .active > a, .mobile-nav li:hover > a {
    color: #3498db;
    text-decoration: none;
}

.mobile-nav .drop-down > a:after {
    content: "\ea99";
    padding-left: .75rem;
    position: absolute;
    right: 1rem;
}

.mobile-nav .active.drop-down > a:after {
    content: "\eaa1";
}

.mobile-nav .drop-down > a {
    padding-right: 35px;
}

.mobile-nav .drop-down ul {
    display: none;
    overflow: hidden;
}

.mobile-nav .drop-down li {
    padding-left: 1.5rem;
}

.mobile-nav-overly {
    width: 100%;
    height: 100%;
    z-index: 9997;
    top: 0;
    left: 0;
    position: fixed;
    background: rgba(9, 9, 9, 0.6);
    overflow: hidden;
    display: none;
    transition: ease-in-out 0.2s;
}

.mobile-nav-active {
    overflow: hidden;
}

.mobile-nav-active .mobile-nav {
    opacity: 1;
    visibility: visible;
}

.mobile-nav-active .mobile-nav-toggle i {
    color: #fff;
}

/*
 * Back to top button
 */
.back-to-top {
    position: fixed;
    display: none;
    right: 1rem;
    bottom: 1rem;
    z-index: 99999;
}

.back-to-top img {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    background: var(--main-red);
    color: var(--white);
    transition: all 0.4s;
}

.back-to-top img:hover {
    background: var(--lighter-red);
    color: var(--white);
}