/*
 * page-content-wrapper
 */
#page-content-wrapper {
    width: 100vmax;
}

/*
 * Header
 */
#header {
    height: 3.75rem;
}

#userInformation {
    -webkit-transition: margin 1s ease-out;
    -moz-transition: margin 1s ease-out;
    -o-transition: margin 1s ease-out;
    transition: margin 1s ease-out;
}

/*
 * Sidebar
 */
#sidebar-wrapper {
    height: 100%;
    background-color: var(--main-black);
    width: 17.5rem;
    min-height: calc(100vh - 4.5rem);
    margin-left: -17.5rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
    height: 3.75rem;
    text-decoration: none;
    padding-left: 0.25rem;
    /* vertical align center */
    display: flex;
    align-items: center;
}

#sidebar-wrapper .sidebar-heading a {
    color: var(--main-black);
    text-decoration: none;
}

#sidebar-wrapper .list-group {
    width: 15rem;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}

@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }

    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }

    #wrapper.toggled #sidebar-wrapper {
        margin-left: -17.5rem;
    }
}

.logo {
    height: 39px;
}

.dropdown-container {
    display: none;
}

.sidebar-list a, .dropdown-btn {
    background-color: var(--light-main-black);
    position: relative;
    display: block;
    padding: 1rem 1rem;
    color: var(--white);
    display: block;
    width: 100%;
    text-decoration: none;
    /*border-bottom: .05rem solid var(--grey);*/
    cursor: pointer;
    font-size: var(--large-font-size);
}

.dropdown-container a {
    background-color: var(--lighter-main-black);
    padding: .65rem 1.5rem .65rem 2.5rem;
    font-size: var(--regular-font-size);
}

.sidebar-list a:hover, .dropdown-btn:hover {
    color: var(--white);
    background-color: var(--main-red);
    text-decoration: none;
}

.sidebar-active {
    background-color: var(--dark-red);
}

.user-information {
    background-color: var(--light-main-black);
    border-radius: .75rem;
    padding: .5rem .5rem;
    width: 15rem;
    height: 2.5rem;
    color: var(--white);
    font-size: var(--small-font-size);
    float: right;
}

.user-information .username {
    margin-left: .5rem;
    color: var(--white);
    text-decoration: none;
}

/*
 * Footer
 */
#footer {
    height: 4.5rem;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    box-shadow: 2px 2px 1rem rgba(0, 0, 0, 0.2);
    background-color: var(--darker-white);
    display: flex;
    align-items: center;
    justify-content: center;
}

#footer .copyright {
    color: var(--dark-grey);
}

#footer .copyright strong {
    color: var(--darker-grey);
}

#footer .credits {
    color: var(--darkest-grey);
}

#footer a {
    color: var(--main-red);
    text-decoration: none;
}

#footer a:hover {
    color: var(--lighter-red);
    text-decoration: none;
}