/*
 * Sidebar
 */
#sidebar-wrapper {
    height:100%;
    background-color: var(--main-black);
    width: 17.5rem;
    min-height: calc(100vh - 4rem);
    margin-left: -17.5rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
    height: 4.25rem;
    text-decoration: none;
    padding-left: 0.5rem;
    /* vertical align center */
    display: flex;
    align-items: center;
}

#sidebar-wrapper .sidebar-heading a {
    color: var(--main-black);
    text-decoration: none;
}

#sidebar-wrapper .list-group {
    width: 15rem;
}

#page-content-wrapper {
    min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}

@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }

    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }

    #wrapper.toggled #sidebar-wrapper {
        margin-left: -17.5rem;
    }
}

.dropdown-container {
    display: none;
}

.sidebar-list a, .dropdown-btn {
    background-color: var(--light-black);
    position: relative;
    display: block;
    padding: 1rem 1rem;
    color: var(--white);
    display: block;
    width: 100%;
    text-decoration: none;
    border-bottom: .05rem solid var(--main-grey);
    cursor: pointer;
    font-size: var(--large-font-size);
}

.dropdown-container a {
    background-color: var(--lighter-black);
    padding: .65rem 1.5rem .65rem 2.5rem ;
    font-size: var(--regular-font-size);
}

.sidebar-list a:hover, .dropdown-btn:hover {
    color: var(--white);
    background-color: var(--main-red);
    text-decoration: none;
}

.sidebar-active {
    background-color: var(--dark-red);
}

.user-information {
    background-color: var(--light-black);
    border-radius: .75rem;
    padding: .5rem .5rem;
    width: 15rem;
    height: 2.5rem;
    color: var(--white);
    font-size: var(--small-font-size);
}

.user-information .username {
    margin-left: .5rem;
    color: var(--white);
    text-decoration: none;
}