/*
 * login
 */
.brand-wrapper {
    margin-bottom: 1.5rem;
}

.brand-wrapper img {
    height: 60px;
}

.login-card-outline {
    margin-top: 20vh;
    height: 60vh;
    margin-bottom: 20vh;
}

.login-card {
    border: none !important;
    border-radius: 2rem !important;
    box-shadow: .25rem  1rem 2rem 0 rgba(172, 168, 168, 0.43);
    overflow: hidden;
}

.login-card .card-side {
    background-color: var(--main-red);
}

.login-card .card-body {
    padding: 3.5rem 4.5rem 2.5rem 3.5rem;
}

.login-card .login-logo  {
    width: 500px;
    height: auto;
}

.login-card-description {
    font-size: 2rem;
    color: #000;
    font-weight: var(--strong-font-weight);
    margin-bottom: 2rem;
}

@media (max-width: 575px) {
    .brand-wrapper {
        margin-bottom: 1rem;
    }

    .brand-wrapper img {
        height: 40px;
    }

    .login-card .card-body {
        padding: 2.5rem 3.5rem 1.5rem 3.5rem;
    }

    .login-card .card-side {
        width: 0%;
    }

    .login-card .login-logo  {
        width: 225px;
        height: auto;
    }

    .login-card-description {
        font-size: 1.7rem;
    }
}

.login-card .form-control {
    border: none;
    border-bottom: .1rem solid var(--lightest-grey);
    border-radius: 0;
    padding: .75rem .5rem;
    min-height: 2.5rem;
    font-size: 1.15rem;
}

.login-card .form-control::-webkit-input-placeholder {
    color:var(--light-grey);
}

.login-card .form-control::-moz-placeholder {
    color:var(--light-grey);
}

.login-card .form-control:-ms-input-placeholder {
    color:var(--light-grey);
}

.login-card .form-control::-ms-input-placeholder {
    color:var(--light-grey);
}

.login-card .form-control::placeholder {
    color:var(--light-grey);
}

.login-error-msg {
    color: var(--main-red);
}

.login-card .login-btn {
    padding: 1rem 1.5rem;
    background-color: var(--main-black);
    border: .1rem solid var(--main-black);;
    border-radius: .5rem;
    font-size: 1.25rem;
    font-weight: var(--strong-font-weight);
    line-height: 1.25rem;
    color: var(--dark-white);
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}

.login-card .login-btn:hover {
    border: .1rem solid var(--main-black);;
    background-color:var(--lightest-grey);
    color: var(--main-black);;
}

.login-card .forgot-password-link {
    font-size: 1.1rem;
    color:var(--grey);
    margin-bottom: 1rem;
}

.login-card .forgot-password-link:hover{
    color:var(--light-grey);
    text-decoration: none;
}

.login-card-footer-text {
    font-size: 1.1rem;
    color: var(--darker-grey);
    margin-top: .25rem;
}

.login-card-footer-nav a {
    font-size: 1.1rem;
    color:var(--light-grey);
}

.register-member {
    font-size: 1rem;
    color: var(--main-red);
}

.register-member:hover {
    text-decoration: none;
    color: var(--lighter-red);
}
