/*
 * Breadcrumbs
 */
.breadcrumbs {
    padding: 1rem;
    background: var(--darker-white);
    min-height: 40px;
    margin-top: 5.5rem;
}

@media (max-width: 992px) {
    .breadcrumbs {
        margin-top: 4rem;
    }
}

/*
 * Section
 */
section {
    padding: 2.5rem 0;
    overflow: hidden;
}

@media (max-width: 991px) {
    section {
        padding: 1.5rem 0;
    }
}

@media (max-width: 768px) {
    section {
        padding: 1rem 0;
    }
}

@media (max-width: 575px) {
    section {
        padding: .5rem 0;
    }
}

/* section-title */
.section-title {
    margin-bottom: 2.5rem;
    text-align: center;
}

@media (max-width: 991px) {
    .section-title {
        margin-bottom: 1.5rem;
    }
}

@media (max-width: 768px) {
    .section-title {
        margin-bottom: 1rem;
    }
}

@media (max-width: 575px) {
    .section-title {
        margin-bottom: .5rem;
    }
}

.section-title h1 {
    font-weight: var(--strong-font-weight);
    line-height: 3rem;
}

.section-title h2 {
    margin-bottom: .5rem;
    font-weight: var(--strong-font-weight);
    line-height: 2.5rem;
}

.section-title h2::before, .section-title h2::after {
    content: '';
    width: 2.5rem;
    height: .25rem;
    background: var(--main-red);
    display: inline-block;
}

.section-title h2::before {
    margin: 0 .6rem .6rem 0;
}

.section-title h2::after {
    margin: 0 0 .6rem .6rem;
}

.section-title h3 {
    font-size: 1.5rem;
}

.section-title h4 {
    margin-top: 1.25rem;
}

/* section-search */
.section-search {
    margin-top: 5rem;
}

/*
 * Introduction
 */
.introduction {
    width: 100%;
    height: 65vh;
    margin-top: 70px;
}

.introduction h1 {
    margin: 0 0 10px 0;
    font-size: 2.5rem;
    font-weight: var(--strong-font-weight);
    line-height: 3.25rem;
}

.introduction h2 {
    color: var(--lighter-black);
    margin-bottom: 2rem;
    font-size: 1.5rem;
    line-height: 2.25rem;
}

.btn-main-about-us {
    font-family: "Raleway", sans-serif;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    border: 2px solid var(--main-red);
    padding: .5rem 1.5rem;
    font-size: 1.25rem;
    font-weight: var(--strong-font-weight);
    line-height: 2rem;
    border-radius: 2rem;
    transition: 0.5s;
    background: var(--white);
    color: var(--main-red);
}

.btn-main-about-us:hover {
    text-decoration: none;
    background: var(--main-red);
    color: var(--white);
}

.introduction .introduction-image-carousel .owl-nav, .introduction .introduction-image-carousel .owl-dots {
    margin-top: 5px;
    text-align: center;
}

.introduction .introduction-image-carousel .owl-dot {
    display: inline-block;
    margin: 0 5px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: var(--lighter-grey) !important;
}

.introduction .introduction-image-carousel .owl-dot.active {
    background-color: var(--main-red) !important;
}

.introduction .introduction-image-carousel {
    width: 420px !important;
    height: 300px !important;
    float: right;
}

.introduction .introduction-image-carousel img {
    width: 420px !important;
    height: 300px !important;
}

@media (min-width: 1024px) {
    .introduction {
        background-attachment: fixed;
    }
}

@media (max-width: 991px) {
    .introduction {
        height: 100vh;
    }

    .introduction .animated {
        -webkit-animation: none;
        animation: none;
    }

    .introduction .introduction-image-carousel {
        width: 300px !important;
        height: 220px !important;
        float: none;

        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

    .introduction .introduction-image-carousel img {
        width: 300px !important;
        height: 220px !important;
    }
}

@media (max-width: 768px) {
    .introduction {
        margin-top: 4.5rem;
    }

    .introduction h1 {
        font-size: 3rem;
        line-height: 4.5rem;
    }

    .introduction h2 {
        font-size: 1rem;
        line-height: 1.5rem;
        margin-bottom: 30px;
    }

    .introduction .introduction-img img {
        width: 70%;
    }
}

@media (max-width: 575px) {
    .introduction .introduction-img img {
        width: 80%;
    }
}

@-webkit-keyframes up-down {
    0% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(-10px);
    }
}

@keyframes up-down {
    0% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(-10px);
    }
}

/*
 * Divider
 */

.divider {
    padding: 0 !important;
}

.divider .divider-line {
    background: var(--main-red);
    padding: .25rem 0;
}

/*
 * Research Field
 */
.research-field .carousel-border {
    border: .1rem solid var(--light-grey);
    border-radius: .5rem;
    padding: .5rem;
}

.research-field .carousel-border:hover {
    box-shadow: 0 0 .05rem .05rem rgb(158, 37, 41);
}

/*
 * Album
 */
.album .album-item {
    margin-bottom: 2rem;
}

.album .album-wrap {
    position: relative;
    overflow: hidden;
    z-index: 1;
    background: rgba(34, 34, 34, 0.5);
    border-radius: .5rem;
    transition: 0.3s;
    margin-top: 1rem;
}

.album .album-wrap:hover {
    box-shadow: 0 0 .05rem .15rem rgb(158, 37, 41);
}

.album .album-wrap::before {
    content: "";
    background: rgba(34, 34, 34, 0.5);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 3;
    opacity: 0;
    transition: all ease-in-out 0.3s;
}

.album .album-wrap img {
    transition: all ease-in-out 0.3s;
}

.album .album-wrap .album-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 3;
    opacity: 0;
    padding: 1rem;
    transition: all ease-in-out 0.3s;
}

.album .album-wrap .album-info h5 {
    color: var(--dark-white);
    font-weight: var(--strong-font-weight);
}

.album .album-wrap .album-info span {
    color: var(--lightest-grey);
    font-style: italic;
}

.album .album-wrap .album-links {
    text-align: center;
    z-index: 4;
}

.album .album-wrap .album-links a {
    color: #fff;
    margin: 0 .5rem 0 0;
    font-size: 2rem;
    display: inline-block;
    transition: 0.3s;
}

.album .album-wrap .album-links a:hover {
    color: #3498db;
}

.album .album-wrap:hover::before {
    opacity: 1;
}

.album .album-wrap:hover img {
    transform: scale(1.2);
}

.album .album-wrap:hover .album-info {
    opacity: 1;
}

/*
 * Board
 */
.board a {
    color: var(--main-red);
    text-decoration: none;
}

.board a:hover {
    color: var(--lighter-red);
    text-decoration: none;
}

/*
 * Contact
 */
.contact .section-content h3 {
    margin-bottom: .5rem;
    font-weight: var(--strong-font-weight);
}

.contact h6 a {
    font-size: 1rem;
    color: var(--main-red);
    text-decoration: none;
}

.contact h6 a:hover {
    font-size: 1rem;
    color: var(--lighter-red);
    text-decoration: none;
}

@-webkit-keyframes animate-loading {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes animate-loading {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/*
 * About Us
 */
.learn-more-read-wrapper {
    width: 65%;
    height: 65%;
    margin: auto;
}

.learn-more-read-content {
    margin-top: .75rem;
    width: 100%;
    height: auto;
}

.learn-more-video-wrapper {
    width: 65%;
    height: 65%;
    margin: auto;
}

.learn-more-video-content {
    margin-top: .75rem;
    width: 100%;
    height: auto;
}

/*
 * Member
 */
.member {
    overflow: hidden;
    border-radius: .5rem;
    background: var(--white);
    box-shadow: 0rem .1rem 1rem rgba(0, 0, 0, 0.1);
    margin: 0 .5rem;
}

.member-img {
    position: relative;
    overflow: hidden;
}

.member-img .member-photo {
    padding: .25rem .25rem 0 .25rem;
    border-radius: .25rem;
    border: lightgrey;
    height: 230px;
    width: 230px;
}

@media (max-width: 1199px) {
    .member-img .member-photo {
        height: 185px;
        width: 185px;
    }
}

@media (max-width: 991px) {
    .member-img .member-photo {
        height: 305px;
        width: 305px;
    }
}

@media (max-width: 768px) {
    .member-img .member-photo {
        height: 485px;
        width: 485px;
    }
}

.social {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 2.75rem;
    opacity: 0;
    transition: ease-in-out 0.3s;
    text-align: center;
    background: rgba(255, 255, 255, 0.75);
}

.social a {
    transition: color 0.3s;
    margin: 0 .75rem;
    padding-top: .5rem;
    display: inline-block;
}

.social a img {
    width: 1.25rem;
    height: 1.25rem;
}

.member-info {
    padding: .75rem .5rem;
}

.member-info h4 {
    font-weight: var(--strong-font-weight);
    margin-bottom: .75rem;
    color: var(--main-black);
}

.member-info a:hover {
    text-decoration: none;
}

.member-info a:hover h4 {
    color: var(--lighter-black);
}

.member-info h6 {
    font-size: 1rem;
    color: var(--main-grey);
}

.member-img:hover .social {
    opacity: 1;
}

/*
 * Publication
 */
.publication .publication-wrap {
    margin: 0 1rem;
    word-break: break-all;
}

.publication .publication-wrap .title {
    font-size: 1.5em;
    color: var(--main-red);
    font-weight: 450;
}

.publication .publication-wrap .title:hover {
    text-decoration: none;
    color: var(--lighter-red);
}

.publication .publication-wrap .authors {
    font-size: 1em;
    color: rgb(34, 154, 81);
    font-weight: 450;
}

/*
 * project
 */
.project h4 {
    margin-bottom: 1.5rem;
    font-weight: var(--strong-font-weight);
}

.project ul li {
    list-style-type: square;
    margin-bottom: .5rem !important;
    line-height: 1;
}

.project ul li a {
    font-size: 1.1rem;
}

.project ul li span {
    font-size: 1.1rem;
}

.project {
    color: var(--main-grey);
}

/*
 * Alumni Association
 */


/*
 * Seminar
 */
