/*
 * About Us
 */

.about-us .who-we-are h3 {
    font-weight: var(--strong-font-weight);
}

.about-us .count-box {
    margin-bottom: 40px;
    width: 100%;
}

.about-us .count-box i {
    font-size: 2rem;
    color: var(--main-red);
    margin-right: .75rem;
}

.about-us .count-box .count-number {
    font-size: 1.5rem;
    font-weight: var(--strong-font-weight);
}

.about-us .count-box .count-title {
    font-size: 1.5rem;
    font-weight: var(--strong-font-weight);
}

.about-us .count-box .count-info {
    font-size: var(--large-font-size);
    font-style: italic;
}

.about-us .count-box .count-content {
    display: inline-block;
    margin-top: .5rem;
    font-size: var(--large-font-size);
}

.about-us iframe {
    width: 100%;
    height: 400px;
}


.learn-more-read-wrapper {
    width: 75%;
    height: 75%;
    margin: auto;
}

.learn-more-read-content {
    margin-top: .75rem;
    width: 100%;
    height: auto;
}

.learn-more-video-wrapper {
    width: 75%;
    height: 75%;
    margin: auto;
}

.learn-more-video-content {
    margin-top: .75rem;
    width: 100%;
    height: auto;
}

@media (max-width: 768px) {
    .learn-more-read-wrapper {
        width: 100%;
        height: 100%;
        margin: auto;
    }

    .learn-more-video-wrapper {
        width: 100%;
        height: 100%;
        margin: auto;
    }
}


/*
 * Member
 */
.member {
    overflow: hidden;
    border-radius: .5rem;
    background: var(--white);
    box-shadow: 0rem .1rem 1rem rgba(0, 0, 0, 0.1);
    margin-left: auto;
    margin-right: auto;
}

.member .member-img {
    position: relative;
    overflow: hidden;
}

.member .member-img .member-photo {
    height: 220px;
    width: 220px;
}

.read-member-photo {
    height: 175px;
    width: 175px;
}

@media (max-width: 1199px) {
    .member .member-img .member-photo {
        height: 185px;
        width: 185px;
    }
}

@media (max-width: 991px) {
    .member .member-img .member-photo {
        height: 185px;
        width: 185px;
    }

    .member .read-member-photo {
        height: 195px;
        width: 195px;
    }
}

@media (max-width: 768px) {
    .member .member-img .member-photo {
        height: 215px;
        width: 215px;
    }

    .member .read-member-photo {
        height: 225px;
        width: 225px;
    }
}

@media (max-width: 575px) {
    .member .member-img .member-photo {
        height: 280px;
        width: 280px;
    }

    .member .read-member-photo {
        height: 265px;
        width: 265px;
    }
}

.member .member-img .social {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 2rem;
    opacity: 0;
    transition: ease-in-out 0.3s;
    text-align: center;
    background: rgba(255, 255, 255, 0.75);
}

.member .member-img .social a {
    transition: color 0.3s;
    margin: 0 .5rem;
    padding-top: .25rem;
    display: inline-block;
}

.member .member-img .social a:hover {
    text-decoration: none;
    color: var(--lighter-grey);
}

.member .member-img .social a i {
    font-size: 1.2rem;
    color: var(--dark-grey);
    line-height: 1.5rem;
}

@media (max-width: 768px) {
    .member .member-img .social {
        height: 2.5rem;
    }

    .member .member-img .social a i {
        font-size: 1.4rem;
        line-height: 2.1rem
    }
}

@media (max-width: 575px) {
    .member .member-img .social {
        height: 3rem;
    }

    .member .member-img .social a i {
        font-size: 1.6rem;
        line-height: 2.4rem;
        margin-left: .25rem;
        margin-right: .25rem;
    }
}

.member .member-info {
    padding: .75rem .5rem;
    width: 220px;
}

@media (max-width: 1199px) {
    .member .member-info {
        width: 185px;
    }
}

@media (max-width: 991px) {
    .member .member-info {
        width: 185px;
    }
}

@media (max-width: 768px) {
    .member .member-info {
        width: 215px;
    }
}

@media (max-width: 575px) {
    .member .member-info {
        width: 280px;
    }
}

.member .member-info h5 {
    font-weight: var(--strong-font-weight);
    margin-bottom: .75rem;
    color: var(--main-black);
}

.member .member-info a:hover {
    text-decoration: none;
}

.member .member-info a:hover h5 {
    color: var(--darker-grey);
}

.member .member-info h6 {
    font-size: var(--regular-font-size);
    color: var(--grey);
}

.member-img:hover .social {
    opacity: 1;
}

.member-contact .contact-info {
    font-size: var(--large-font-size);
    color: var(--darkest-grey);
    line-height: 2rem;
}

/*
 * Publication
 */
.publication .publication-wrap {
    margin: 0 1rem;
    word-break: break-all;
    white-space: normal;
}

.publication .publication-wrap .title {
    font-size: 1.35em;
    color: var(--main-red);
    font-weight: 450;
}

.publication .publication-wrap .title:hover {
    text-decoration: none;
    color: var(--lighter-red);
}

.publication .publication-wrap .authors {
    font-size: .9rem;
    color: rgb(34, 154, 81);
    font-weight: 450;
}

/*
 * project
 */
.project h4 {
    margin-bottom: 1.5rem;
    font-weight: var(--strong-font-weight);
}

.project ul li {
    list-style-type: square;
    margin-bottom: .5rem !important;
    line-height: 1.5;
}

.project ul li a {
    font-size: 1.1rem;
}

.project ul li span {
    font-size: 1.1rem;
}

/*
 * Event
 */
.event-page .event-content i {
    color: var(--main-red);
}


/*
 * Album
 */

.album-page .album-main-hash-tag-wrap {
    margin-top: 1.5rem;
    height: 2.75rem;
}

.album-page .album-main-hash-tag-wrap .album-main-hash-tag {
    font-style: italic;
}

.album-page .album-wrap {
    margin-top: .5rem;
    margin-bottom: .75rem;
    position: relative;
    overflow: hidden;
    z-index: 1;
    border-radius: .25rem;
    transition: 0.3s;
    width: 550px;
    height: auto;
}

.album-page .album-wrap::before {
    content: "";
    background: rgba(34, 34, 34, 0.5);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 3;
    opacity: 0;
    transition: all ease-in-out 0.3s;
}

.album-page .album-wrap img {
    transition: all ease-in-out 0.3s;
    width: 550px;
    height: auto;
}

@media (max-width: 1199px) {
    .album-page .album-wrap {
        width: 450px;
    }

    .album-page .album-wrap img {
        width: 450px;
    }
}

@media (max-width: 992px) {
    .album-page .album-wrap {
        width: 100%;
        height: auto;
    }

    .album-page .album-wrap img {
        width: 100%;
        height: auto;
    }
}

@media (max-width: 768px) {
    .vbox-container img {
        width: 100%;
        height: auto !important;
    }
}

.album-page .album-wrap .album-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 3;
    opacity: 0;
    padding: 1rem;
    transition: all ease-in-out 0.3s;
}

.album-page .album-wrap .album-info h2 {
    color: var(--main-white);
    font-weight: var(--strong-font-weight);
}

.album-page .album-wrap .album-info .hash-tag {
    color: var(--darker-white);
    font-size: var(--larger-font-size);
    font-style: italic;
}

.album-page .album-wrap:hover::before {
    opacity: 1;
}

.album-page .album-wrap:hover img {
    transform: scale(1.2);
}

.album-page .album-wrap:hover .album-info {
    opacity: 1;
}