/**
 * main
 */
.container-main {
    padding-left: 2rem !important;
    padding-right: 2rem !important;;
    background-color: var(--dark-white);
}

.url-icon-area {
    border-radius: .75rem;
    padding: .4rem;
    border: .025rem solid var(--lighter-grey);
    background-color: var(--white);
    margin-top: -2.5rem;
}

.external-link {
    padding-right: .75rem;
    border-right: .05rem solid var(--lighter-grey);
}

.table-card {
    border-radius: .75rem !important;
    margin: .5rem;
    padding: 0rem !important;
    background-color: white;
}

.table-card-header{
    border-top-left-radius: .75rem !important;
    border-top-right-radius: .75rem !important;
    background-color: var(--lightest-blue) !important;
    border-bottom: none !important;
}

.static-card-body {
    padding: 1.25rem .25rem !important;
}

.statics-count {
    color: var(--darker-grey);
    text-align: center;
    font-size: var(--largest-font-size);
}

.disk-name {
    text-align: center;
    font-weight: var(--strong-font-weight);
}

.disk-space{
    color: var(--darker-grey);
}