/*
 * File
 */
#fileDrop {
    margin-top: 1rem;
    line-height: 10rem;
    border: .1rem dashed gray;
    text-align: center;
    color: grey;
    border-radius: 1rem;
}

/*
 * Board
 */
.sub-item-title {
    font-weight: var(--strong-font-weight);
    font-size: var(--larger-font-size);
    text-align: center;
}

.date {
    font-size: var(--regular-font-size);
    color: var(--lighter-black);
}

.content-small {
    overflow: auto;
    min-height: 200px;
    height: auto;
    resize: none;
}

.content {
    overflow: auto;
    min-height: 500px;
    height: auto;
    resize: none;
}

#comment.comment {
    height: 10rem;
    resize: none;
}

[id^="updateContent"].comment {
    height: 10rem;
    resize: none;
}

.hash-tag {
    background-color: var(--lightest-grey);
    color: var(--dark-grey);
    border-radius: .5rem;
    display: inline-block;
    padding: .5rem;
    margin-right: .5rem;
}

.disable {
    background-color: var(--lighter-grey);
    color: var(--dark-grey);
}

.required-field {
    margin-left: .2rem;
    color: red;
    font-weight: 700;
}

.user-page-show-field {
    margin-left: .2rem;
    color: blue;
    font-weight: 700;
}