:root {
    /* font-weight */
    --strong-font-weight: 700;
    --regular-font-weight: 500;
    --light-font-weight: 300;
    --thin-font-weight: 100;

    /* font-size */
    --largest-font-size: 1.6rem;
    --larger-font-size: 1.1rem;
    --large-font-size: 1rem;
    --regular-font-size: .9rem;
    --small-font-size: .8rem;
    --smaller-font-size: .7rem;

    /* color */
    --black: rgb(0, 0, 0);

    --main-black: rgb(36, 36, 36);
    --light-black: rgb(48, 48, 48);
    --lighter-black: rgb(64, 64, 64);

    --darker-grey: rgb(84, 84, 84);
    --dark-grey: rgb(96, 96, 96);
    --main-grey: rgb(128, 128, 128);
    --light-grey: rgb(160, 160, 160);
    --lighter-grey: rgb(192, 192, 192);
    --lightest-grey: rgb(224, 224, 224);

    --darkest-white: rgb(232, 232, 232);
    --darker-white: rgb(240, 240, 240);
    --dark-white: rgb(248, 248, 248);
    --white: rgb(255, 255, 255);

    --lightest-red: rgb(233, 37, 47);
    --lighter-red: rgb(208, 37, 47);
    --light-red: rgb(183, 37, 47);
    --main-red: rgb(158, 37, 41);
    --dark-red: rgb(133, 37, 47);
    --darker-red: rgb(108, 37, 47);
    --darkest-red: rgb(83, 37, 47);

    --lightest-blue: rgb(245, 245, 250);
}
