<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- css -->
    <th:block th:replace="layout/css.html"></th:block>

    <title th:text="${@environment.getProperty('title')} + ' | Login History Read'"></title>
</head>
<body>

<div class="d-flex" id="wrapper">
    <!-- sidebar -->
    <div th:replace="layout/sidebar::sidebar"></div>

    <div id="page-content-wrapper">
        <!-- header -->
        <div th:replace="layout/header::header"></div>

        <div class="container-fluid">
            <form name="form" id="form" th:object="${loginHistoryDto}" action="#">
                <div class="page-header breadcrumbs">
                    <div class="d-flex justify-content-between align-items-center">
                        <h2>Login History Read</h2>
                        <ol>
                            <li>Home</li>
                            <li>Login History Read</li>
                        </ol>
                    </div>
                </div>

                <div class="page-content">
                    <table class="table mobile-table-read mt-4">
                        <colgroup>
                            <col width="17.5%"/>
                            <col width="82.5%"/>
                        </colgroup>

                        <tr>
                            <th colspan="2" class="sub-item-title">Login History Information</th>
                        </tr>
                        <!-- Desktop -->
                        <tr class="d-none d-sm-none d-md-none d-lg-table-row">
                            <th>Aud Ip</th>
                            <td th:text="*{audIp}"></td>
                        </tr>
                        <tr class="d-none d-sm-none d-md-none d-lg-table-row">
                            <th>Aud Location</th>
                            <td th:text="*{audLocation}"></td>
                        </tr>
                        <tr class="d-none d-sm-none d-md-none d-lg-table-row">
                            <th>Aud Message</th>
                            <td th:text="*{audMessage}"></td>
                        </tr>
                        <tr class="d-none d-sm-none d-md-none d-lg-table-row">
                            <th>Aud Sub Message</th>
                            <td th:text="*{audSubMessage}"></td>
                        </tr>
                        <tr class="d-none d-sm-none d-md-none d-lg-table-row">
                            <th>Login Result</th>
                            <td>
                                <span th:if="*{audLoginResultType?.name() == 'SUCCESS'}" th:text="Success"> </span>
                                <span th:if="*{audLoginResultType?.name() == 'FAIL'}" th:text="Fail"> </span>
                            </td>
                        </tr>

                        <!-- Mobile -->
                        <tr class="d-print-none d-sm-table-row d-md-table-row d-lg-none d-xl-none d-table-row">
                            <td colspan="2">
                                <strong class="mobile-default">Aud Ip: </strong><span th:text="*{audIp}" class="mobile-default"></span><br>

                                <strong class="mobile-default">Aud Location: </strong><span th:text="*{audLocation}" class="mobile-default"></span><br>

                                <strong class="mobile-default">Aud Message: </strong><span th:text="*{audMessage}" class="mobile-default"></span><br>

                                <strong class="mobile-default">Aud Sub Message: </strong><span th:text="*{audSubMessage}" class="mobile-default"></span><br>

                                <strong class="mobile-default">Login Result: </strong>
                                <span th:if="*{audLoginResultType?.name() == 'SUCCESS'}" th:text="Success" class="mobile-default"> </span>
                                <span th:if="*{audLoginResultType?.name() == 'FAIL'}" th:text="Fail" class="mobile-default"> </span>
                            </td>
                        </tr>

                        <tr>
                            <th colspan="2" class="sub-item-title">Additional Information</th>
                        </tr>
                        <!-- Desktop -->
                        <tr class="d-none d-sm-none d-md-none d-lg-table-row">
                            <th>Active Status</th>
                            <td>
                                <span th:if="*{activeStatus?.name() == 'ACTIVE'}" th:text="Active"> </span>
                                <span th:if="*{activeStatus?.name() == 'INACTIVE'}" th:text="Inactive"> </span>
                            </td>
                        </tr>
                        <tr class="d-none d-sm-none d-md-none d-lg-table-row">
                            <th>Created Date</th>
                            <td th:text="*{#temporals.format(createdDate,'yyyy-MM-dd HH:mm')}"></td>
                        </tr>
                        <tr class="d-none d-sm-none d-md-none d-lg-table-row">
                            <th>Last Modified Date</th>
                            <td th:text="*{#temporals.format(lastModifiedDate,'yyyy-MM-dd HH:mm')}"></td>
                        </tr>
                        <tr class="d-none d-sm-none d-md-none d-lg-table-row">
                            <th>Created By</th>
                            <td th:text="*{createdBy}"></td>
                        </tr>
                        <tr class="d-none d-sm-none d-md-none d-lg-table-row">
                            <th>Last Modified By</th>
                            <td th:text="*{lastModifiedBy}"></td>
                        </tr>
                        <tr class="d-none d-sm-none d-md-none d-lg-table-row">
                            <th>Views</th>
                            <td th:text="*{views}"></td>
                        </tr>

                        <!-- Mobile -->
                        <tr class="d-print-none d-sm-table-row d-md-table-row d-lg-none d-xl-none d-table-row">
                            <td colspan="2">
                                <strong class="mobile-default">Active Status: </strong>
                                <span th:if="*{activeStatus?.name() == 'ACTIVE'}" th:text="Active" class="mobile-default"> </span>
                                <span th:if="*{activeStatus?.name() == 'INACTIVE'}" th:text="Inactive" class="mobile-default"> </span><br>

                                <strong class="mobile-default">Created Date: </strong><span th:text="*{#temporals.format(createdDate,'yyyy-MM-dd HH:mm')}" class="mobile-default"></span><br>

                                <strong class="mobile-default">Last Modified Date: </strong><span th:text="*{#temporals.format(lastModifiedDate,'yyyy-MM-dd HH:mm')}" class="mobile-default"></span><br>

                                <strong class="mobile-default">Created By: </strong><span th:text="*{createdBy}" class="mobile-default"></span><br>

                                <strong class="mobile-default">Last Modified By: </strong><span th:text="*{lastModifiedBy}" class="mobile-default"></span><br>

                                <strong class="mobile-default">Views: </strong> <span th:text="*{views}" class="mobile-default"></span>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="10"></td>
                        </tr>
                    </table>

                    <div class="row justify-content-between mt-4 mb-4">
                        <div class="col-auto">
                            <a href="/login-history/list" class="btn btn-sm btn-secondary">Move to List</a>
                        </div>
                        <div th:if="*{access}" class="col-auto ml-2">
                            <button th:if="*{activeStatus?.name() == 'ACTIVE'}" type="button" class="btn btn-sm btn-info mx-1" id="active">Inactive</button>
                            <button th:if="*{activeStatus?.name() == 'INACTIVE'}" type="button" class="btn btn-sm btn-info mx-1" id="active">Active</button>
                            <button type="button" class="btn btn-sm btn-danger mx-1" id="delete">Delete</button>
                        </div>
                    </div>

                    <!-- input type="hidden" -->
                    <input type="hidden" name="idx" th:value="*{idx}"/>
                    <input type="hidden" name="activeStatus" th:value="*{activeStatus}"/>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- footer -->
<div th:replace="layout/footer::footer"></div>

<!-- script file -->
<th:block th:replace="layout/script.html"></th:block>
<script>
    sweetalertFire("login-history");

    $("#active").click(function () {
        Confirm.fire({
            icon: "warning",
            title: "Do you want to update?",
        }).then((result) => {
            if (result.isConfirmed) {
                // duplicate submit check
                if (duplicateSubmitCheck()) return false;

                var changedActiveStatus;

                if (document.getElementsByName("activeStatus")[0].value === "ACTIVE") {
                    changedActiveStatus = "INACTIVE";
                } else {
                    changedActiveStatus = "ACTIVE";
                }

                // activeStatus 수정
                $.ajax({
                    url: moduleAppApiAddress + "/api/login-historys/" + document.getElementsByName("idx")[0].value + "/" + changedActiveStatus,
                    type: "put",
                    loginType: "text",
                    contentType: "application/json",
                    async: false,
                })
                    .done(function (msg) {
                        localStorage.setItem("result", "/login-history/update-success");
                        location.href = "/login-history?idx=" + document.getElementsByName("idx")[0].value;
                    })
                    .fail(function (msg) {
                        parseErrorMsg(msg);
                        duplicateSubmitFlag = false;
                    })
            } else {
                return false;
            }
        })
    });

    $("#delete").click(function () {
        Confirm.fire({
            icon: "warning",
            title: "Do you want to update?",
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    url: moduleAppApiAddress + "/api/login-historys/" + document.getElementsByName("idx")[0].value,
                    type: "delete",
                    loginType: "text",
                    contentType: "application/json",
                    async: false,
                })
                    .done(function (msg) {
                        localStorage.setItem("result", "/login-history/update-success");
                        location.href = "/login-history/list";
                    })
                    .fail(function (msg) {
                        parseErrorMsg(msg);
                    })
            } else {
                return false;
            }
        })
    });
</script>

</body>
</html>