<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- css -->
    <th:block th:replace="layout/css.html"></th:block>

    <title>Alumni Association Form</title>
</head>
<body>

<div class="d-flex" id="wrapper">
    <!-- sidebar -->
    <div th:replace="layout/sidebar::sidebar"></div>

    <div id="page-content-wrapper">
        <!-- header -->
        <div th:replace="layout/header::header"></div>

        <div class="container-fluid">
            <form name="form" id="form" th:object="${alumniAssociationDto}" action="#">
                <div class="page-header">
                    <h1 th:if="!*{idx}">Alumni Association Register</h1>
                    <h1 th:if="*{idx}">Alumni Association Update</h1>
                </div>

                <div class="mt-5">
                    <table class="table">
                        <colgroup>
                            <col width="15%"/>
                            <col width="85%"/>
                        </colgroup>
                        <tr>
                            <th colspan="2" class="sub-item-title"><h5>AlumniAssociation Information</h5></th>
                        </tr>
                        <tr>
                            <th>Title</th>
                            <td>
                                <input type="text" name="title" class="form-control" th:value="*{title}"/>
                            </td>
                        </tr>
                        <tr>
                            <th>Title Type</th>
                            <td>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" class="custom-control-input" name="titleType" id="introduction" th:value="INTRODUCTION" th:checked="*{titleType?.name() == 'INTRODUCTION' ||  titleType?.name() == null}">
                                    <label class="custom-control-label" th:for="introduction"><strong> Introduction(This title type is placed top.) </strong></label>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" class="custom-control-input" name="titleType" id="activityResult" th:value="ACTIVITY_RESULT" th:checked="*{titleType?.name() == 'ACTIVITY_RESULT'}">
                                    <label class="custom-control-label" th:for="activityResult"><strong> Activity Result(This title type is placed bottom.) </strong></label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th>Main Page Priority</th>
                            <td>
                                <div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" id="mainPageNonCheck" name="mainPage" class="custom-control-input" th:checked="*{priority == -1 ||  priority == null}">
                                        <label class="custom-control-label" for="mainPageNonCheck"><strong>Don't show main page.</strong></label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" id="mainPageCheck" name="mainPage" class="custom-control-input" th:checked="*{priority >= 0}">
                                        <label class="custom-control-label" for="mainPageCheck"><strong>Show main page and set priority.</strong></label>
                                    </div>
                                </div>
                                <select class="custom-select main-page-priority mt-3" name="priority" th:field="*{priority}" th:style="*{priority >= 0} ? 'display: inline;' : 'display: none'">
                                    <option th:value="-1" th:text="'Don\'t show main page.'" th:style="'display: none;'" selected></option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2"><textarea name="content" id="summernote" class="summernote" th:text="*{content}"></textarea></td>
                        </tr>
                        <tr>
                            <th colspan="2" class="sub-item-title"><h5>Additional Information</h5></th>
                        </tr>
                        <tr>
                            <th>Active Status</th>
                            <td>
                                <div class="pull-left">
                                    <select class="custom-select" name="activeStatus" th:field="*{activeStatus}">
                                        <option th:value="ACTIVE">Active</option>
                                        <option th:value="INACTIVE">Inactive</option>
                                    </select>
                                </div>
                            </td>
                        </tr>
                        <tr th:if="*{idx}">
                            <th>Created Date</th>
                            <td><input type="text" class="form-control" readonly="readonly" th:value="*{#temporals.format(createdDate,'yyyy-MM-dd HH:mm')}"/></td>
                        </tr>
                        <tr th:if="*{idx}">
                            <th>Modified Date</th>
                            <td><input type="text" class="form-control" readonly="readonly" th:value="*{#temporals.format(lastModifiedDate,'yyyy-MM-dd HH:mm')}"/></td>
                        </tr>
                    </table>
                </div>

                <div class="row justify-content-between">
                    <div class="col-auto mx-3">
                        <a href="/alumni-association/list" class="btn btn-secondary col-auto">Move to List</a>
                    </div>
                    <div class="col-auto mx-3">
                        <button th:if="!*{idx}" id="insert" type="button" class="btn btn-primary col-auto">Register</button>
                        <button th:if="*{idx}" id="update" type="button" class="btn btn-info col-auto">Update</button>
                    </div>
                </div>

                <!-- input type="hidden" -->
                <input type="hidden" name="idx" th:value="*{idx}"/>
                <input type="hidden" name="createdBy" th:value="*{#strings.isEmpty(createdBy)} ? ${#authentication.principal.username} : *{createdBy}"/>
                <input type="hidden" name="lastModifiedBy" th:value="${#authentication.principal.username}"/>
            </form>
        </div>
    </div>
</div>

<!-- footer -->
<div th:replace="layout/footer::footer"></div>

<!-- script file -->
<th:block th:replace="layout/script.html"></th:block>

<!-- javascript -->
<script th:inline="javascript">
    $(document).ready(function () {
        <!-- summernote setting -->
        $('#summernote').summernote({
            height: 400,	// 에디터 높이
            minHeight: null,	// 최소 높이
            maxHeight: null,	// 최대 높이
            // focus: true,	// 에디터 로딩후 포커스를 맞출지 여부
            lang: "ko-KR",// 한글 설정
            placeholder: "The editor's max input size of bytes is 16777215(16 MB)."	//placeholder 설정
        });

        <!-- Main Page Priority -->
        var prioritySelect = document.getElementsByName("priority")[0];
        var alumniAssociationDtoList = [[${alumniAssociationDtoList}]];
        var alumniAssociationDto = [[${alumniAssociationDto}]];

        for (var i = 0; i < 20; i++) {
            var option = document.createElement("option");
            option.text = i + 1;
            option.value = i + 1;
            prioritySelect.options.add(option, i + 1);
        }

        for (var i = 0; i < alumniAssociationDtoList.length; i++) {
            var priority = alumniAssociationDtoList[i].priority;

            // 현재 alumniAssociation의 priority인 경우(select)
            if (priority == alumniAssociationDto.priority) {
                prioritySelect.options.item(priority).selected = true;
            }
            // 다른 alumniAssociation의 priority인 경우(disable)
            else {
                prioritySelect.options.item(priority).text += " has been set by '" + alumniAssociationDtoList[i].title + "'.(disabled)";
                prioritySelect.options.item(priority).className = "disable";
                prioritySelect.options.item(priority).disabled = true;
            }
        }
    });

    function deleteAlumniAssociation(alumniAssociationIdx) {
        // 게시글 삭제
        $.ajax({
            url: "http://localhost:8081/api/alumni_associations/" + alumniAssociationIdx,
            type: "delete",
            dataType: "text",
            contentType: "application/json",
            async: false,
        })
            .done(function (msg) {

            })
            .fail(function (msg) {
                console.log("Delete notice board is fail.");
            });
    }

    // Main Page Priority 변경
    $("#mainPageNonCheck").on("change", function () {
        document.getElementsByName("priority")[0].style.display = "none";
        document.getElementsByName("priority")[0].value = -1;
    });

    $("#mainPageCheck").on("change", function () {
        var alumniAssociationDto = [[${alumniAssociationDto}]];
        document.getElementsByName("priority")[0].style.display = "inline";

        // register || update 일 때의 priority
        if (!(alumniAssociationDto.priority == null || alumniAssociationDto.priority == -1)) {
            document.getElementsByName("priority")[0].options.item(alumniAssociationDto.priority - 1).selected = true;
        }
    });
</script>

<script th:if="!${alumniAssociationDto?.idx}">
    $('#insert').click(function () {
        // (input tag mame, length or size, message)
        if (!(validateByLength("title", 50, "title") && validateBySize("content", 16777215, "content"))) {
            return false;
        }

        var jsonData = $("#form").serializeObject();

        // 게시글 업로드
        $.ajax({
            url: "http://localhost:8081/api/alumni-associations",
            type: "post",
            data: JSON.stringify(jsonData),
            dataType: "text",
            contentType: "application/json",
            async: false,
        })
            .done(function (msg) {
                location.href = "/alumni-association?idx=" + msg;
            })
            .fail(function (msg) {
                paraseErrorMsg(msg);
                console.log("Update alumniAssociation is fail.");
            });
    });
</script>

<script th:if="${alumniAssociationDto?.idx}" th:inline="javascript">
    $('#update').click(function () {
        // (input tag mame, length or size, message)
        if (!(validateByLength("title", 50, "title") && validateBySize("content", 16777215, "content"))) {
            return false;
        }

        var jsonData = $("#form").serializeObject();
        var alumniAssociationIdx = document.getElementsByName("idx")[0].value;

        // 게시글 수정
        $.ajax({
            url: "http://localhost:8081/api/alumni-associations/" + alumniAssociationIdx,
            type: "put",
            data: JSON.stringify(jsonData),
            dataType: "text",
            contentType: "application/json",
            async: false,
        })
            .done(function (msg) {
                location.href = "/alumni-association?idx=" + alumniAssociationIdx;
            })
            .fail(function (msg) {
                paraseErrorMsg(msg);
                console.log("Update alumniAssociation is fail.");
                exit = true;
            });

    });
</script>

</body>
</html>