<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- css -->
    <th:block th:replace="layout/css.html"></th:block>

    <title th:text="${@environment.getProperty('title')} + ' | Alumni Association Detail'"></title>
</head>
<body>
<div id="wrapper">
    <div id="page-content-wrapper">
        <!-- header -->
        <div th:replace="layout/header::header"></div>

        <div class="container">
            <form name="form" id="form" th:object="${alumniAssociationDto}" action="#">
                <div class="page-header breadcrumbs" data-aos="fade-up" data-aos-delay="100">
                    <div class="d-flex justify-content-between align-items-center">
                        <h2>Alumni Association Detail</h2>
                        <ol>
                            <li>Home</li>
                            <li>Alumni Association Detail</li>
                        </ol>
                    </div>
                </div>

                <div class="mt-4" data-aos="fade-up" data-aos-delay="150">
                    <div class="mb-2 text-right">
                        <strong class="date">&nbsp;&nbsp;Created Date: </strong>
                        <span class="date" th:text="*{#temporals.format(createdDate,'yyyy-MM-dd HH:mm')}"/> </span><br>

                        <strong class="date">Modified Date: </strong>
                        <span class="date" th:text="*{#temporals.format(lastModifiedDate,'yyyy-MM-dd HH:mm')}"/></span>
                    </div>

                    <table class="table">
                        <colgroup>
                            <col width="12.5%"/>
                            <col width="87.5%"/>
                        </colgroup>
                        <tr>
                            <th>Title</th>
                            <td><span id="title" th:text="*{title}"></span></td>
                        </tr>
                        <tr>
                            <td colspan="2"><span class="form-control form-control-sm content" id="content" th:utext="*{content}"></span></td>
                        </tr>
                    </table>
                </div>

                <div class="row justify-content-between mt-5 mb-4">
                    <div class="col-auto mx-3">
                        <a href="/alumni-association/list" class="btn btn-secondary">Move to List</a>
                    </div>
                </div>

                <!-- input type="hidden" -->
                <input type="hidden" name="idx" th:value="*{idx}"/>
            </form>
        </div>
    </div>
</div>

<!-- footer -->
<div th:replace="layout/footer::footer"></div>

<!-- script file -->
<th:block th:replace="layout/script.html"></th:block>

<script th:inline="javascript">
    sweetalertFire("alumni-association");

    $("#delete").click(function () {
        Confirm.fire({
            icon: "warning",
            title: "Do you want to delete?",
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    url: moduleAppApiAddress + "/api/alumni-associations/" + document.getElementsByName("idx")[0].value,
                    type: "delete",
                    dataType: "text",
                    contentType: "application/json",
                    async: false,
                })
                    .done(function (msg) {
                        location.href = "/alumni-association/list";
                    })
                    .fail(function (msg) {
                        parseErrorMsg(msg);
                    })
            } else {
                return false;
            }
        })
    });
</script>

</body>
</html>